.row.blog-entry.show-action
  .col-xs-1
    .date
      .month
        %p
          =localize @blog_entry.date, format: '%B' if @blog_entry.date
      .day
        %p
          =localize @blog_entry.date, format: '%d' if @blog_entry.date
      .year
        %p
          =localize @blog_entry.date, format: '%Y' if @blog_entry.date
  .col-xs-4
    .image
      - if @blog_entry.teaser_image_file_name
        = image_tag @blog_entry.teaser_image.url(:medium), alt: @blog_entry.teaser_image_file_name
  .col-xs-7
    .text
      %h1.headline= @blog_entry.name
      .teaser-text.large= @blog_entry.teaser_text.html_safe

    .socials
      = render 'public/shared/social_links_vertical', title: @blog_entry.name, image: absolute_attachment_url(@blog_entry.teaser_image, :medium), url: complete_blog_entries_url(@blog_entry.params_for_show)