.row.blog-entry
  .col-xs-1
    .date
      .month
        %p
          =localize @blog_entry.date, format: '%B' if @blog_entry.date
      .day
        %p
          =localize @blog_entry.date, format: '%d' if @blog_entry.date
      .year
        %p
          =localize @blog_entry.date, format: '%Y' if @blog_entry.date
  .col-xs-4
    .image
      - if @blog_entry.teaser_image_file_name
        = link_to complete_blog_entries_path(@blog_entry.params_for_show) do
          = image_tag @blog_entry.teaser_image.url(:medium), alt: @blog_entry.teaser_image_file_name
  .col-xs-7
    .text
      %h2.headline
        =link_to @blog_entry.name, complete_blog_entries_path(@blog_entry.params_for_show)
      .teaser-text= @blog_entry.teaser_text.html_safe

      .read-more
        = render_cell :button, :default, "Mehr lesen", complete_blog_entries_path(@blog_entry.params_for_show), class: "active"
    .socials
      = render 'public/shared/social_links_vertical', title: @blog_entry.name, image: absolute_attachment_url(@blog_entry.teaser_image, :medium), url: complete_blog_entries_url(@blog_entry.params_for_show)
