%footer.container
  .inside
    .row.top
      .col-xs-3.logo-col
        = link_to image_tag('logo-footer.png', size: '160x133'), root_path, title: t('public.footer.logo_title'), id: 'footer-logo'
      .col-xs-3.text-col
        %h3= t('public.footer.content.two.headline')
        %ul
          %li= link_to t('public.footer.links.how_it_works'), how_it_works_path
          %li= link_to t('public.footer.links.create_event'), new_internal_event_path
          %li= link_to t('public.footer.links.faq'), faq_path
      .col-xs-3.text-col
        %h3= t('public.footer.content.three.headline')
        %ul
          %li= link_to t('public.footer.links.about'), about_us_path
          %li= link_to t('public.footer.links.blog'), blog_entries_path
          %li= link_to t('public.footer.links.contact'), contact_path
          %li= link_to t('public.footer.links.agb'), agb_path
          %li= link_to t('public.footer.links.imprint'), imprint_path
      .col-xs-3.text-col
        %h3= t('public.footer.content.four.headline')
        %ul
          %li
            = link_to t('public.footer.links.facebook'), facebook_url, target: '_blank'
          %li
            = link_to t('public.footer.links.twitter'), twitter_url, target: '_blank'
          %li
            = link_to t('public.footer.links.gplus'), "#{google_plus_url}?rel=publisher", target: '_blank'
    .row.bottom
      .col-xs-12
        .copyright
          &copy; 2013 - #{Time.now.year} by #{link_to('foodoo', 'http://www.foodoo.de')} &amp; #{link_to('digitalgrafik24', 'http://www.digitalgrafik24.de')} &amp; #{link_to('wonderweblabs', 'http://www.wonderweblabs.com')}. All rights reserved
