%header.container
  .wrapper
    #logo
      =link_to image_tag('logo_small.png', size: '141x32', alt: t('public.base.logo_img_alt')), root_path
    - if user_signed_in?
      .info-text
        =t('public.navigation.info_text_signed_in')
    - else
      .info-text.phone
        %i.fa.fa-phone
        =t('public.navigation.info_text')

    .wrapper-nav
      %nav.main
        %ul.nav.navbar-nav
          %li{ class: "#{current_page?(root_path) ? 'active' : ''}" }= link_to t('public.navigation.home'), root_path
          %li.divider
          %li{ class: "#{current_page?(how_it_works_path) ? 'active' : ''}" }= link_to t('public.navigation.how_it_works'), how_it_works_path
          %li.divider
          %li{ class: "#{current_page?(blog_entries_path) ? 'active' : ''}" }= link_to t('public.navigation.blog'), blog_entries_path
      %nav.user
        %ul.nav.navbar-nav
          %li= link_to t('public.navigation.create_events').html_safe, new_internal_event_path
          %li.divider
          - if user_signed_in?
            %li.dropdown
              = link_to "#{t('public.navigation.account.title')} <b class='caret'></b>".html_safe, '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }
              %ul.dropdown-menu.dropdown-menu-right.pull-right
                %li= link_to "#{t('public.navigation.account.my_account')}&nbsp;<i class='fa fa-user'></i>".html_safe, internal_user_path
                %li.divider
                %li= link_to "#{t('public.navigation.account.logout')}&nbsp;<i class='fa fa-sign-out'></i>".html_safe, destroy_user_session_path
          - else
            %li= link_to t('public.navigation.login'), user_session_path, class: 'link-login-popup'
  .bar.green