- if percentage.nil? || percentage == 0
  - percentage = 100
.rating-stars
  %h3.headline
    =title
  .gray-stars
    .colored-stars{class: appending_class, style:"width: #{(102*percentage).to_i}px"}
  - unless reviews.nil?
    .reviews
      =reviews
