- if event.hetero?
  %i.fa.fa-male{class: "#{appending_class}"}
  %i.fa.fa-female{class: "#{appending_class}"}
- elsif event.homo_male?
  %i.fa.fa-male{class: "#{appending_class}"}
  %i.fa.fa-male{class: "#{appending_class}"}
- elsif event.homo_female?
  %i.fa.fa-female{class: "#{appending_class}"}
  %i.fa.fa-female{class: "#{appending_class}"}