.social-share-button
  = link_to "", "https://twitter.com/home?status=#{title}: #{url}", class: "social-share-button-twitter", popup: true
  = link_to "", "http://www.facebook.com/sharer.php?u=#{url}", class: "social-share-button-facebook", popup: true
  = link_to "", "https://plus.google.com/share?url=#{url}", class: "social-share-button-google_plus", popup: true
  = link_to "", "mailto:?to=&subject=#{title}&body=#{url}", class: "social-share-button-email"