%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-meal
            Event

  .inside
    .row
      .col-xs-8.form
        = simple_form_for @event, url: internal_event_appointment_path(@event_appointment), method: :put do |f|
          = f.input :description, required: true, as: :text, input_html: {rows: 8}
          = render_cell :button, :medium_button, "Event speichern", {type: 'submit', class: 'active right'}


  = render_cell(:event_appointment, :participations, @participations)

%section.container.images
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-photo
            Bilder

  .inside
    .row
      .col-xs-12.photo.form
        #event-gallery-editor
          = render_cell :gallery, :show, @event, :event

= @event.id

- content_for :modal do
  #image-upload-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", 'data-ajax-reload-url' => gallery_internal_event_path(@event), 'data-ajax-reload-container' => '#gallery', 'data-gallery-type' => 'vertical'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title Bilderupload
        .modal-body
          = render_cell(:image, :upload, @event)
