//
//= require public_mailer/ink
//
//= require_self
//

@import public_mailer/definitions

img
  outline: none
  border: none
  height: auto

a
  outline: none
  border: none
  color: #90B439 !important
  &:hover
    text-decoration: underline !important
table.button
  a
    color: #fff !important



#content-container
  width: 622px
@media (max-width: 615px)
  #content-container
    width: 95%

#content
  padding: 10px 20px
  background-color: #f5f5f5
  td.wrapper
    width: 580px
  @media (max-width: 615px)
    td.wrapper
      width: auto

h1, h2
  margin-bottom: 20px

#content
  h1
    padding-bottom: 16px
    border-bottom: 1px solid #ddd
    font-size: 30px

p
  &.small
    color: #999
    font-size: 12px
    line-height: 1.2
    a
      color: #999

// ------------------------------------------------
// basic stuff
table.button
  margin-bottom: 20px
  td
    background: $green
    background-color: $green
    border-color: $green - 10
  &.secondary
    td
      background: #CCC
      background-color: #CCC
      border-color: #AAA
      color: #666 !important
      a
        color: #666 !important



table.button:hover td,
table.button td:hover
  background: #000
  background-color: #000
  border-color: $green - 60 !important
  cursor: pointern - 60 !important
    cursor: pointer



// ------------------------------------------------
// header
table.header
  td.logo
    padding: 5px 10px 13px 0px
  #logo
    width: 190px
    height: 43px
  td.headline
    text-align: right
    h1
      margin-top: 17px
      text-align: right
      color: #fff
      font-size: 25px

// ------------------------------------------------
// footer
table.footer-1
  .wrapper.center
    padding-top: 0
  p
    font-size: 11px
  .left
    p
      text-align: left
  .right
    p
      text-align: right
  p.links a
    color: #999 !important
  p.url a
    color: #999 !important
    text-decoration: none
    &:hover
      color: $light-green + 50 !important
      text-decoration: underline
  p.copyright
    margin-bottom: 0
    color: #aaa
    line-height: 1.25
    span
      color: #CCC
      font-size: 11px
