-#- @flash = @@flash
- unless @flash.nil?
  -# convert alert flash
  - if @flash[:alert] && !@flash[:alert].blank?
    - @flash[:error] = @flash[:alert]

  -# ERROR
  - unless @flash[:error].blank?
    .alert.alert-warning
      %button{ :class => "close", "data-dismiss" => "alert"}= "×"
      - unless @flash[:error_headline].blank?
        %strong= @flash[:error_headline]
      = @flash[:error]

  -# NOTICE
  - unless @flash[:notice].blank?
    .alert.alert-info
      %button{ :class => "close", "data-dismiss" => "alert"}= "×"
      - unless @flash[:notice_headline].blank?
        %strong= @flash[:notice_headline]
      = @flash[:notice]

  -# INFO
  - unless @flash[:info].blank?
    .alert.alert-info
      %button{ :class => "close", "data-dismiss" => "alert"}= "×"
      - unless @flash[:info_headline].blank?
        %strong= @flash[:info_headline]
      = @flash[:info]

  -# SUCCESS
  - unless @flash[:success].blank?
    .alert.alert-success.alert-dismissable
      %button{ :class => "close", "data-dismiss" => "alert"}= "×"
      - unless @flash[:success_headline].blank?
        %strong= @flash[:success_headline]
      = @flash[:success]

