%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Foodoo", backend_dashboard_path, class: 'navbar-brand green'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to backend_dashboard_path do
            %i.fa.fa-tachometer
            = t('backend.navigation.dashboard')
        %li.dropdown
          = link_to '#', data: { toggle: 'dropdown' } do
            = t('backend.navigation.menu')
            %b.caret
          %ul.dropdown-menu
            - if can?(:manage, BackendUser)
              %li
                = link_to backend_backend_users_path do
                  %i.fa.fa-user
                  = t('backend.navigation.backend_users')

            - if (can?(:manage, Event) || can?(:manage, User)) && can?(:manage, BackendUser)
              %li.divider
            - if can?(:manage, User)
              %li
                = link_to backend_users_path do
                  %i.fa.fa-group
                  = t('backend.navigation.users')

            - if can?(:manage, Event)
              %li
                = link_to backend_events_path do
                  %i.fa.fa-cutlery
                  = t('backend.navigation.events')

            - if can?(:manage, BlogEntry)
              %li.divider
              %li
                = link_to backend_blog_entries_path do
                  %i.fa.fa-comments
                  = t('backend.navigation.blog-entries')
            - if can?(:manage, City) || can?(:view, :background_jobs)
              %li.divider
            - if can?(:manage, City)
              %li
                = link_to backend_cities_path do
                  %i.fa.fa-globe
                  = t('backend.navigation.cities')

            - if can?(:view, :background_jobs)
              %li
                = link_to backend_background_jobs_path do
                  %i.fa.fa-tasks
                  = t('backend.navigation.background_jobs')

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            = @current_user.email
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to destroy_backend_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                = t('backend.navigation.logout')
