.col-xs-12.headline.index_show_element{ data: { date: @model.strftime('%Y-%m-%d') } }
  .left-pull
  .right-pull
  .content
    %h2
      %i.headline-icons.icon-clock
      = @headline_strings[0]
      %small= @headline_strings[1]