//
//= require_self
//
//= require_tree ./components
//
//= require public/layout
//= require public/buttons
//= require public/form_elements
//= require public/devise
//= require public/content
//= require public/pages
//= require public/users
//= require public/image
//= require public/cell_event_box
//= require public/event
//= require public/participation
//= require social-share-button
//= require public/blog
//= require public/thumbnail_sliders
//= require public/newsletter_modal
//= require public/newsletter_subscription
//
//= require_tree ./resources
//

@import public/definitions

// ------------------------------------
// base declarations

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
video
  display: block

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

img
  outline: none
  border: none
  width: 100%
  height: auto

a
  outline: none
  border: none
  color: $light-green
  &:hover
    color: $light-green

.clearfix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both

.container
  position: relative
  min-width: $page-width+20px !important
  overflow: hidden !important
  width: 100%
  padding: 0
  > .inside
    position: relative
    width: $page-width
    max-width: $page-width
    margin: 0 auto
    overflow: visible

.is-visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

// ------------------------------------
// font basic

*
  font-family: 'Open Sans', sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Lato', sans-serif

h1
  font-size: 36px
  font-weight: bold
  color: #000
h2
  font-size: 22px
  font-weight: bold
  color: #000
h3
  font-size: 24px
  font-weight: bold
  color: #000

p
  font-size: 16px
  line-height: 1.2
  color: #4e4e4e


// ------------------------------------
// sticky layout
$footer-height-sum: $footer-height+2*$footer-border-width
#wrapper
  position: relative
  z-index: 1
  margin: 0
  padding: 0
  margin-bottom: $footer-height-sum*-1
  min-height: 100% !important
  height: auto !important
  height: 100%
  width: 100%
  min-width: $page-width+20px !important
  overflow: hidden
  > .push
    height: $footer-height-sum
    position: relative
    z-index: 1

body
  > footer
    position: relative
    height: $footer-height
    z-index: 100
    *
      z-index: inherit

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover
  background-color: #83ac2c

.timepicker .timepicker-picker
  a
    color: #83ac2c

.picker-switch.accordion-toggle
  .fa
    color: #83ac2c

.bootstrap-datetimepicker-widget td.today:before
  border-bottom: #83ac2c
