.public-blogentries, .public-blogentriesarchive
  #indexBlogEntriesSpinner
    position: relative
    width: 100%
    height: 100px
    .spinner
      top: 50% !important

  .blog-footer
    height: 187px
    .bg-image
      position: absolute
      width: 100%
      min-width: 1400px
      height: 187px
      background-size: 100%
      background-repeat: no-repeat
      background-position: 0 50%
      background-image: asset-data-url('blog-background.png')
    .logo
      position: absolute
      width: 120px
      height: 100px
      top: 45px
      left: 50%
      margin-left: -60px
      background-image: asset-data-url('logo-blog.png')
    h1
      font-size: 26px
      text-align: center
  .blog-entry
    margin-top: 40px
    margin-bottom: 40px
    &.show-action
      margin-top: 20px
      margin-bottom: 20px
    .date
      width: 70px
      height: 110px
      overflow: hidden
      .month
        width: 70px
        height: 25px
        background-color: #d5ec9d
        p
          text-align: center
          font-size: 11px
          font-weight: 700
          color: #000
          padding-top: 5px

      .day
        width: 70px
        height: 50px
        background-color: #aad542
        p
          text-align: center
          font-size: 40px
          font-weight: 700
          color: #fff
          text-shadow: 1px 1px 1px #212121

      .year
        width: 70px
        height: 35px
        p
          color: #ddd
          text-align: center
          font-size: 30px
          font-weight: 100

    .image
      background-color: #eee
      width: 330px
      height: 230px
      img
        width: 330px
        height: 230px

    .text
      .headline
        color: #1d1d1d
        font-size: 22px
        margin-top: 10px
        width: 500px
      .teaser-text
        color: #4e4e4e
        width: 500px
        height: 135px
        overflow: hidden
        p
          font-size: 14px
          line-height: 1.4
        &.large
          height: 186px

      .read-more
        width: 500px
        top: 185px
        margin-top: 10px
        text-align: right
    .socials
      .social-share-button
        position: absolute
        width: 30px
        left: 540px
        top: 45px
        a
          display: block
          width: 30px
          height: 30px
          margin: 3px 0
          background: asset-data-url('links-sprite.png')
          &.social-share-button-facebook
            background-position: 0 0
          &.social-share-button-google_plus
            background-position: 0 -31px
          &.social-share-button-twitter
            background-position: 0 -62px
          &.social-share-button-email
            background-position: 0 -93px

  .blog-archiv
    margin-top: 30px
    margin-bottom: 30px
    text-align: center

  .blog-entry-content
    padding-bottom: 100px
    line-height: 1.4
    .element
      width: 844px
      margin-bottom: 30px
    p
      font-size: 14px
      line-height: 1.4
    .image

    .image
      img
        width: 100%
        height: auto
