@import public/definitions
@import compass/css3/text-shadow
@import compass/css3/box-shadow

// ----------------------------------------------------------------
// bootstrap adjustments

.btn.btn-facebook
  background-color: #4e6ba7
  &:hover
    background-color: #425a8b


// ----------------------------------------------------------------
// psd buttons

// squre icon
.fbtn-square-info
  position: relative
  display: inline-block
  width: 106
  height: 105px
  font-size: 17px
  padding: 0
  margin: 3px 1px
  outline: none
  border: none
  font-weight: 600
  font-family: 'Open Sans'
  text-decoration: none
  line-height: 1.2
  color: #111
  overflow: hidden
  background: none
  cursor: default
  +text-shadow(0 1px 1px #fff)
  > div
    outline: none
    border: none
    width: 106
    height: 105px
    background-image: asset-data-url('btn-square.png')
    background-repeat: no-repeat
  .left
    display: none
  .content
    position: relative
    background-repeat: repeat-x
    text-align: center
    display: table-cell
    width: 106px
    height: 105px
    margin: 0
    padding: 0
    background-position: 0 0
    vertical-align: middle
    font-size: 13px
    i.info-icon
      opacity: 0.5
      width: 80px
      height: 70px
      display: block
      vertical-align: middle
      margin: -6px 5px -8px 13px
      background: asset-url('info-icons-sprite.png') no-repeat
      &.icon-smoking
        background-position: 0px 0px
      &.icon-pets
        background-position: -80px 0px
      &.icon-sbahn
        background-position: -160px 0px
      &.icon-parking-places
        background-position: -240px 0px
      &.icon-wifi
        background-position: -320px 0px
      &.icon-elevator
        background-position: -400px 0px
      &.icon-berlin
        width: 65px
        margin: 0 auto
        background-position: -481px 0px
      &.icon-hamburg
        width: 50px
        margin: 0 auto
        background-position: -546px 0px
  .right
    display: none
  &.active
    text-decoration: none
    color: #000
    .left
      background-position: 0 -111px
    .content
      background-position: 0 -105px
      i.info-icon
        opacity: 1.0
    .right
      background-position: 0 -185px
  &.hover
    &:hover
      text-decoration: none
      color: #000
      cursor: pointer
      .left
        background-position: 0 -111px
      .content
        background-position: 0 -105px
        i.info-icon
          opacity: 1.0
      .right
        background-position: 0 -185px

// default button
a.fbtn,
button.fbtn,
input.fbtn,
label.fbtn
  position: relative
  display: inline-block
  height: 36px
  padding: 0
  outline: none
  border: none
  font-size: 16px
  font-weight: 600
  font-family: 'Open Sans'
  text-decoration: none
  line-height: 1.2
  color: #111
  overflow: hidden
  background: none
  +text-shadow(0 1px 1px #fff)
  > div
    height: 36px
    outline: none
    border: none
    background-image: asset-data-url('btn.png')
  .left
    position: absolute
    width: 6px
    max-width: 6px
    left: 0
    top: 0
    background-position: 0 0
    background-repeat: no-repeat
  .content
    position: relative
    margin: 0 6px
    padding: 9px 8px 0 8px
    background-position: 0 -36px
    background-repeat: repeat-x
    text-align: center
  .right
    position: absolute
    width: 6px
    max-width: 6px
    right: 0
    top: 0
    background-position: 0 -72px
    background-repeat: no-repeat
  &:hover,
  &.active
    text-decoration: none
    color: #000
    .left
      background-position: 0 -108px
    .content
      background-position: 0 -144px
    .right
      background-position: 0 -180px

// small
.fbtn.fbtn-small
  height: 28px
  font-size: 13px
  > div
    height: 28px
    background-image: asset-data-url('btn-small.png')
  .left
    width: 6px
    max-width: 6px
    background-position: 0 0
  .content
    margin: 0 6px
    padding: 7px 10px 0 10px
    background-position: 0 -28px
  .right
    width: 6px
    max-width: 6px
    background-position: 0 -56px
  &:hover,
  &.active
    .left
      background-position: 0 -84px
    .content
      background-position: 0 -112px
    .right
      background-position: 0 -140px

// larger
.fbtn.fbtn-larger
  height: 62px
  font-size: 28px
  > div
    height: 62px
    background-image: asset-data-url('btn-larger.png')
  .left
    width: 11px
    max-width: 11px
    background-position: 0 0
  .content
    margin: 0 11px
    padding: 15px 14px 0 14px
    background-position: 0 -62px
  .right
    width: 11px
    max-width: 11px
    background-position: 0 -124px
  &:hover,
  &.active
    .left
      background-position: 0 -186px
    .content
      background-position: 0 -248px
    .right
      background-position: 0 -310px

// large
.fbtn.fbtn-large
  height: 88px
  font-size: 40px
  > div
    height: 88px
    background-image: asset-data-url('btn-large.png')
  .left
    width: 14px
    max-width: 14px
    background-position: 0 0
  .content
    margin: 0 11px
    padding: 20px 20px 0 20px
    background-position: 0 -88px
  .right
    width: 14px
    max-width: 14px
    background-position: 0 -176px
  &:hover,
  &.active
    .left
      background-position: 0 -264px
    .content
      background-position: 0 -352px
    .right
      background-position: 0 -440px

//checkbox-round
.fbtn.checkbox-round
  width: 25px
  height: 25px
  > div
    width: 25px
    height: 25px
    background-image: asset-data-url('checkbox-round.png')
    background-repeat: no-repeat
    &:hover,
    &.active
      background-position: 0px -25px
  .left
    display: none
  .content
    margin-left: 0px
    background-position: 0 0
  .right
    display: none

// square
.fbtn.fbtn-square
  width: 106
  height: 105px
  font-size: 16px
  > div
    width: 106
    height: 105px
    background-image: asset-data-url('btn-square.png')
    background-repeat: no-repeat
  .left
    display: none
  .content
    display: table-cell
    width: 106px
    height: 105px
    margin: 0
    padding: 0
    background-position: 0 0
    vertical-align: middle
  .right
    display: none
  &:hover,
  &.active
    .content
      background-position: 0 -105px


// style block
.fbtn
  &.block
    width: 100%

.button-radios
  label.fbtn
    cursor: pointer
  input
    display: none

#contact-btn
  +box-shadow(rgba(0,0,0,0.3) 0px 0px 2px)
  border: 1px solid #c37c17
  height: 35px
  border-radius: 5px
  padding-top: 7px
  color: black
  +text-shadow(0px 1px 1px white)
  font-size: 16px
  font-weight: 600
  font-family: "Open Sans"
  text-decoration: none
  line-height: 1.2
  margin-top: 0px
  &.offset
    margin-top: -28px
  &:hover
    background-color: #f0ad4e

.booking-btn
  width: 252px
  height: 71px
  display: inline-block
  text-indent: -99999px
  background-image: asset-data-url('event/book-now-btn.png')
