@import public/definitions
@import compass/css3/text-shadow

.event-box
  .event-date-wrapper
    clear: both
    position: relative
    left: 9px
    margin-top: 15px
    margin-bottom: -25px
    p
      font-size: 15px
      font-weight: 600
      color: #666
      small
        font-weight: 400
        color: #666
    .social-sharing
      .facebook
        position: absolute
        left: 270px
        top: 0px
        background-image: asset-url('facebook-share.jpg')
        background-position: 0 0
        background-repeat: no-repeat
        height: 21px
        width: 114px
  .event-box-wrapper
    position: relative
    z-index: 20
    margin: 50px 0 30px 0
    padding-top: 4px
    padding-left: 8px
    .image
      position: relative
      z-index: 20
      width: 260px
      max-width: 260px
      height: 191px
      max-height: 191px
      overflow: hidden
      background-color: #f7f7f7
      .sold-overlayer
        display: none
        .stamp
          display: none
    .event-type
      position: absolute
      z-index: 25
      width: 100px
      height: 101px
      top: 0
      left: 171px
      background-image: asset-url('event/labels.png')
      background-position: 0 0
      background-repeat: no-repeat
      &.dating
        background-position: -101px 0
      &.course
        background-position: -202px 0
    > header
      position: absolute
      z-index: 25
      top: 0
      left: 280px
      a
        text-decoration: none
      .rating
        .rating-stars
          min-width: 200px
          margin-left: -10px
          margin-top: -12px
          height: 30px
        .reviews
          font-size: 9px
          color: $light-green
          margin-top: 22px
          margin-left: 115px
      .sex-direction
        position: absolute
        float: right
        height: 25px
        width: 35px
        left: 185px
        top: 5px
        i
          color: #aaa
      .text-wrapper
        margin-top: 32px
        max-height: 100px
        height: 100px !important
        overflow: hidden
        h2
          margin-bottom: 5px
          margin-top: 0px
          font-size: 15px
          text-decoration: none
          max-height: 50px
          // overflow: hidden
        p
          font-size: 11px
          line-height: 1.6
          color: #4e4e4e
        .gradient
          position: absolute
          height: 18px
          background-image: asset-url('gradient.png')
          background-position: 0 0
          background-repeat: repeat-x
          top: 115px
          width: 205px


    .time
      width: 75px
      height: 83px
      background-image: asset-url('event/calendar-bg.png')
      position: absolute
      top: -15px
      left: -10px
      z-index: 999
      time
        float: left
        clear: left
        text-align: center
        width: 100%
        &.clock
          margin-top: 7px
          font-size: 11px
          color: #fff
          font-weight: 500
        &.month
          color: #313e10
          font-size: 12px
          font-weight: 400
          margin-top: 3px
        &.day
          color: #313e10
          font-weight: 800
          font-size: 20px
          margin-top: -4px
        &.weekday
          color: #838978
          font-weight: 600
          font-size: 11px
          margin-top: -4px

    .meta
      position: absolute
      z-index: 25
      overflow: hidden
      width: 290px
      height: 60px
      top: 134px
      left: 210px
      .price
        position: relative
        float: left
        width: 85px
        height: 60px
        margin-right: 5px
        padding: 5px 0 0 10px
        text-align: center
        background-color: $light-green
        color: #fff
        font-weight: 700
        font-size: 35px
        +text-shadow(1px 1px 1px rgb(102,102,102))
      .author-icon
        position: relative
        float: left
        width: 55px
        height: 60px
        margin-right: 5px
        a
          display: block
          width: 55px
          height: 60px
          text-decoration: none
          background-color: #f7f7f7
          &:hover
            text-decoration: none
      .author
        color: #000
        font-weight: bold
        font-size: 13px
      .city
        p
          font-size: 11px
      .free-places
        position: absolute
        float: left
        top: 32px
        left: 150px
        font-size: 15px
        color: $light-green
        strong
          margin-right: 3px
          font-size: 21px
          font-weight: bold
          color: #000
    > footer
      ul
        list-style: none
        margin: 5px 0 0 0
        padding: 0
      li
        float: left
        width: 64px
        height: 69px
        margin-right: 4px
        margin-top: 2px
        margin-bottom: 2px
        border: 2px solid #e4e4e4
        background-color: #f7f7f7
        text-align: center
        z-index: 80
        a
          position: relative
          display: block
          width: 60px
          height: 65px
          overflow: hidden
          background-color: #f7f7f7
        &.more
          padding-top: 16px
          font-size: 26px
          color: #ccc
        &.free
        &.visitor
          .overlay
            width: 60px
            height: 65px
            background-color: #fff
            opacity: 0.7
            position: absolute
            z-index: 100
            display: table-cell
            vertical-align: middle
            font-size: 30px
            font-weight: bold
            padding-top: 12px

      .controls
        margin-top: 15px
        margin-right: 5px
        text-align: right

  &.sold
    .sold-overlayer
      display: block !important
      position: absolute
      width: 100%
      height: 100%
      background: asset-data-url('sold_background.png') 0 0 repeat
      .stamp
        display: block !important
        position: absolute
        width: 195px
        height: 85px
        top: 53px
        left: 32px
        background: asset-url('sold.png') 0 0 repeat
  &.done
    .done-overlayer
      display: block !important
      position: absolute
      width: 100%
      height: 100%
      background: asset-data-url('sold_background.png') 0 0 repeat
      .stamp
        display: block !important
        position: absolute
        width: 195px
        height: 85px
        top: 53px
        left: 32px
        background: asset-url('done.png') 0 0 repeat
