@import public/definitions
@import compass/css3/text-shadow
@import compass/css3/border-radius
@import compass/css3/transition
@import compass/css3/transform

// ------------------------------------
// template - headline bar

.container
  > .headline-bar
    width: 100%
    height: 30px
    border-top: 2px solid #e4e4e4
    border-bottom: 2px solid #e4e4e4
    background-color: #f7f7f7
    > .inside
      width: $page-width
      max-width: $page-width
      margin: 0 auto
      overflow: visible
    h2
      font-size: 17px
      display: table-cell
      padding-top: 3px
      margin-bottom: 5px
      small
        font-size: 13px
        color: #1d1d1d
    i.headline-icons
      width: 30px
      height: 30px
      display: inline-block
      vertical-align: middle
      margin-top: -5px
      margin-right: 5px
      background: asset-url('icon-sprite.png') 0 0 no-repeat
      background-size: 800%
      &.icon-clock
        background-position: 0px 0px
      &.icon-location
        background-position: -30px 0px
      &.icon-person
        background-position: -60px 0px
      &.icon-feedback
        background-position: -90px 0px
      &.icon-meal
        background-position: -120px 0px
      &.icon-photo
        background-position: -150px 0px
      &.icon-price
        background-position: -180px 0px
      &.icon-bank-account
        background-position: -210px 0px

  > .inside
    .headline.index_show_element
      > .content,
      > .left-pull,
      > .right-pull
        width: 100%
        height: 30px
        border-top: 2px solid #e4e4e4
        border-bottom: 2px solid #e4e4e4
        background-color: #f7f7f7
      > .left-pull,
      > .right-pull
        position: absolute
      > .left-pull
        margin-left: -10000px
        padding-left: 10000px
      > .right-pull
        right: 0
        margin-right: -9984px
        padding-right: 10000px
      h2
        font-size: 17px
        display: table-cell
        padding-top: 3px
        margin-bottom: 5px
        small
          margin-left: 10px
          font-size: 13px
          color: #1d1d1d
      i.headline-icons
        width: 30px
        height: 30px
        display: inline-block
        vertical-align: middle
        margin-top: -5px
        margin-right: 5px
        background: asset-url('icon-sprite.png') 0 0 no-repeat
        background-size: 800%
        &.icon-clock
          background-position: 0px 0px
        &.icon-location
          background-position: -30px 0px
        &.icon-person
          background-position: -60px 0px
        &.icon-feedback
          background-position: -90px 0px
        &.icon-meal
          background-position: -120px 0px
        &.icon-photo
          background-position: -150px 0px
        &.icon-price
          background-position: -180px 0px
        &.icon-bank-account
          background-position: -210px 0px

// ------------------------------------
// template - newsletter row

.container
  .newsletter.index_show_element
    height: 350px
    > .content,
    > .left-pull,
    > .right-pull
      width: 100%
      height: 239px
      margin-top: 44px
      background: asset-url('newsletter/bar_bg.jpg') 0 0 repeat-x
    > .left-pull,
    > .right-pull
      position: absolute
    > .left-pull
      margin-left: -10000px
      padding-left: 10000px
      background-position: 100% 0
    > .right-pull
      right: 0
      margin-right: -9984px
      padding-right: 10000px
      background-position: -11px 0
    .logo
      position: absolute
      width: 217px
      height: 180px
      top: 73px
      left: 0px
      background: asset-url('newsletter/logo.png') 0 0 no-repeat
    .headline
      position: absolute
      top: 82px
      left: 236px
      width: 470px
      text-align: left
      font-size: 29px
      font-weight: 700
      color: #3c3c3b
    .cta
      position: absolute
      top: 216px
      left: 331px
      width: 400px
      text-align: left
      font-size: 27px
      font-weight: 600
      color: #fff
    .form-box
      position: absolute
      width: 362px
      height: 350px
      top: 2px
      left: 690px
      background: asset-url('newsletter/form_bg.png') 0 0 no-repeat
      .newsletter_city
        display: none
      .newsletter_city_select,
      .newsletter_name,
      .newsletter_email
        position: absolute
        left: 59px
        margin: 0
      .newsletter_city_select
        width: 256px
        top: 55px
        a.btn
          width: 256px
          border: 1px solid #7b9914
          background: #F9F9F9
          text-align: left
          span.label
            padding: 0
            color: #999
            font-weight: normal
            font-size: 13px
          span.content
            font-size: 14px
      .newsletter_name
        top: 114px
      .newsletter_email
        top: 179px
      input
        width: 260px
        outline: none
        border: none
        background: asset-url('newsletter/form_field_bg.png') 0 0 no-repeat
        &.has-error
          background-image: asset-url('newsletter/form_field_error_bg.png')
      button
        position: absolute
        width: 350px
        top: 238px
        margin-left: 15px
        outline: none
        border: none
        background: none
        font-size: 17px
        text-decoration: underline
        color: #fff
        &:hover
          text-align: center
          color: #ccc

#newsletter-success-modal
  p
    font-size: 13px
    color: #999
    text-align: center
  p.success
    margin: 10px 0 20px 0
    font-size: 16px
    color: $green


// ------------------------------------
// template - modal
.modal
  &.in .modal-dialog
    +translate(0, 50%)
  &.fade .modal-dialog
    +transition-duration(0.1s)
    +transition-timing-function(ease-out)
  .modal-content
    +border-radius(0px)
    .modal-header
      padding: 8px 20px 5px 20px
      background-color: #e8e8e8
      button
        font-size: 40px
        margin-top: -2px
        color: #7c7e7e
        opacity: 1
    .modal-title
      margin: 0
      padding: 0
      font-size: 24px
    .modal-footer
      border: none
.modal-backdrop.in
  opacity: 0.7
  filter: alpha(opacity=70)

// ------------------------------------
// events show action

section.events
  > .inside
    width: 1000px
    max-width: 1000px

.public-eventappointments.show
  section.container.event
    > .headline-bar:first-child
      margin-top: 20px

    .event-wrapper
      h1
        margin-top: 0
        margin-bottom: 20px
        margin-left: 6px
        font-size: 28px

  section.container.event-details
    > .inside
      .wrapper
        margin: 35px 0px
        &.location
          .map
            width: 410px
            margin-left: 10px
            height: 325px
            position: relative
            float: left
          .event-infos
            margin-top: -4px
            width: 220px
            height: 334px
            margin-left: 15px
            position: relative
            float: left

        &.guests
          width: 342px
          margin-left: -8px

      .guest
        width: 72px
        height: 85px
        margin: 20px 3px
        margin-top: 0px
        float: left
        img
          width: 70px
          height: 83px
          margin-left: 3px
          border: 1px solid #b3b3b3
        p
          margin-left: 3px
          margin-top: 2px
          font-size: 13px
          text-align: left
          color: #4e4e4e
          max-height: 30px
          max-width: 72px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        &.additional
          .overlay
            width: 73px
            height: 83px
            background-color: #fff
            opacity: 0.7
            position: absolute
            z-index: 100
            display: table-cell
            vertical-align: middle
            font-size: 30px
            font-weight: bold
            padding-top: 20px
            text-align: center
        &.free
          img, p
            display: none
          .placeholder
            background-color: #f5ffdb
            height: 83px
            width: 72px
            margin-left: 3px
            margin-right: 9px
            float: left
            border: 1px solid #b3b3b3
            span
              display: block
              font-weight: 700
              font-size: 18px
              text-align: center
              margin-left: 0px
              margin-top: 30px

// ------------------------------------
// comments

section.container.event-details
  > .inside
    &.last
      margin-bottom: 50px

    .rating
      margin-top: 15px
      margin-bottom: 20px
      height: 60px

// ------------------------------------
// template rating-stars
.rating-stars
  margin: 0px 13px
  height: 60px
  min-width: 140px
  float: left
  .headline
    font-size: 14px
    text-align: left
    display: block
    float: left
    margin-right: 8px
  .gray-stars
    float: left
    margin-top: 18px
    width: 102px
    max-width: 102px
    height: 18px
    max-height: 18px
    background: asset-url('stars-icons-sprite.png') 0 0 no-repeat
    background-position: 0px 0px
    .colored-stars
      position: absolute
      width: 102px
      max-width: 102px
      height: 18px
      max-height: 18px
      background: asset-url('stars-icons-sprite.png') 0 0 no-repeat
      background-position: 0px -18px
      &.green
        background-position: 0px -36px

// ------------------------------------
// template comment
.comment
  margin: 15px 0
  .text
    background-color: #f5ffdb
    border: 1px solid #b3b3b3
    margin-top: 2px
    margin-left: 20px
    min-height: 85px
    -webkit-border-radius: 15px
    -moz-border-radius: 15px
    border-radius: 15px
    p
      margin: 20px 25px
  .guest
    padding-top: 10px

// ------------------------------------
// template - event box detailed

.public-eventappointments.show,
.internal-ratings.new,
.internal-ratings.create,
.internal-ratings.show
  section.container.event

  .flash
    margin-top: 20px
    .alert
      margin-bottom: 0px
  .event-title
    h1
      width: 540px
    .sex-direction
      position: absolute
      top: 28px
      left: 950px
  .event-wrapper
    padding-bottom: 20px
    overflow: hidden
    position: relative
    .event-box-detailed
      position: relative
      z-index: 20
      float: left
      margin: 10px 5px 0
      padding-top: 4px
      padding-left: 8px
      .image
        position: relative
        float: left
        z-index: 20
        width: 400px
        max-width: 425px
        height: 292px
        max-height: 292px
        overflow: hidden
        background-color: #f7f7f7
        img
          position: absolute

      .event-type
        position: absolute
        z-index: 25
        width: 119px
        height: 120px
        top: 0
        left: 292px
        background: asset-url('event/labels_big.png') 00 no-repeat
        &.dating
          background-position: -119px 0
        &.course
          background-position: -239px 0

      .time
        position: absolute
        z-index: 25
        width: 58px
        top: 21px
        left: 0
        padding: 3px 3px 3px 7px
        border: 1px solid #292929
        background-color: #fff
        font-size: 21px
        font-weight: 800
        color: rgb(50, 50, 50)
        vertical-align: top
        +border-radius(5px)
        small
          position: absolute
          display: block
          top: 7px
          left: 34px
          font-size: 12px
          font-weight: 800
        .date
          display: none
      .thumbnails
        position: relative
        float: left
        z-index: 20
        margin-left: 15px
        width: 120px
        height: 292px
        max-height: 320px
        overflow: hidden
        background-color: #f7f7f7
        img
          height: 79px
          overflow: hidden
          margin-bottom: 2px
        .inside
          position: relative
          top: -1px

    .description-wrapper
      position: relative
      float: left

      .description-box
        margin-left: 5px
        width: 540px
        h3
          font-size: 22px
          overflow: hidden
        .description-text-wrapper
          .description-text
            overflow: hidden
            height: 439px
          .truncation-links
            text-align: right
            font-size: 13px
          a.readmore,
          a.readless
            display: none
        p
          font-size: 13px
          line-height: 1.5

    .booking-box
      position: relative
      float: left
      background-color: #f7f7f7
      border: 1px solid #b8b8b8
      width: 410px
      padding-bottom: 15px
      margin-bottom: 20px
      margin-top: 14px
      margin-left: -22px
      .buttons
        vertical-align: top
        margin: 20px
        display: inline-block
      .booked-out
        width: 217px
        padding-top: 17px
        color: #999
      .free-places
        margin-left: 10px
        margin-bottom: 10px
        margin-top: 7px
        display: inline-block
        h2
          text-align: center
          font-size: 55px
          margin-top: 5px
          margin-bottom: 5px
        p
          color: #aad542
          font-size: 16px
          font-weight: 500
          margin-bottom: 10px
      hr
        margin-left: 15px
        margin-right: 15px
        margin-top: -14px
        height: 2px
        background-color: #b8b8b8
      img
        width: 80px
        height: 90px
        overflow: hidden
        margin-left: 30px
        background-color: #eee
      .profile-name
        padding-left: 18px
        .total-rating
          position: relative
          .rating-stars
            margin-top: 4px
            margin-left: 0px
            height: auto
            .gray-stars
              margin-top: 0px
            .reviews
              font-size: 11px
              color: #aad542
              float: left
              margin-left: 6px
              margin-top: 1px
            .headline
              display: none
      .host
        position: relative
        font-size: 13px
        margin-top: 0px
        margin-bottom: 0px
      .host-name
        position: relative
        font-size: 20px
        margin-top: 5px
        margin-bottom: 0px
        a
          color: #000
          text-decoration: none
      .footer
        margin-top: -30px
        table
          margin-top: 5px
          width: 380px
          margin-left: 15px
          font-size: 12px
          &.small
            width: 265px
            margin-top: 15px

          td:first-child
            width: 100px
            font-weight: 600
            vertical-align: top

            &.bold
              font-size: 12px
              font-weight: 800
              color: #000
              left: 31px
              padding: 7px 0px
            &.details
              padding-top: 25px
            &.about
              padding-top: 15px

          .truncate
            overflow: hidden
            vertical-align: middle
            word-wrap: break-word
            &.rows-1
              max-height: 19px
            &.rows-2
              max-height: 36px

          hr
            margin: 20px 0 -5px 0

      .price
        position: relative
        background-color: #aad542
        width: 120px
        height: 80px
        float: right
        padding: 5px 0 0 7px
        text-align: center
        color: white
        font-weight: 800
        font-size: 50px
        text-shadow: 1px 1px 1px #666666
      .user-image
        float: left
      .profile-name
        float: left
      .timer-box
        width: 450px
        height: 154px
        background: asset-url('event/timer-background-ner.png') 0 0 no-repeat
        position: relative
        left: -14px
        top: -23px
        padding-top: 15px
        > *
          text-align: center
        .small
          color: #814b00
          font-weight: bold
          font-size: 16px
          margin-top: 7px
        .outdated
          font-size: 32px
          font-weight: bold
          color: #f9e4cc
          margin-top: 32px
          +text-shadow(rgba(black, 0.27) 2px 0px 2px, rgba(black, 0.27) -2px 0px 2px, rgba(black, 0.27) 0px 2px 2px, rgba(black, 0.27) 0px -2px 2px)
        .time
          font-size: 40px
          font-weight: bold
          color: #f9e4cc
          margin-top: -7px
          +text-shadow(rgba(black, 0.27) 2px 0px 2px, rgba(black, 0.27) -2px 0px 2px, rgba(black, 0.27) 0px 2px 2px, rgba(black, 0.27) 0px -2px 2px)
        .subtext
          color: #592700
          font-size: 15px

    .arrow
      position: absolute
      width: 24px
      height: 8px
      left: 470px
      cursor: pointer
      top: 300px

      &.next
        background: asset-url('thumbnail-arrow-top.png') 0 0 no-repeat
        margin-top: -309px
      &.prev
        background: asset-url('thumbnail-arrow-bottom.png') 0 0 no-repeat

// ------------------------------------
// eventappointments
.public-eventappointments

  // index
  &.index
    section#indexEventsContainer
      position: relative
      #indexEventsSpinner
        position: relative
        width: 100%
        height: 100px
        .spinner
          top: 50% !important

    section.load-more
      height: 100px
      margin-top: 30px
      margin-bottom: 50px

    .bar
      display: none

    #hero
      padding: 0
      .social-wrapper
        margin: 0 auto
        position: relative
        z-index: 50
        .social-buttons-register
          top: 10px
          position: relative
          float: right
          z-index: 50
          width: 174px
          height: 90px
          a
            display: block
            width: 174px
            height: 38px
            margin-top: 5px
          #register-fb
            background: asset-url('home-register-fb.png') 0 0 no-repeat
          #register-email
            background: asset-url('home-register-email.png') 0 0 no-repeat

      @media (min-width: 1450px)
        .social-wrapper
          width: 1302px
          .social-buttons-register
            margin-right: -55px

      @media (max-width: 1450px)
        .social-wrapper
          width: 100%
          .social-buttons-register
            margin-right: 15px

      @media (max-width: 1020px)
        .social-wrapper
          width: 1020px

      .social-buttons-left
        position: relative
        float: left
        width: 40px
        height: 110px
        margin-left: -1px
        z-index: 50
        top: 213px
        a
          height: 31px
          width: 31px
          margin: 4px 0
          display: block
          background-image: asset-url('links-sprite-inactive.png')
          &.facebook
            background-position: 0 0
          &.twitter
            background-position: 0 62px
          &.google-plus
            background-position: 0 93px
          &:hover
            background-image: asset-url('links-sprite.png')

      > .inside
        position: relative
        z-index: 20
        width: 1000px
        height: 430px
        margin-bottom: 138px

        .content-header
          text-align: center
          position: absolute
          width: 1010px
          height: 300px
          left: 50%
          margin-left: -505px
          top: 120px
          .icon
            width: 121px
            height: 100px
            margin: 0 auto
          .headline
            width: 948px
            height: 77px
            margin: 0 auto
            margin-top: 15px
            background-image: asset-url('hero-shadow.png')
            background-repeat: repeat-y
            padding-top: 8px
          h2
            color: #fff
            font-size: 45px
            text-align: center
            font-weight: 800
            font-family: 'Lato', sans-serif
            text-shadow: 4px 2px 8px #000
            margin-top: -5px
          h3
            margin-top: -10px
            color: #cbfc55
            font-size: 17px
            text-align: center
            font-weight: 400
            font-family: 'Lato', sans-serif
            text-shadow: 2px 2px 2px #000
          .dropdown-wrapper
            padding: 2px
            z-index: 50
            display: inline-block
            background-color: rgba(0, 0, 0, .6)
            border: 2px solid rgba(255, 255, 255, .3)
            -webkit-background-clip: padding-box /* for Safari */
            background-clip: padding-box /* for IE9+, Firefox 4+, Opera, Chrome */
            border-radius: 5px
            margin-top: 45px
            margin-right: auto
            margin-left: auto
            height: 45px
            #search-button
              margin-bottom: 10px
              margin-right: 1px
              display: inline-block
              position: relative
              vertical-align: middle
            .btn-group
              margin-left: 2px
              margin-right: 0px
              margin-top: -11px
              a
                width: 220px
                strong
                  margin-right: 10px
            .dropdown-menu
              li
                text-align: left
                cursor: pointer

      .top
        height: 568px
        width: 100%
        position: absolute
        z-index: 5
        .pictures
          position: absolute
          width: 100%
          min-width: 1920px
          border-top: 1px solid #3a343d
          height: 535px
          z-index: 15
          .picture
            height: 535px
            background-size: 100%
            background-repeat: no-repeat
            &.header-1
              background-image: asset-url('home-large-header-1.jpg')
              background-position: 0 0
            &.header-2
              background-image: asset-url('home-large-header-2.jpg')
              background-position: 0 -240px
            &.header-3
              background-image: asset-url('home-large-header-3.jpg')
              background-position: 0 -350px
        @media (max-width: 1920px)
          .pictures
            width: 1920px
            left: 50%
            height: 535px
            margin-left: -960px
            .picture
              &.header-3
                background-position: 0 -300px
        .categories
          width: 1320px
          height: 120px
          top: 447px
          left: 50%
          margin-left: -660px
          background-image: asset-url('hero-categories-bg.png')
          background-repeat: no-repeat
          z-index: 15
          position: relative
          .sub-header
            width: 1000px
            margin: 0 auto
            height: 120px
            .horizontal-spacer
              height: 90px
              width: 1px
              margin: 16px 10px
              margin-left: -10px
              background-color: #6e8a2b
              float: left
            .category-box
              margin-top: 3px
              float: left
              width: 325px
              height: 115px
              &.meeting-people
                .icon
                  background: asset-url('home-icon-meet-people.png') 10px 0 no-repeat
                  margin-top: 25px
              &.dinner-date
                .icon
                  background: asset-url('home-icon-dinner-date.png') 0 0 no-repeat
                  margin-top: 25px
              &.course
                .icon
                  background: asset-url('home-icon-course.png') 10px 0 no-repeat
                  margin-top: 15px
              .icon
                position: absolute
                cursor: pointer
                width: 90px
                height: 90px
              .text
                position: absolute
                margin-left: 95px
                width: 220px
                text-align: left
                h3
                  color: #313d13
                  font-size: 22px
                  margin-top: 15px
                  cursor: pointer
                p
                  color: #fff
                  font-size: 11px
                  font-weight: 300
                  line-height: 1.3
                  height: 70px
                  overflow: hidden
                  margin-top: -5px
                  text-shadow: 1px 1px 1px #666
        .categories-bottom
          height: 33px
          border-bottom: 1px solid black
          background-image: asset-url('hero-categories-bottom-bg.jpg')
          background-repeat: repeat-x
          position: relative
          margin-top: 416px
          z-index: 10
          position: relative

// ------------------------------------
// pagination

section.pagination
  > .inside
    width: 1000px
    max-width: 1000px
    text-align: center
  nav.pagination
    .btn
      margin-top: -28px
      height: 36px
