@import public/definitions
@import compass/css3/box-sizing

.auth-form-box
  .or
    position: relative
    display: block
    width: 100%
    z-index: 10
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    &:before
      width: 80px
      height: 10px
      background-color: #fff
      content: ''
      margin: -5px 0 0 -40px
      left: 50%
      position: absolute
      top: 50%
      z-index: -1
    &:after
      border-bottom: 1px solid #e1e1e1
      content: ''
      display: block
      position: absolute
      top: 49%
      width: 100%
      z-index: -2
  input
    -webkit-appearance: none
    outline: 0
    +box-sizing(border-box)
  .links
    margin: 20px 0 0 0
    padding-top: 10px
    border-top: 1px solid #EEE
    text-align: right
    font-size: 12px
    a
      color: #999
  .create
    margin-bottom: 10px
    padding-bottom: 10px
    text-align: center
    border-bottom: 1px dashed #EEE
    a
      font-weight: bold
      font-size: 15px
      font-style: italic
      font-family: Lato
      color: #666

#login-modal,
.auth-sessions.new,
.auth-sessions.create
  .form-box
    .user_remember_me
      margin-bottom: 0
    .buttons
      text-align: right

#login-modal
  .modal-dialog
    width: 400px
  .modal-header
    padding-top: 20px
    padding-bottom: 20px
    a
      display: block
      width: 190px
      height: 43px
      margin: 0 auto
    .close
      margin: -14px -9px 0 0
      font-size: 20px
  .modal-body
    padding-top: 30px
    padding-bottom: 20px