@import compass/css3/transition

// ------------------------------------
// event created
.internal-events.successfully_created
  .event-created
    width: 100%
    min-width: 1200px
    min-height: 600px
    position: absolute
    height: 95%
    background: asset-url('successfully-created-image.jpg') 50% 50% no-repeat
    background-size: cover
    background-repeat: no-repeat
  .wrapper
    margin-top: 30px
  .centered
    text-align: center
  .headline
    color: #fff
    font-weight: 100
    font-size: 50px
  .subheadline
    color: #aad542
    font-size: 25px
  p.text
    color: #EEEEEE
    width: 350px
    margin: 0 auto
    line-height: 1.6
    font-size: 14px
    a
      color: #aad542
  .buttons
    margin: 25px 0px 20px 325px
  .logo
    margin-top: 30px
    width: 154px
    height: 128px
    margin: 0 auto

.internal-events.new,
.internal-events.create
  .steps
    margin-top: 30px
    .step-container
      .step
        width: 79px
        height: 79px
        display: block
        float: left
        background: asset-url('number-sprite.png') no-repeat
        &#step1
          background-position: 0 0
        &#step2
          background-position: -80px 0
        &#step3
          background-position: -160px 0
      p
        float: left
        color: #a8a8a8
        font-size: 21px
        font-weight: bold
        margin-top: 26px
        margin-left: 17px
      &.active
        .step
          &#step1
            background-position: 0 -79px
          &#step2
            background-position: -80px -79px
          &#step3
            background-position: -160px -79px
        p
          color: #1d1d1d
  .headline-bar
    margin-bottom: 10px
    margin-top: 30px

  #gallery
    .single-image
      position: relative
    .thumbnails
      position: relative
      img
        +transition-property(opacity)
        +transition-duration(0.5s)
      a.delete, a.to-main-image
        +transition-property(opacity)
        +transition-duration(0.5s)
        position: absolute
        opacity: 0.0
        top: 25px
        &.delete
          left: 42px
        &.to-main-image
          &.highlight
            color: #add648
          left: 62px
      &:hover img
        opacity: 0.1
      &:hover a
        opacity: 1.0

  .add-repetition:hover
    background-color: #aad542
    border-color: #fff
  .form
    .destroy
      margin-top: 34px
    .meal-image
      position: absolute
      margin-left: 450px
      top: 110px
      width: 700px
      height: 500px
      background: asset-url('event/form-background-1.png') 0 0 no-repeat
    .location-image
      position: absolute
      margin-left: 580px
      top: 80px
      width: 600px
      height: 525px
      background: asset-url('event/form-background-2.png') 0 0 no-repeat
    .price-date-image
      position: absolute
      margin-left: 420px
      top: 108px
      width: 600px
      height: 428px
      background: asset-url('event/form-background-3.png') 0 0 no-repeat
    .open-end
      .form-group
        float: left
        width: 100px
    .form-group
      width: 100%
      max-width: 600px
      margin-top: 27px
      help-block.has-error
        margin-top: 0px
      &.boolean
        input
          display: none
        label
          margin-bottom: 25px
          width: 100%
          float: left
          clear: left
          padding-left: 31px
          height: 25px
          border: none
          font-size: 16px
          background: asset-url('bool_radio.png') 0 0 no-repeat
          &.active
            background-position: 0 -25px
        p
          float: left
          margin-left: 10px
          margin-top: 3px
          font-size: 16px
        .has-error
          padding-left: 36px
          margin-top: 0px
      &.event_event_appointments_start_time_date, &.event_event_appointments_start_time_time
        margin-top: 0px
      .radio, .checkbox
        display: inline-block
        margin-top: 0px
        margin-bottom: 0px
        padding-left: 0px
        padding-right: 2px
        font-size: 0px
      .fbtn-square-info
        input[type="checkbox"]
          display: none
      &.event_duration
        float: left
        width: 195px
      label
        margin-bottom: 10px
        font-size: 15px
        color: #1d1d1d
        &.show-label-false
          margin-top: 10px
      input[type="radio"]
        display: none
      input[type="checkbox"]
        display: none
      [name="event[title]"], [name="event[description]"]
        width: 600px
      &.event_category_id
        .fbtn
          width: 197px
      &.event_sex_direction
        .fbtn
          width: 90px
      &.event_self_participation
        .fbtn
          width: 197px
      &.event_max_guest_count
        width: auto
        float: left
      &.event_own_max_guest_count
        width: 60px
        float: left
      #event_own_max_guest_count
        width: 47px
        margin-left: 5px
        height: 35px
        margin-top: 32px
      &.event_address_details
        margin-top: 58px
      &.event_event_informations_id
        width: 670px
        margin-bottom: 50px
      &.event_images
        input
          display: none
      &.text
        a
          color: #aad542
        p
          width: 400px
          line-height: 1.5
          &.bold
            font-size: 19px
            color: #000
            font-weight: 600
      &.bank-account
        margin-bottom: 50px
        // input
        //   width: 400px
      &.radio_buttons, &.check_boxes
        .control-label
          width: 100%
      input
        &.boolean.green-checkbox
          background-color: #123456

    .security-notice
      padding-left: 50px
      text-align: center
      .icon
        margin-top: 75px
        font-size: 170px
        color: #aad542
      p
        text-align: left
        font-size: 11px
        color: #ccc

    &.legal
      .form-group
        margin-top: 0
      input
        float: left
        margin-top: 13px
        width: 30px
        height: 30px
      .form-group.boolean
        label
          margin-top: 10px
          margin-bottom: 0

    textarea.form-control
      height: 110px

    .small
      width: 170px
      &.inline
        width: 150px
    .medium
      width: 430px
    #event-create-google-map
      width: 400px
      height: 350px
      background-color: #fff
    .price
      width: 165px
      height: 80px
      text-align: center
      &#input
        color: #777
        font-size: 50px
        text-shadow: 1px 1px 1px #fff
    &#revenue
      margin-left: -30px
      font-size: 15px
      color: #1d1d1d
      margin-top: 28px
      > p
        font-size: 15px
        width: 230px
        color: #000
        font-weight: bold
        margin-bottom: 12px
        font-family: "Open Sans", sans-serif

      #output
        border: none
        border-radius: 0
        background-color: #aad542
        .wrapper
          margin-left: -25px
          > p
            font-size: 50px
            padding-top: 8px
            text-align: center
            color: #fff
            text-shadow: 1px 1px 1px #666
            > small
              position: absolute
              margin-top: 6px
              font-size: 25px
              color: #fff
              text-shadow: 1px 1px 1px #666

  .photo
    .add-photo
      margin-top: 15px
    .event-box-detailed
      position: relative
      z-index: 20
      margin: 20px 0 30px 0
      padding-top: 4px
      padding-left: 8px
      height: 360px
      .image
        position: relative
        float: left
        z-index: 20
        width: 450px
        max-width: 450px
        height: 292px
        max-height: 292px
        overflow: hidden
        background-color: #eee
        img
          position: absolute
    .thumbnails
      position: relative
      float: left
      z-index: 20
      margin-left: 15px
      width: 120px
      height: 292px
      max-height: 320px
      overflow: hidden
      background-color: #eee
      img
        height: 79px
        overflow: hidden
        margin-bottom: 2px
      .inside
        position: relative
        top: -1px
    .arrow
      position: absolute
      width: 24px
      height: 8px
      left: 522px
      cursor: pointer
      top: 300px

      &.next
        background: asset-url('thumbnail-arrow-top.png') 0 0 no-repeat
        margin-top: -309px
      &.prev
        background: asset-url('thumbnail-arrow-bottom.png') 0 0 no-repeat

  .next-button
    margin: 50px 0
    a.right, button.right, input.right
      float: right
    a.left, button.left, input.left
      float: left

.internal-eventappointments.edit,
.internal-events.update
  .inside + .headline-bar
    margin-top: 50px
  .headline-bar
    margin-top: 15px
  .form
    margin-top: 30px
    margin-left: 10px
  .participations
    margin-top: 30px
    a
      text-decoration: none
      color: black
    img
      width: 55px
      height: 60px
    .table
      tr
        &.bordered
          border-top: 1px solid #dddddd
        & td:first-child
          width: 75px
        & td:nth-child(2)
          width: 400px
        & td:nth-child(3)
          text-align: right
        & td
          vertical-align: middle
          border-top: none
          h4
            margin-top: 5px
            margin-bottom: -15px
        & td.email, td.phone
          width: 250px
          color: #bbb
          font-weight: 100
      i
        margin-right: 5px
