@import public/definitions
@import compass/css3/border-radius
@import compass/css3/box-shadow

// ------------------------------------
// base declarations

*:focus,
input:focus,
textarea:focus,
.form-control:focus
  outline: none
  border-color: #d0d0d0
  +box-shadow(none)

.form-control
  color: #4e4e4e
  background-color: #f4f4f4
  outline: none
  border: 1px solid #d0d0d0
  +border-radius(4px)
  +box-shadow(none)

input.form-control
  height: 40px

textarea.form-control
  resize: none
  padding: 12px 15px

// ------------------------------------
// radio buttons

.button-radios
  .radios
    display: none


