.internal-images
  &.new
    .image-upload
      button
        margin-left: 10px
      .fileupload-buttonbar, .back
        margin-top: 20px

.template-download, .template-upload
  margin-bottom: 15px
  .spinner
    width: 30px
    margin-top: 6px
    opacity: 0
  .preview
    width: 120px
  .fa-check
    font-size: 30px
    margin-top: 17px
    color: #5cb85c
  .fa-times
    margin-left: 31px
    margin-top: 3px
    color: #FF4136
    font-size: 36px
  h5
    font-size: 20px
    margin-top: 0px
    margin-bottom: 1px
  .error
    p
      color: #FF4136
      font-size: 13px


