@import public/definitions
@import compass/css3/text-shadow

#wrapper
  padding-bottom: 150px

// ------------------------------------
// header
#wrapper
  > header
    width: 100%
    overflow: visible !important

    > .wrapper
      height: 46px
      margin: 0 auto

    @media (min-width: 1302px)
      > .wrapper
        width: 1302px

    @media (max-width: 1302px)
      > .wrapper
        width: 100%

    @media (max-width: 1020px)
      > .wrapper
        width: 1020px

    #logo
      position: relative
      float: left
      width: 141px
      margin: 6px 0 0 6px
    .info-text
      float: right
      width: 120px
      margin: 9px 0 0 0
      font-size: 10px
      &.phone
        width: 175px
        font-size: 18px
        i
          margin-right: 6px

    nav
      position: relative
      &.main
        float: left
        margin: 6px 0 0 13px
      &.user
        float: right
        margin: 6px 20px 0 0
      ul
        margin: 0
        padding: 0
        list-style: none
      a
        padding: 5px 10px
        font-size: 14px
        font-family: 'Lato'
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 0
        color: #363636
        em
          margin-right: 5px
          font-weight: 800
          text-transform: none
          color: #4C69A4
          +text-shadow(-1px 0px #fff, 1px 0px 1px #fff, 0px -1px 1px #fff, 0px 1px 1px #fff, 0px 0px 6px rgba(0,0,0,0.3))
      > ul > li
        float: left
        &.active,
        &:hover,
        &.open
          border-bottom: 5px solid $light-green
          background: none
          a
            background: none
            color: #000000
            text-decoration: none
        &:focus,
        & a:focus
          background-color: #fff

        &.divider
          width: 2px
          height: 21px
          margin: 5px 2px 0px 2px
          padding: 0
          background-color: #999
      > ul > li > ul
        margin: 7px -1px 0 0
        min-width: 200px
        border-top: none
        li
          text-align: right
          &.divider
            margin: 0 0 0 0
        a
          padding: 10px
          text-transform: none
          &:hover
            background-color: #aad542
          i
            margin-left: 10px
            font-size: 15px

    .bar
      width: 100%
      padding: 0
      &.green
        height: 10px
        background-color: $light-green




// ------------------------------------
// footer
body
  > footer
    width: 100%
    border-top: $footer-border-width solid $footer-border-color
    border-bottom: $footer-border-width solid $footer-border-color
    background-color: $footer-background-color
    .top
      height: 184px
    #footer-logo
      display: block
      width: 170px
      margin-top: 18px
      outline: none
      border: none
      img
        width: 100%
        height: auto
    .logo-col
      p
        margin-top: 10px
        color: #282828
    .text-col
      h3
        margin-top: 20px
        margin-bottom: 10px
        font-family: Lato
        font-size: 16px
        font-weight: normal
        color: #666
      ul
        list-style: none
        margin: 0
        padding: 0
      li
        margin-bottom: 5px
      a
        color: #999
        &:hover
          color: $light-green
          text-decoration: underline
  .bottom
    padding-top: 10px
    border-top: 1px solid #e5e5e5
    .copyright
      margin-left: 255px
      font-size: 11px
      line-height: 1.2
      color: #b0b0b0
      a
        color: #999
        text-decoration: none
