@import compass/css3/border-radius
@import compass/css3/box-shadow

#newsletter-popup-modal
  .modal-dialog
    width: 1192px !important
    height: 573px !important
    margin-top: -90px
    +box-shadow(0 0 0)
    border: none
  .modal-content
    width: 1192px !important
    height: 573px !important
    +box-shadow(0 0 0)
    border: none
    background: asset-url('newsletter/popup_bg.png') 0 0 no-repeat !important
  .modal-body
    position: absolute
    top: 120px
    left: 130px
    h3
      margin: 0 0 5px 35px
      font-size: 46px
      font-weight: 700
      color: #fff
    h4
      margin: 0 0 10px 35px
      font-size: 28px
      font-weight: 600
      color: #3c3c3b
    p
      margin: 0 0 0 35px
      font-size: 16px
      font-weight: 600
      color: #3c3c3b
    .form-box
      position: absolute
      top: 300px
      left: 20px
      .newsletter_city
        display: none
      .newsletter_city_select,
      .newsletter_name,
      .newsletter_email
        position: absolute
        top: 0
        margin: 0
      .newsletter_city_select
        width: 300px
        left: 0
        a.btn
          width: 300px
          padding-top: 10px
          padding-bottom: 10px
          margin-top: 1px
          border: 1px solid #7b9914
          background: #F9F9F9
          text-align: left
          +border-radius(10px)
          span.label
            padding: 0
            color: #999
            font-weight: normal
            font-size: 13px
          span.content
            font-size: 14px
      .newsletter_name
        left: 315px
      .newsletter_email
        left: 630px
      input
        width: 300px
        height: 44px
        outline: none
        border: none
        background: asset-url('newsletter/popup_form_field_bg.png') 0 0 no-repeat
        &.has-error
          background-image: asset-url('newsletter/popup_form_field_error_bg.png')
      button
        position: absolute
        width: 350px
        top: 68px
        left: 240px
        margin-left: 15px
        outline: none
        border: none
        background: none
        font-size: 17px
        text-decoration: underline
        color: #fff
        &:hover
          text-align: center
          color: #ccc
