@import public/definitions

.public-pages
  // ------------------------------------
  // about us & imprint
  &.about_us, &.imprint, &.agb, &.contact,
  &.faq
    h2, h1
      text-align: center
    h2
      margin-top: 45px
    h3
      font-size: 17px
    #hero
      padding: 0
      height: 220px
      .top
        width: 100%
        position: absolute
        .picture
          position: absolute
          width: 100%
          min-width: 1920px
          border-top: 1px solid #3a343d
          height: 220px
          background-image: asset-url('home-large-header-2.jpg')
          background-size: 100%
          background-repeat: no-repeat
          background-position: 0 -240px
        @media (max-width: 1920px)
          .picture
            width: 1920px
            left: 50%
            height: 220px
            margin-left: -960px
            background-position: 0 -240px
      > .inside
        position: relative
        z-index: 20
        width: 1000px
        height: 568px
        .content-header
          text-align: center
          position: absolute
          width: 1010px
          height: 200px
          left: 50%
          margin-left: -505px
          top: 20px
          .icon
            width: 121px
            height: 100px
            margin: 0 auto
          .headline
            width: 948px
            height: 60px
            margin: 0 auto
            margin-top: 15px
            background-image: asset-url('hero-shadow.png')
            background-repeat: repeat-y
            padding-top: 11px
          h2
            color: #fff
            font-size: 45px
            text-align: center
            font-weight: 800
            font-family: 'Lato', sans-serif
            text-shadow: 4px 2px 8px #000
            margin-top: -5px

  &.agb
    h3
      font-size: 18px
    h4
      margin-top: 20px
      font-size: 16px
    p
      font-size: 13px

  &.contact
    h3
      margin: 30px 0 20px 0
      text-align: center
    p.greetings
      margin-top: 50px
      text-align: center
    p.team
      margin-top: 50px
      text-align: center


  // ------------------------------------
  // imprint
  &.imprint
    h3
      margin-top: 30px
    p
      font-size: 14px

    #imprint-logo
      position: absolute
      width: 180px
      height: 150px
      left: 590px
      top: 70px
    #wwl-logo
      width: 200px
    #digi-logo
      width: 167px

  // ------------------------------------
  // how it works
  &.how_it_works
    .sub-header
      padding-bottom: 10px
      background-color: #000
    .sub-header-wrapper
      text-align: center
      margin: 0 auto
      width: 900px
      h1
        color: #fff
        font-family: Lato
        font-size: 40px
        font-weight: 100
        margin-top: 15px
        margin-bottom: -10px
      h2
        color: $light-green
        font-family: Lato
        font-size: 22px
        font-weight: 500
      p
        color: #909090
        font-family: Lato
        font-size: 16px
        font-weight: 500

    .large
      width: 100%
      min-width: 1798px
      position: relative
      z-index: 5
      height: 672px

      .bg-image
        height: 642px
        z-index: 10
        width: 100%
        background-image: asset-url('how-it-works-bg.jpg')
        background-repeat: no-repeat
        background-position: 0 50%
        background-size: 100%
        margin-top: 30px
        position: absolute
      @media (max-width: 1798px)
        .bg-image
          width: 1798px
          left: 50%
          margin-left: -899px

      .content-wrapper
        width: 100%
        z-index: 120
        position: relative
        .steps + .events
          margin-top: -40px

      .transparent-row
        width: 100%
        height: 70px
        background-color: #fff
        position: relative
        opacity: 0.6

      .steps
        width: $page-width
        z-index: 140
        position: relative
        margin: 0 auto
        overflow: visible
        top: -60px
        margin-bottom: 10px

        .number-icons
          width: 70px
          height: 69px
          float: left
          background: asset-url('number-icon-sprite.png') 0 0 no-repeat
          &.icon-one
            background-position: 0px 0px
          &.icon-two
            background-position: -70px 0px
          &.icon-three
            background-position: -140px 0px
        .content
          float: left
          margin-top: 10px
          margin-left: 20px
          width: 220px
          p
            color: #000
            font-weight: 600
            font-size: 16px
      .step-images
        margin-top: 10px
        height: 187px
        img
          width: 272px
          margin-left: 20px
    .further-information
      margin-top: 30px

      h3
        font-size: 21px
        text-align: center
        margin-top: 26px
        margin-bottom: 36px
      p
        text-align: justify
      .icon
        text-align: center
        .image
          display: inline-block
          background: asset-url('how-it-works-icons.png') 0 0 no-repeat
      .payment
        padding: 0 30px 0 0
        .image
          width: 93px
          height: 134px
          background-position: 0 0
      .booking
        padding: 0 10px
        .image
          margin-left: 20px
          width: 143px
          height: 134px
          background-position: -93px 0
      .security
        padding: 0 0 0 30px
        .image
          width: 102px
          height: 134px
          background-position: -236px 0
