#event-participation-booking-box
  width: 550px
  min-height: 550px
  margin: 0 auto
  margin-top: 50px
  h3
    font-size: 20px
  h3.guests
    margin-top: 25px
  h3.title
    margin-top: 0
  h3.payment-headline
    margin-top: 80px
  p
    margin-bottom: 2px
    padding-top: 0px
    font-size: 16px
    color: #4e4e4e
    &.payment-info
      margin-bottom: 12px
  p.owner
    font-size: 18px
    color: #aad542
  .image
    position: relative
    z-index: 20
    width: 260px
    max-width: 260px
    height: 170px
    max-height: 170px
    overflow: hidden
    margin-top: 1px
  .event-type
    position: absolute
    z-index: 25
    width: 42px
    height: 44px
    top: 0
    left: 234px
    background-image: asset-url('event/labels_small.png')
    background-position: 0 0
    background-repeat: no-repeat
    &.dating
      background-position: -44px 0
    &.course
      background-position: -88px 0
  .participating
    text-align: center
    .buttons
      margin-top: 20px
  div.dropdown-menu
    max-height: 170px !important
    ul.dropdown-menu
      max-height: 143px !important

  .sum-price
    width: 220px
    text-align: center
    h4
      margin-top: 10px
      margin-bottom: 4px
    p
      font-size: 35px
  p.booked-out
    font-size: 22px
    text-align: center
    margin-top: 35px

.modal-body
  #event-participation-booking-box
    width: 550px
    min-height: 380px
    margin: 0 auto
    margin-top: 0px

.internal-participations.show
  #event-created
    position: absolute
    height: 100%
    z-index: 10
    width: 100%
    min-height: 800px
    padding-top: 70px
    background-image: asset-url('event-booked-image.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%
    > .inside
      position: relative
    .logo
      position: absolute
      z-index: 100
      width: 120px
      top: 17px
      left: 50%
      margin-left: -60px
    .background-white
      position: absolute
      z-index: 50
      width: 100%
      height: 100%
      border-top: 1px solid #cecece
      border-bottom: 1px solid #cecece
      background-color: #fff
      opacity: 0.5
      filter: alpha(opacity=50)
      & + .container
        z-index: 100
        > .inside
          padding-bottom: 40px
    .centered
      text-align: center
    .headline
      margin-top: 60px
      font-weight: 100
      font-size: 32px
      color: #000
    .subheadline
      font-weight: 600
      font-size: 18px
      color: #353535
      margin-bottom: 20px
    .event-box-outer-wrapper
      width: 530px
      background-color: #fff
      margin: 0 auto
      border: 1px solid darkgray
      border-radius: 10px
      padding: 10px
      hr
        margin: 10px 0
      .buttons
        text-align: center
      .event-box
        margin-top: -25px
      #event-data
        margin-top: -50px
        margin-bottom: -30px
        padding: 10px
  #wrapper
    .push
      height: 850px

