@import compass/css3/box-shadow

.slick-prev:before
  font-family: FontAwesome
  content: "\f053"
.slick-next:before
  font-family: FontAwesome
  content: "\f054"
.slick-next,
.slick-prev
  &:before
    color: #999
  &.slick-disabled
    &:before
      color: #ccc


.thumbnail-slider-horizontal
  width: 400px
  height: 121px
  padding: 4px
  overflow: hidden
  +box-shadow(0px 0px 10px #cdcdcd)
  &.slick-slider
    overflow: visible
  img
    width: 93px
    height: 113px
    float: left
    position: relative
    margin: 0 1px
