@import compass/css3/box-shadow
@import compass/css3/transition

.container.users
  .horizontal-image-slider
    img
      width: 93px
      height: 113px
      float: left
      position: relative
      margin: 0 1px

    .thumbnails
      width: 320px
      height: 113px
      overflow: hidden
      -webkit-box-shadow: #cdcdcd 0px 0px 10px
      -moz-box-shadow: #cdcdcd 0px 0px 10px
      box-shadow: #cdcdcd 0px 0px 10px
      border: #f8f8f8 5px solid
      .inside
        left: -1px
        position: relative
    .arrow
      position: absolute
      width: 8px
      height: 24px
      margin-left: 48px
      cursor: pointer
      top: 44px
      left: -50px
      &.next
        background: asset-url('thumbnail-arrow-right.png') no-repeat
        margin-left: 393px
      &.prev
        background: asset-url('thumbnail-arrow-left.png') no-repeat


  .headline-bar.profile
    margin-top: 20px
  .event-switches
    margin-top: 20px
    text-align: center
  .profile-infos
    margin-top: 40px
    margin-bottom: 40px
    .main-image
      img
        +box-shadow(#cdcdcd 0px 0px 10px)
        border: #f8f8f8 5px solid
    h2
      font-size: 30px
      margin-top: 8px
    table
      th, td
        border-top: none
        padding: 3px
        padding-left: 0px
        vertical-align: top
      th
        font-size: 16px
        text-align: left
        width: 80px
        padding-right: 20px
      tr.about-me
        .content
          height: 62px
        .truncation-links
          text-align: right
          a
            font-size: 12px
        .readless,
        .readmore
          display: none

    h3.description
      font-size: 16px
    p.description
      font-size: 14px

  .flash-message
    margin-bottom: 10px

  .form
    margin-top: 40px
    margin-bottom: 40px
    button[type="submit"]
      margin-top: 30px
    .radio_buttons, &.check_boxes
      .control-label
        width: 100%
    .radio
      display: inline-block
      margin-top: 0px
      margin-bottom: 0px
      padding-left: 0px
      padding-right: 2px
      font-size: 0px
    .main_image
      width: 400px
      height: 460px
      +box-shadow(#cdcdcd 0px 0px 10px)
      border: #f8f8f8 5px solid
      display: block
    #checkmark
      position: absolute
      top: 155px
      left: 145px
      background-color: #eee
      width: 140px
      height: 140px
      padding-top: 43px
      padding-left: 37px
      border-radius: 10px
      opacity: 0.8
      display: none



    .thumbnails,
    .thumbnail-slider-vertical
      position: relative
      display: inline-block
      z-index: 20
      margin-left: 5px
      width: 120px
      height: 460px
      overflow: hidden
      border: #f8f8f8 5px solid
      +box-shadow(#cdcdcd 0px 0px 10px)
      img
        height: 140px
        width: 100%
        overflow: hidden
        margin-bottom: 5px
      .inside
        position: relative
        top: -1px
        .image_container
          img
            +transition-property(opacity)
            +transition-duration(0.5s)
          position: relative
          a
            +transition-property(opacity)
            +transition-duration(0.5s)
            position: absolute
            opacity: 0.0
            top: 55px
            &.delete
              left: 9px
            &.to-main-image
              &.highlight
                color: #add648
              left: 62px
          &:hover img
            opacity: 0.1
          &:hover a
            opacity: 1.0

    .add-image
      text-align: center
      margin-left: 29px
      margin-top: 45px
    p
      color: #bbb
      font-size: 14px
      text-align: center
      width: 130px
      margin-top: 5px
    .arrow
      position: absolute
      width: 24px
      height: 8px
      margin-left: 54px
      cursor: pointer
      top: 465px

      &.next
        background: asset-url('thumbnail-arrow-top.png') no-repeat
        margin-top: -483px
      &.prev
        background: asset-url('thumbnail-arrow-bottom.png') no-repeat

  .user_date_of_birth
    select.date
      display: inline-block
    .date
      &.control-label
        display: block
      &#user_date_of_birth_3i
        width: 60px
      &#user_date_of_birth_2i
        width: 120px
      &#user_date_of_birth_1i
        width: 100px


.internal-users.show
  .alert
    margin-top: 20px

.internal-users.edit,
.internal-users.update
  .languages
    table
      width: 100%
    td
      padding-bottom: 5px
    td.actions
      width: 110px
      font-size: 11px
      text-align: right
      a
        color: #ccc
        &:hover
          color: #cc0000
  textarea[name="user[interests]"],
  textarea[name="user[description]"]
    height: 100px
  .user_newsletter_subscription
    label
      color: #999
      font-weight: normal


#event-data
  h3
    font-size: 18px
  h4
    font-size: 16px
    font-weight: 600
  p
    font-size: 13px
    &.green
      font-size: 15px
      font-weight: 600
      color: #aad542
  .divider
    border-right: 1px solid #eee
    min-height: 80px
  .row
    &.center
      text-align: center
      margin: 10px
