.panel.panel-default
  .panel-heading
    %h4.panel-title
      = link_to "#collapse-#{identifier}", data: { parent: parent, toggle: 'collapse' } do
        - if defined?(parameter)
          = t("public.faq.questions.#{identifier}", parameter).html_safe
        - else
          = t("public.faq.questions.#{identifier}").html_safe
  .panel-collapse.collapse{ id: "collapse-#{identifier}" }
    .panel-body
      - if defined?(parameter)
        = t("public.faq.answer.#{identifier}", parameter).html_safe
      - else
        = t("public.faq.answer.#{identifier}").html_safe
