%section.container#hero
  .top
    .picture
  .inside
    .content-header
      .icon
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2
          = t('public.about_us.headline')


%section.container.large
  .bg-image

  .content-wrapper
    .container.events
      .inside
        .row
          .col-xs-12
            %h2
              Was wir machen
            %p
              Foodoo ist die Online Plattform für Alle, die gerne kochen und essen und die das in Zukunft nicht mehr alleine machen wollen. Foodoo ermöglicht es Dir mit netten Menschen zu essen oder auch zu kochen, ganz egal in welcher Stadt Du Dich gerade befindest.
              %br
              Du möchtest einfach nicht alleine essen, kennst in Deiner Stadt aber kaum Leute? Du hast keinen Partner und möchtest andere Singles bei außergewöhnlichen Dinner-Events treffen? Oder hast du vielleicht Lust deine Kochkünste bei einem tollen Kochkurs zu verfeinern? Dann bist Du bei Foodoo genau richtig, wir bieten Dir zahlreiche verschiedene Events rund um die Themen Kochen und ,,Social Dining‘‘.


            %h2
              Was uns motiviert
            %p
              Mit zunehmendem Wachstum der sozialen Netzwerke, diverser Plattformen zu beinahe allen Themen und Interessen haben wir uns gefragt, wie sozial sind eigentlich diese Netzwerke? Ermöglichen Sie wirklich das Knüpfen echter Freundschaften und Beziehungen?
              %br
              Wir sind der Meinung, dass das Internet nach wie vor der perfekte Ort ist um in Kontakt zu treten, es jedoch auch die Möglichkeit geben muss neue Menschen im realen Leben kennen zu lernen –und das so einfach wie möglich!
              %br
              Deshalb haben wir Foodoo entwickelt, um erstmalig eine zentrale Anlaufstelle zu schaffen, die direkt darauf abzielt persönliche Kontakte zu knüpfen.
              Ganz unverbindlich möchten wir Dir die Möglichkeit geben in geselliger Runde auf gleichgesinnte zu treffen, dabei ein leckeres Essen zu genießen und einfach Du selbst zu sein.
              %br
              Wir sind davon überzeugt dass Vielfältigkeit der Schlüssel zu steigender Lebensqualität ist und so wollen wir das Internet nutzen, um Dich  im realen Leben mit anderen Menschen an den Tisch zu bekommen. Sei ein Teil davon und erlebe selbst, dass nichts im Leben über echte menschliche Nähe geht.

            %h2
              Wie Du Foodoo nutzen kannst
            %h3
              Als Gastgeber
            %p
              Als ambitionierter Hobbykoch kannst Du bei Foodoo ein Event erstellen, zu dem sich Gäste einladen. Du hast den Überblick über Deine Gäste, kannst diese kontaktieren und gegeben Falls auch wieder ausladen. Für Deine Bemühungen und Auslagen erhältst Du von den Gästen am Tag des Events den von Dir zuvor festgelegten Unkostenbeitrag.

            %h3
              Als Gast
            %p
              Bei Foodoo findest Du viele Events in Deiner Stadt. Du kannst Dich entscheiden, was Du mit wem essen möchtest, auch mal ganz kurzfristig. Du wirst nette neue Leute oder auch Singles treffen. Also sei dabei, genieße das Leben bei gutem Essen und spannenden Gesprächen.
              %br
              Bei Foodoo stehen Dir natürlich auch zahlreiche Kochkurse zur Auswahl, so kannst Du Deine Künste am Herd perfektionieren und bald vielleicht auch mal selbst Gastgeber werden.
