%section.container#hero
  .top
    .picture
  .inside
    .content-header
      .icon
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2
          = t('public.agb.headline')

%section.container.large
  .content-wrapper
    .container.events
      .inside
        .row
          .col-xs-10.col-xs-offset-1
            %h3 Allgemeine Geschäftsbedingungen ( AGB) für die Nutzung von foodoo.de

            %h4
              1.  Geltungsbreich

            %p
              Die nachfolgenden AGB gelten für die Nutzung der Webseite www.foodoo.de, die von der Foodoo UG (haftungsbeschränkt) (im Folgenden auch „Foodoo“) in Berlin betrieben wird.
            %p
              Nutzer der Plattform foodoo.de können sowohl natürliche als auch juristische Personen sein, die sich auf foodoo.de registriert haben.
            %p
              Mit der Registrierung erkennt sich der Nutzer mit den AGB einverstanden.
            %p
              Die Foodoo UG behält sich das Recht vor, künftige Änderungen der AGB auf foodoo.de vorzunehmen.
              %br
              Die Änderungen gelten von bereits bestehenden Nutzern erst dann als akzeptiert, wenn er diesen zustimmt. Eine Zustimmung kann auch konkludent erfolgen. Hierfür reicht es wenn die Foodoo UG die geänderten AGB an die vom Nutzer angegebene Registrierungs- E-Mail Adresse sendet und der  Nutzer nicht innerhalb von 7 Tagen den geänderten AGB widerspricht.

            %h4
              2.  Gegenstand der Nutzung
            %p
              Foodoo.de ist eine Onlineplattform auf der sich Nutzer zum gemeinsamen Essen treffen können. Die Foodoo UG tritt hierbei ausschließlich als Vermittler auf.
            %p
              Dabei gibt es immer einen Nutzer der Gastgeber ist. Er erstellt selbstständig ein Event und macht alle dafür notwendigen Angaben.
            %p
              Jeder Nutzer kann ebenfalls auch Gast sein und einen oder mehrere Platz/Plätze bei einer Veranstaltung buchen.

            %h4
              3.  Registrierung
            %p
              Für die Nutzung der Angebote auf foodoo.de ist eine Registrierung des Nutzer erforderlich. Bei der Registrierung fallen dem Nutzer keine Kosten an.
            %p
              Der Nutzer verpflichtet sich bei der Registrierung wahrheitsgemäße Angaben zu machen, insbesondere bei der Angabe einer gültigen E-Mail Adresse. Die Foodoo UG behält sich das Recht vor, das Konto eines Nutzes zu sperren, wenn dieser bei der Registrierung nicht korrekte Angaben gemacht hat.
            %p
              Der Nutzer kann sich über einen Direktlink mit seinem Facebook-Konto anmelden oder er registriert sich per E-Mail. Bei der Registrierung per E-Mail wählt der Nutzer zunächst eine gültige E-Mail Adresse sowie ein Passwort aus.
            %p
              Anschließend wählt der Nutzer einen Nutzernamen für sein Profil aus. Der Nutzername darf nicht Sittenwidrig sein oder gegen Namens –oder Markenrechte verstoßen. Des Weiteren  lädt der Nutzer mindestens ein Profilfoto hoch, dass Ihn selbst darstellt.
            %p
              Der Nutzer verpflichtet sich, innerhalb von 48 Stunden sein Nutzerkonto zu bestätigen. Dafür wird dem Nutzer unverzüglich nach der Registrierung ein Bestätigungslink an die vom Nutzer angegebene E-Mail Adresse geschickt. Die Foodoo UG behält sich das Recht vor, ein Nutzerkonto zu sperren und zu deaktivieren, wenn der Nutzer sein Konto nicht innerhalb der vorgegebenen Frist per E-Mail bestätigt.

            %h4
              4.  Nutzerpflichten
            %p
              Der Nutzer alleine ist für sämtliche Inhalte verantwortlich, die er auf der Plattform einstellt.
            %p
              Der Nutzer verpflichtet sich keine Rechtwidrigen oder Sittenwidrigen Inhalte auf der Plattform zu veröffentlichen.
            %p
              Der Nutzer verpflichtet sich weiterhin, sein Profil nur selbst zu verwalten und sein Passwort geheim zu halten. Der Nutzer haftet für sämtliche Inhalte in seinem Profil, auch durch die Nutzung Dritter, es sei denn, er hat dies nachweislich nicht zu verantworten.
            %p
              Sollte der verdacht auf einen Missbrauch des eigenen Kontos durch Dritte vorliegen, ist der Nutzer gegenüber Foodoo verpflichtet, dies unverzüglich zu melden.
            %p
              Adressen, E-Mail Adressen oder Telefonnummern, die der Nutzer über die Plattform von anderen Nutzern erhält, dürfen in keiner anderen Form als der persönlichen Kommunikation im Sinne dieser AGB genutzt werden. Insbsondere dürfen diese Daten nicht weitergegeben oder für Werbezwecke genutzt werden, es sei denn der betroffene Nutzer hat vorher sein Einverständnis dafür erteilt.
            %p
              Der Nutzer darf keine inhaltsgleichen Massenmailings an Dritte über die Plattform von Foodoo versenden. Jegliche Form von Spam Mails ist gegenüber Dritten untersagt.

            %h4
              5.  Umgang mit Inhalten und Rechten
            %p
              Der Nutzer darf keine Inhalte von Dritten hochladen. Dazu gehören insbesondere Bilder, die das Urheberrecht Dritter verletzen oder gegen andere Rechte verstoßen.
            %p
              Der Nutzer tritt alle Rechte an den auf die Webseite hochgeladenen Bildern an die Foodoo UG ab. Der Nutzer versichert, dass er alle erforderlichen Rechte an den hochgeladenen Bildern hält. Die Abtretung erfolgt kostenlos.
            %p
              Die Foodoo UG darf diese Bilder zu Marketingzwecken nutzen. Ein Einverständnis für diese Art der Nutzung seitens des Nutzers ist nicht erforderlich.
            %p
              Alle Angaben, die von einem Nutzer gemacht werden, die nicht private Angaben, wie Name, Adresse, Telefonnummer, Email-Adresse oder Bankdaten, sind, durfen von Foodoo im Zusammenhang mit den Bildern für Marketingzwecke hinsichtlich der Beschreibung eines Events genutzt werden.
            %p
              Eine solche Nutzung darf auf den gängigen Werbekanälen, insbesondere Social-Media-Angeboten, erfolgen.

            %h4
              6.  Haftung für Seiten Dritter
            %p
              Foodoo veröffentlicht auf der Plattform Links zu Webseiten von Dritten. Foodoo ist nicht für die Inhalte von Anbietern anderer Internetseiten verantwortlich. Der Inhaber der Internetseite zu der Foodoo durch Hyperlinks verweist, ist selbst für deren Inhalte,  sowie Verkauf von dort erwerblichen Waren oder Dienstleistungen verantwortlich.

            %h4
              7.  Einstellen eines Events, Buchung eines Events
            %p
              Jeder registrierte Nutzer auf foodoo.de kann ein Event einstellen und andere Nutzer zu diesem Event einladen.
            %p
              Der Nutzer spricht durch das Einstellen eines Events ein Angebot aus. Dieses richtet sich an alle auf foodoo.de registrierte Nutzer.
            %p
              Ein Vertrag zwischen dem Nutzer als Gastgeber eines Events und den Nutzern als Gast des Events kommt dann zustande, wenn ein anderer Nutzer ein Event für sich oder mehrere Personen bucht.
            %p
              Die vertraglichen Inhalte obliegen den Vertragsparteien. Dazu zählt insbesondere Ort, Zeit, Leistung, maximale Anzahl der Teilnehmer sowie Preis des Events. Der Nutzer als Gastgeber hat bei der Veröffentlichung des Events Angaben zu den oben genannten Vertragsinhalten zu machen.
            %p
              Der Gastgeber kann die Angaben jederzeit ohne Angabe von Gründen ändern.
            %p
              Der Gastgeber eines Events entscheidet über den Zeitraum, wann eine Anmeldung möglich ist. Dies kann von drei Tagen vor dem Start eines Events bis zum tatsächlichen Beginn des Events sein.
            %p
              Der Gastgeber kann Gäste ablehnen.
            %p
              Der Gastgeber  kann das Event zu jeden beliebigen Zeitpunkt absagen. Gäste können zu jedem Zeitpunkt ihre Teilnahme an einem Event absagen. Einen Anspruch auf einen eventuell entstandenen Schaden haben die Vertragsparteien untereinander nicht.
            %p
              Der Nutzer erhält den von ihm festgelegten Kostenbeitrag pro Person für ein Event während eines Event in voller Höhe in Bar von den erschienen Gästen.
            %p
              Nutzer sind gegenüber Foodoo verpflichtet zu melden, wenn Gastgeber oder Gäste sich im Verlauf eines Events auf nicht akzeptable Weise verhalten haben, politisch oder ethisch inkorrekte Aussagen getätigt haben oder das Event als Verkaufsplattform nutzten. Foodoo wird die Beschwerden prüfen und behält sich das Recht vor, die Nutzer zu sperren.

            %h4
              8.  Vermittlungsvertrag zwischen Nutzer und Foodoo, Bezahlung
            %p
              Zeitgleich mit dem Zustandekommen eines Vertrages zwischen dem Nutzer als Gastgeber und den Nutzern als Gäste kommt ein Vertrag zwischen der Foodoo UG und dem Gastgeber eines Events über die von der Foodoo UG erbrachte Dienstleistung - Bereitstellen der Vermittlungsplattform und Vermittlung zwischen den Nutzern - zustande.
            %p
              Der Nutzer hat im Prozess des Einstellens eines Events seine Kontodaten für eine spätere Abrechnung der Vermittlungsprovision zwischen dem Nutzer als Gastgeber und der Foodoo UG anzugeben. Die Kontodaten werden nur zu dem Zweck der Abrechnung erhoben und nach erfolgter Abrechnung wieder gelöscht.
            %p
              Die Vermittlungsprovision beläuft sich auf 20 % - zzgl. 19 % MwSt. - des Angebotspreises pro Person multipliziert mit der Anzahl angemeldeter Gäste (Gesamtpreis).
            %p
              Der Gastgeber hat die Möglichkeit innerhalb von 72 Stunden nach Ablauf des Events der Foodoo UG mitzuteilen, ob angemeldete Gäste nicht erschienen sind.  Ist dies der Fall, gilt für die Berechnung des Gesamtpreises  die Anzahl der tatsächlich teilgenommenen Gäste und nicht die der angemeldeten Gäste.
            %p
              Die Foodoo UG wird die berechnete Vermittlungsprovision zzgl. 19 % MwSt. 72 Stunden nach Ablauf des Events im Wege des SEPA Lastschriftverfahrens vom angegebenen Konto abbuchen. Der Nutzer erhält zeitgleich eine Endrechnung.

            %h4
              9.  Haftung
            %p
              Die Foodoo UG übernimmt keine Haftung für Schäden am Eigentum oder Vermögensschäden der Nutzer, die während des Ablaufs eines Events verursacht wurden.
            %p
              Die Foodoo UG übernimmt keine Haftung für Vermögensschäden oder anderweitige Schäden, die aufgrund von kurzfristiger Stornierung eines Events oder aufgrund des Nichterscheinens von angemeldeten Gästen eintreten.
            %p
              Die Foodoo UG haftet ansonsten lediglich bei Vorsatz oder grober Fahrlässigkeit sowie bei einer Verletzung des Lebens, des Körpers oder der Gesundheit eines Nutzers.

            %h4
              10. Sperrung eines Kontos
            %p
              Neben den bisher in den Bedingungen genannten Gründen ist es Foodoo gestattet ein Konto zu sperren, wenn der Nutzer gegen die AGB verstößt.
            %p
              Die Sperrung erfolgt ohne Haftung. Eine Ankündigung oder eine Einhaltung einer Frist ist nicht erforderlich.
            %p
              Ein gesperrter Nutzer darf sich nicht erneut registrieren.

