%section.container#hero
  .top
    .picture
  .inside
    .content-header
      .icon
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2 Kontakt

%section.container.large
  .content-wrapper
    .container.events
      .inside
        .row
          .col-xs-8.col-xs-offset-2

          %h3 Allgemein
          %p
            Für Presseanfragen, Kooperationen oder Feedback erreichst du uns am besten per Mail, an #{mail_to('kontakt@foodoo.de')} oder telefonisch direkt in Berlin unter 030 - 406 959 17

          %h3 Nutzerkonto &amp; Events
          %p
            Du hast Fragen zu Deinen Events, Deinem Nutzerkonto oder anderen Funktionen auf unserer Seite?
            %br/
            Die Antworten auf die am häufigsten gestellten Fragen findest du in unseren #{link_to('FAQ', root_path)}.

          %p
            Solltest Du dort keine Antwort finden freuen wir uns über eine kurze Mail mit deiner Frage an #{mail_to('service@foodoo.de')}. Wir geben alles um dir so schnell wie möglich zu helfen.

          %p.greetings
            Wir freuen uns von Dir zu hören.

          %p.team
            Dein Foodoo-Team
