%section.container#hero
  .top
    .picture
  .inside
    .content-header
      .icon
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2
          = t('public.faq.headlines.main')

%section.container.large
  .content-wrapper
    .container.events
      .inside
        .row

          .col-xs-10.col-xs-offset-1

            %h2= t('public.faq.headlines.cat_general')
            #accordion-cat-general.panel-group
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_create'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_profile_information'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_password_lost', parameter: { link: "<a href=#{new_user_password_path}>Neues Passwort</a>" }
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_edit_profile'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_special_foodoo'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_as_event'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_why_foodoo'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_community'
              = render 'faq_question', parent: '#accordion-cat-general', identifier: 'general_newsletter_unsubscription', parameter: { link: "<a href=#{edit_newsletter_subscriptions_path}>Link zum abstellen</a>" }

            %h2= t('public.faq.headlines.cat_guest')
            #accordion-cat-guest.panel-group
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_how_to_find'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_what'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_how_to_book'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_canceled'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_cancel'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_payment'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_tip'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_where_events'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_own_drinks'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_other_people'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_where_event'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_categories'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_my_events'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_preparation'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_event_cancelation'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_host_to_reachable'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_location_not_found'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_allergies'
              = render 'faq_question', parent: '#accordion-cat-guest', identifier: 'guest_payment_to_foodoo'


            %h2= t('public.faq.headlines.cat_host')
            #accordion-cat-host.panel-group
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_how_become'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_after_creation'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_change_event'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_cancel_event'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_event_types'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_cities'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_service_number'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_guest_payment'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_guest_not_participated'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_cancel_guest'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_max_guests'
              = render 'faq_question', parent: '#accordion-cat-host', identifier: 'host_rate_people'
