%section.container.sub-header
  .inside
    .sub-header-wrapper
      %h1
        = t('public.how_it_works.headline')
      %h2
        = t('public.how_it_works.sub-headline')
      %p
        = t('public.how_it_works.text')

%section.container.large
  .bg-image

  .content-wrapper
    .container.events
      .headline-bar
        .inside
          .row
            .col-xs-12
              %h2
                %i.headline-icons.icon-person
                = t('public.how_it_works.as_guest')

    .transparent-row
    .steps
      .row
        = render "step_box", icon_class: "icon-one", description: t('public.how_it_works.guest.step_one')
        = render "step_box", icon_class: "icon-two", description: t('public.how_it_works.guest.step_two')
        = render "step_box", icon_class: "icon-three", description: t('public.how_it_works.guest.step_three')

      .row.step-images
        .col-xs-4
          = image_tag "guest-step1.png", alt: t('public.how_it_works.guest.step_one_alt')
        .col-xs-4
          = image_tag "guest-step2.png", alt: t('public.how_it_works.guest.step_two_alt')
        .col-xs-4
          = image_tag "guest-step3.png", alt: t('public.how_it_works.guest.step_three_alt')

    .container.events
      .headline-bar
        .inside
          .row
            .col-xs-12
              %h2
                %i.headline-icons.icon-person
                = t('public.how_it_works.as_cook')

    .transparent-row
    .steps
      .row
        = render "step_box", icon_class: "icon-one", description: t('public.how_it_works.cook.step_one')
        = render "step_box", icon_class: "icon-two", description: t('public.how_it_works.cook.step_two')
        = render "step_box", icon_class: "icon-three", description: t('public.how_it_works.cook.step_three')

      .row.step-images
        .col-xs-4
          = image_tag "cook-step1.png", alt: t('public.how_it_works.cook.step_one_alt')
        .col-xs-4
          = image_tag "cook-step2.png", alt: t('public.how_it_works.cook.step_two_alt')
        .col-xs-4
          = image_tag "cook-step3.png", alt: t('public.how_it_works.cook.step_three_alt')

%section.container
  .container.further-information
    .inside
      .row
        .col-xs-4
          .payment
            .icon
              .image
            %h3
              Bezahlung und Verpflichtung
            %p
              Als Gast zahlst Du lediglich eine vom Gastgeber festgelegte Kostenumlage für ein Event. Diese kannst Du ganz bequem direkt in bar beim Gastgeber während der Veranstaltung zahlen.
              %br
              Bevor Du nicht an einem Event teilgenommen hast, gehst Du auch keine Verpflichtungen ein.
            %p
              Als Gastgeber entscheidest Du selbst wie hoch der Kostenbeitrag pro Person ist, orientieren kannst Du dich dabei am Wareneinsatz der Speisen und Getränke die Du servierst.

        .col-xs-4
          .booking
            .icon
              .image
            %h3
              Buchung und Stornierung
            %p
              Als Gast hast Du jederzeit die Möglichkeit ein angezeigtes Event zu buchen oder zu stornieren. Du kannst natürlich jederzeit Freunde zu der Veranstaltung anmelden und mitbringen, auch wenn diese noch nicht bei foodoo registriert sind. Beim Buchungsvorgang kannst Du einfach weitere Plätze für Deine Freunde reservieren.
              %br
              Auch als Gastgeber hast Du die Möglichkeit ein Event jederzeit wieder zu stornieren oder vereinzelte Gäste auszuladen, indem Du eine Buchung stornierst.
              %br
              Du musst keine Angaben machen warum Du einzelne Gäste ausgeladen hast.
              %br
              Über jede Stornierung informieren wir natürlich sowohl Gastgeber als auch Gast   umgehend per E-Mail.
        .col-xs-4
          .security
            .icon
              .image
            %h3
              Vetrauen und Sicherheit
            %p
              Wir bei foodoo legen großen Wert auf Sicherheit und einen reibungslosen Ablauf, sodass ein Event für alle eine großartige Erfahrung wird. Deshalb wird jedes Event einzeln vor der Veröffentlichung von uns geprüft. Erst unmittelbar nach einer Buchung erfährst Du die genaue Adresse, den Namen und weitere Adressdetails des Gastgebers.
              %br
              Ebenfalls werden Dir die bevorzugten Kontaktdaten des Gastgebers angezeigt. Solltest Du also weitere Fragen haben, kannst Du einen Gastgeber vorab persönlich kontaktieren. Falls dennoch Fragen oder Probleme auftreten, stehen wir Dir 7 Tage die Woche gerne per Mail unter service@foodoo.de zur Verfügung.
