%section.container#hero
  .top
    .picture
  .inside
    .content-header
      .icon
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2
          = t('public.imprint.headline')

%section.container.large
  .content-wrapper
    .container.events
      .inside
        .row
          .col-xs-10.col-xs-offset-1
            = image_tag('logo-footer.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "180x150", id: 'imprint-logo')
            %h3
              Angaben gemäß § 5 TMG:
            %p
              Foodoo UG (haftungsbeschränkt)<br>
              Brunnenstraße 193<br>
              10119 Berlin
            %h3
              Geschäftsführer:
            %p
              Philipp Stegmann

            %h3
              Kontakt
            %p
              E-Mail: kontakt@foodoo.de
            %p
              <br>
              Eingetragen beim Amtsgericht Berlin-Charlottenburg HRB 156138 B | USt-ID DE293913018

            %h3
              Datenschutz
            %p
              Gemäß des Bundesdatenschutzgesetzes und gestützt auf die Datenschutzgesetzgebung hat jede Person Anspruch auf Schutz ihres Persönlichkeitsrechts, sowie auf Schutz vor Missbrauch Ihrer persönlichen Daten. Foodoo UG hält diese Bestimmungen ein. Wenn dies nicht der Fall ist, bitten wir um sofortige Inkenntnissetzung. Sofern innerhalb unseres Internetauftritts die Möglichkeit zur Eingabe persönlicher und geschäftlicher Daten besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Foodoo UG ist bestrebt, den Webauftritt möglichst benutzerfreundlich zu gestalten. Daher können eventuell Daten aus Ihrem Rechner erfasst und gespeichert werden. Alle von uns erfassten Daten werden absolut und streng vertraulich behandelt und nicht an Dritte weitergegeben.

            %h3
              Rechtliches
            %p
              Die gesamten Inhalte unterliegen urheberrechtlichen Schutz. Sie dürfen ohne ausdrückliche schriftliche Genehmigung des Herausgebers Hillig &amp; Schrot wonderweblabs GbR in keiner Form reproduziert oder unter Verwendung elektronischer System verarbeitet, vervielfältigt oder verbreitet werden.
            %p
              = "Inhalt © 2013-#{Time.now.year} Foodoo UG"
            %p
              Für alle Links auf foodoo.de gilt: Foodoo UG hat unter Umständen keinerlei Einfluss auf die Gestaltung und den Inhalt dieser Seiten. Hiermit distanziert sich Foodoo UG ausdrücklich von allen Inhalten außerhalb von foodoo.de. Falls wir rechtswidrige Inhalte verlinkt haben, informieren Sie uns bitte umgehend!

            %h3
              Design und Umsetzung

            .row
              .col-xs-2
                %p
                  %br/
                  %strong Entwicklung:
              .col-xs-2
                %br/
                = link_to "wonderweblabs", "http://www.wonderweblabs.com"
              .col-xs-3
                = link_to (image_tag('wonderweblabs-logo.png', alt: 'wonderweblabs', id:'wwl-logo')), "http://www.wonderweblabs.com"

              .clearfix
              .col-xs-7
                %hr/
              .clearfix

              .col-xs-2
                %p
                  %br/
                  %strong Design:
              .col-xs-2
                %br/
                = link_to "digitalgrafik24", "http://www.digitalgrafik24.de"
              .col-xs-3
                = link_to (image_tag('digitalgrafik24-logo.jpg', alt: 'digitalgrafik24', id:'digi-logo')), "http://www.digitalgrafik24.de"
