%section.container
  .inside
    .row
      .col-xs-12
        %h1 Headline 1
        %h2 Headline 2
        %h3 Headline 3
        %p
          Texte: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Certe non potest. Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Terram, mihi crede, ea lanx et maria deprimet. Hinc ceteri particulas arripere conati suam quisque videro voluit afferre sententiam. Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Scrupulum, inquam, abeunti; Duo Reges: constructio interrete. Laboro autem non sine causa;

        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/

        %h2 Formulare

        = simple_form_for :event, url: root_path, method: :post do |f|
          %p
            %u Input
            = f.input :string_input
          %hr/
          %p
            %u Textarea
            = f.input :text_input, as: :text
          %hr/
          %p
            %u Radio
          %em vorselektiert
          = render_cell :form, :button_radios, :normal, 'event[type]', {'Leute kennenlernen' => 1, 'Dating Diner' => 2, 'Kochkurs' => 3}, 2
          %br/
          %em ohne default
          = render_cell :form, :button_radios, :normal, 'event[type]', {1 => 1, 2 => 2, 3 => 3, 4 => 4, 5 => 5}

        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/

        %h2 Buttons - small

        .buttons
          = render_cell :button, :small, 'Hello World', root_url
          %br/
          = render_cell :button, :small, 'Hello World', root_url, class: 'active'
          %br/
          = render_cell :button, :small, '<i class="fa fa-home"></i> Hello World'.html_safe, root_url
          %br/
          = render_cell :button, :small, 'Hello World'.html_safe, root_url, class: 'block', id: 'some-id'

        %h2 Buttons - default

        .buttons
          = render_cell :button, :normal, 'Hello World', root_url
          %br/
          = render_cell :button, :normal, 'Hello World', root_url, class: 'active'
          %br/
          = render_cell :button, :default, '<i class="fa fa-home"></i> Hello World'.html_safe, root_url
          %br/
          = render_cell :button, :default, 'Hello World'.html_safe, root_url, class: 'block', id: 'some-id'

        %h2 Buttons - medium

        .buttons
          = render_cell :button, :medium, 'Hello World', root_url
          %br/
          = render_cell :button, :medium, 'Hello World', root_url, class: 'active'
          %br/
          = render_cell :button, :medium, '<i class="fa fa-home"></i> Hello World'.html_safe, root_url
          %br/
          = render_cell :button, :medium, 'Hello World'.html_safe, root_url, class: 'block', id: 'some-id'


        %h2 Buttons - large

        .buttons
          = render_cell :button, :large, 'Hello World', root_url
          %br/
          = render_cell :button, :large, 'Hello World', root_url, class: 'active'
          %br/
          = render_cell :button, :large, '<i class="fa fa-home"></i> Hello World'.html_safe, root_url
          %br/
          = render_cell :button, :large, 'Hello World'.html_safe, root_url, class: 'block', id: 'some-id'


        %h2 Buttons - square

        .buttons
          = render_cell :button, :square, 'Hello World', root_url
          = render_cell :button, :square, 'Hello World', root_url, class: 'active'
          = render_cell :button, :square, '<i class="fa fa-home"></i> Hello World'.html_safe, root_url

        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/

        %h2 Alle Buttons auch als &lt;button&gt; - Tag

        %p
          Die gleichen Methods + _button und ohne url parameter.

        .buttons
          = render_cell :button, :default_button, 'Sign in', name: 'commit', type: 'submit'


        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/

%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-clock"></i> Heute - <small>12. Februar 2014</small>'.html_safe


%br/
%br/
%br/
%br/
%hr/
%br/
%br/
%br/
%br/

%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-6
          %h2= '<i class="headline-icons icon-clock"></i> Uhr - <small>icon-clock</small>'.html_safe

        .col-xs-6
          %h2= '<i class="headline-icons icon-location"></i> Ort - <small>icon-location</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-person"></i> Nutzer - <small>icon-person</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-feedback"></i> Sprechblase - <small>icon-feedback</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-meal"></i> Topf - <small>icon-meal</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-price"></i> Preis - <small>icon-price</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-photo"></i> Photo - <small>icon-photo</small>'.html_safe
  %br/
%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2= '<i class="headline-icons icon-bank-account"></i> Bankverbindung - <small>icon-bank-account</small>'.html_safe

  %br/
  %br/
  %br/
  %br/
  %hr/
  %br/
  %br/
  %br/
  %br/


%section.container.event-details
  .inside
    %h2 CommentCell - Username, ImagePath, Comment
    %br/
    = render_cell :event_appointment, :comments, EventAppointment.last


  %br/
  %br/
  %br/
  %br/
  %hr/
  %br/
  %br/
  %br/
  %br/


%section.container
  .inside
    %h2 RatingStars
    %p
      percentage:
      %small
        Angabe wieviel Prozent die Anzeige gefüllt ist
    %p
      appending_class:
      %small
        Orange ist standard, wenn grüne Sterne angezeigt werden sollen, muss appending_class 'green' sein
    %p
      title:
      %small
        Titel des Ratings

    =render 'public/shared/rating_stars', title: 'Gesamt', appending_class: 'green', percentage: 0.5, reviews: ''
    =render 'public/shared/rating_stars', title: 'Location', appending_class: '', percentage: 0.2, reviews: ''
    =render 'public/shared/rating_stars', title: 'Essen', appending_class: '', percentage: 0.8, reviews: ''
    =render 'public/shared/rating_stars', title: 'Atmosphäre', appending_class: '', percentage: 1.0, reviews: ''
    =render 'public/shared/rating_stars', title: 'Preis | Leistung', appending_class: '', percentage: 0.5, reviews: ''


    %br/
    %br/
    %br/
    %br/
    %hr/
    %br/
    %br/
    %br/
    %br/


  .inside
    .row
      .col-xs-6
        :ruby
          ap = EventAppointment.new(start_time: Time.now)
          ap.event = Event.new
          ap.event.title = 'Fruchtige Müsliriegel'
          ap.event.description = '<p>Consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Sed quid sentiat, non videtis. Nonne igitur tibi videntur, inquit, mala? Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Duo Reges: constructio interrete. Ergo, si semel tristior effectus est, hilara vita amissa est? Isto modo ne improbos quidem, si essent boni viri. Faceres tu quidem, Torquate, haec omnia</p>'
          ap.event.price = 12300
          ap.event.category = Category.new(name: 'dating')
          ap.event.owner = User.new(firstname: 'Pitti', lastname: 'Platsch')

        = render_cell :event, :event_appointment_box, EventAppointment.last, false, false

      .col-xs-6
        :ruby
          ap = EventAppointment.new(start_time: Time.now+2.days+3.hours)
          ap.event = Event.new
          ap.event.title = 'Pasta ala Basilika con pimodoror'
          ap.event.description = '<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Sed quid sentiat, non videtis. Nonne igitur tibi videntur, inquit, mala? Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Duo Reges: constructio interrete. Ergo, si semel tristior effectus est, hilara vita amissa est? Isto modo ne improbos quidem, si essent boni viri. Faceres tu quidem, Torquate, haec omnia</p>'
          ap.event.price = 2300
          ap.event.category = Category.new(name: 'people')
          ap.event.owner = User.new(firstname: 'Samuel White', lastname: 'Jackson')

        = render_cell :event, :event_appointment_box, EventAppointment.last, false, false

      .clearfix

      .col-xs-6
        :ruby
          ap = EventAppointment.new(start_time: Time.now+5.days+5.hours)
          ap.event = Event.new
          ap.event.title = 'Grießschnitten'
          ap.event.description = '<p>Triarius non potuit. Sed quid sentiat, non videtis. Nonne igitur tibi videntur, inquit, mala? Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Duo Reges: constructio interrete. Ergo, si semel tristior effectus est, hilara vita amissa est? Isto modo ne improbos quidem, si essent boni viri. Faceres tu quidem, Torquate, haec omnia</p>'
          ap.event.price = 1000
          ap.event.category = Category.new(name: 'course')
          ap.event.owner = User.new(firstname: 'Hans', lastname: 'Wurst')

        = render_cell :event, :event_appointment_box, EventAppointment.last, false, false

%section.container
  .inside
    .row
      .col-xs-12

        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/

        %h2 Modals

        = render_cell :button, :normal, 'Modal starten', '#', data: { toggle: 'modal', target: '#myModal' }

        - content_for :modal do
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", data: { show: "true" }}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                  %h4#myModalLabel.modal-title Modal title
                .modal-body
                  Hello World
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:type => "button"} Save changes


        %br/
        %br/
        %br/
        %br/
        %hr/
        %br/
        %br/
        %br/
        %br/






