
%hr/

.row
  .col-xs-1.state
    = link_to '#', title: @event.state, data: { toggle: 'tooltip', placement: 'top' }, rel: 'tooltip', class: @event.state do
      %i.fa.fa-circle
  .col-xs-11
    %h3= @event.title

%hr/

.row
  .col-xs-6.col-xs-offset-3
    = simple_form_for @event, url: backend_event_path(@event), method: :patch do |f|
      = f.input :title
      = f.input :description, as: :text, input_html: { rows: 20 }
      = f.submit 'Speichern', class: 'btn btn-success'
