.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-cutlery'></i> Events".html_safe, "#", class: "navbar-brand"
      .navbar-form.navbar-right
        = render_cell('backend/event', :state_filter_navigation, @state)

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th
            = '#'
          %th
            = Event.human_attribute_name(:title)
          %th
          %th
            = Event.human_attribute_name(:price)
          %th

      %tbody
        - if @events
          - @events.each do |event|
            %tr
              %td
                = event.id
              %td
                = event.title
              %td
              %td
                = "#{(event.price/100).to_i} €"
              %td
                = link_to t('backend.events.index.details'), backend_event_path(event), class: 'btn btn-default'
        - else
          - @event_appointments.each do |event_appointment|
            %tr
              %td
                = event_appointment.id
              %td
                = event_appointment.event.title
              %td
                = event_appointment.start_time.strftime('%d.%m.%Y %H:%M')
              %td.price
                = "#{(event_appointment.event.price/100).to_i} €"
                -#- if event_appointment.transaction.nil? && !event_appointment.transaction.try(:invoice).nil?
                -#  %span= " - offen: #{number_to_currency(event_appointment.transaction.invoice.remaining_amount / 100)}"
                -#- elsif event_appointment.transaction.try(:invoice).nil?
                -#  %span.no-invoice= " - keine Rechnung"
                -#- else
                %span.no-invoice= ""



              %td
                = link_to t('backend.events.index.details'), backend_event_path(event_appointment.event), class: 'btn btn-default'

