= render_cell('backend/event', :state_control, @event)

.clearfix

%hr/

.row
  .col-xs-1.state
    = link_to '#', title: @event.state, data: { toggle: 'tooltip', placement: 'top' }, rel: 'tooltip', class: @event.state do
      %i.fa.fa-circle
  .col-xs-11
    %h3= @event.title

%hr/

.row
  .col-xs-3
    %table.table.table-striped.data
      %tr
        %th
          = Event.human_attribute_name(:id)
        %td
          = @event.id
      %tr
        %th
          = Event.human_attribute_name(:owner)
        %td
          = link_to @event.owner.title, backend_user_path(@event.owner)
      %tr
        %th
          = Event.human_attribute_name(:category)
        %td
          = @event.category.title
      %tr
        %th
          = Event.human_attribute_name(:price)
        %td
          = @event.price_with_currency
      %tr
        %th
          = Event.human_attribute_name(:courses_count)
        %td
          = @event.courses_count
      %tr
        %th
          -#= Event.human_attribute_name(:max_guest_count)
          Max. Gäste
        %td
          = @event.max_guest_count
      %tr
        %th
          = Event.human_attribute_name(:duration)
        %td
          #{@event.duration} h
          - if @event.open_end
            + open end
      %tr
        %th
          Getränke
        %td
          = @event.drink_titles
      %tr
        %th
          Sonstiges
        %td
          = @event.event_informations.map{ |i| t("public.event_informations.button_titles.#{i.title}") }.join(', ').html_safe

  .col-xs-5
    %table.table.table-striped.desc
      %tr
        %th
          = Event.human_attribute_name(:description)
        %td
          = simple_format(@event.description)
      %tr
        %td
        %td
          = link_to edit_backend_event_path(@event), class: 'btn btn-default btn-xs' do
            %i.fa.fa-pencil
            bearbeiten

  .col-xs-4
    %table.table.table-striped.owner
      %tr
        %th Veranstalter
        %td
      %tr
        %td
          %small (#{@event.owner.gender})
          %br/
          = link_to @event.owner.title, backend_user_path(@event.owner), target: :blank
        %td
          = link_to backend_user_path(@event.owner), target: :blank do
            = image_tag @event.owner.main_image.try(:file).try(:url, :edit_thumb_vertical)
      %tr
        %th E-Mail
        %td= @event.owner.email
      %tr
        %th Telefon
        %td= @event.owner.phone

%hr/

.row
  .col-xs-6
    %h4
      = t('backend.events.show.address')
    %table.table.table-striped
      %tr
        %th Vorname, Nachname
        %td
          = @event.person_name
      %tr
        %th
          = Event.human_attribute_name(:address_city)
        %td
          = @event.address_city
      %tr
        %th
          = Event.human_attribute_name(:address_zip)
        %td
          = @event.address_zip
      %tr
        %th
          = Event.human_attribute_name(:address_street)
        %td
          = @event.address_street
      %tr
        %th
          = Event.human_attribute_name(:address_addition)
        %td
          = @event.address_addition
      %tr
        %th
          = Event.human_attribute_name(:ring_at)
        %td
          = @event.ring_at
      %tr
        %th
          = Event.human_attribute_name(:floor)
        %td
          = @event.floor
  .col-xs-5.col-xs-offset-1.owner
    %h4 Veranstaltungs-Termine
    %table.table.table-striped
      - @event.event_appointments.each do |event_appointment|
        %tr
          %td{ style: 'vertical-align: middle;' }
            = link_to event_appointment_path(event_appointment), target: :blank do
              = event_appointment.start_time.strftime('%d.%m.%Y - %H:%M Uhr')
          %td
            %small Plätze: #{@event.max_guest_count}
            %br/
            %small Gäste: #{event_appointment.guests_count}



%h2#tables.page-header
  = t('backend.events.show.images') if @event.images

.row
  .col-xs-3
    = link_to new_backend_event_image_path(@event), class: 'btn btn-default btn-block', id: 'image-upload' do
      %i.fa.fa-upload
      Bilder hinzufügen
  .col-xs-7
    %table.table
      - @event.images.each do |image|
        %tr
          %td= image_tag image.file.url(:show_large), class: "img-thumbnail"
          %td
            -#- if image == @event.main_image
            -#  %br/
            -#  %strong Event-Bild
            -#  %hr/
            -#= link_to 'Zu Event-Bild machen', backend_event_image_path(@event, image), method: :patch, class: 'btn btn-default btn-block'
            -#%br/
            = link_to 'löschen', backend_event_image_path(@event, image), method: :delete, class: 'btn btn-default btn-block'
