- edit = params[:action] == "edit" || params[:action] == "update" ? true : false

- path = edit ? backend_city_path(@city) : backend_cities_path
- method = edit ? :put : :post

.row
  .col-md-4.md-offset-4
    = simple_form_for @city, url: path, method: method, html: { id: 'city_form', multipart: true } do |f|

      = f.input :name, label: t('backend.cities.form.name')

      .form-actions{ style: 'text-align: right;' }
        = link_to backend_cities_path, :class => "btn #{edit ? 'btn-default' : 'btn-danger'}" do
          - if edit
            %i.fa.fa-chevron-left
            = t('backend.cities.form.back')
          - else
            %i.fa.fa-ban
            = t('backend.cities.form.cancel')
        = button_tag(type: 'submit', class: "btn btn-success") do
          %i.fa.fa-save
          #{edit ? t('backend.cities.form.save') : t('backend.cities.form.create')}