.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-globe'></i> Städte".html_safe, "#", class: "navbar-brand"
      .navbar-form.navbar-right
        = link_to new_backend_city_path, class: 'btn btn-default' do
          %i.fa.fa-plus
          = t('backend.cities.index.new')

.row-fluid
  %table.table.cities
    %thead
      %tr
        %th.col-xs-1
          = "#"
        %th.col-xs-7
          = t('backend.cities.index.name')
        %th.col-xs-2

    - @cities.each do |city|
      %tbody
        %tr
          %td
            = city.id
          %td
            = city.name
          %td
            .pull-right
              = link_to edit_backend_city_path(city), class: 'btn btn-default' do
                %i.fa.fa-edit
              = link_to backend_city_path(city), method: :delete, class: 'btn btn-danger confirm', confirm: t('backend.cities.index.confirm') do
                %i.fa.fa-trash-o