%section.container.users
  .headline-bar.profile
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Bilder wählen / hochladen
  .inside
    = render_cell(:gallery, :upload)
