.col-xs-6
  .image
    = image_tag 'event/index-image-dummy.png'
  .event-type{ class: @event_appointment.event.category.try(:name) }
.col-xs-6
  %h3.title= @event_appointment.event.title
  %p.owner= @event_appointment.event.owner.decorate.title
  %p.location= @event_appointment.event.address_city
  %p.date= "#{@event_appointment.start_time.strftime('%d.%m.%Y | %H.%M Uhr')}"
