.col-xs-12.participating
  %hr/
  %p
    = @message
  .buttons
    = render_cell :button, :normal, 'Zurück zum Event', event_appointment_path(@event_appointment), class: 'active'
    = render_cell :button, :normal, 'Zur Startseite', root_url
