.col-xs-6.guest-count{'data-price-per-person' => @event_appointment.event.float_price}
  %h3.guests
    Gesamtanzahl der Gäste

  - if @event_appointment.dating?
    - if @event_appointment.places_left_male > 0
      = select_tag 'participation[male_count]', options_for_select(@event_appointment.free_male_options, @participation.male_count), class: 'selectpicker', data: { size: 4 }
    - if @event_appointment.places_left_female > 0
      = select_tag 'participation[female_count]', options_for_select(@event_appointment.free_female_options, @participation.female_count), class: 'selectpicker', data: { size: 4 }
  - else
    = select_tag 'participation[guests_count]', options_for_select(@event_appointment.free_guests_options, @participation.guests_count), class: 'selectpicker', data: { size: 4 }

  .sum-price
    %h4
      Gesamtpreis
    %p

.col-xs-6
  - if @event_appointment.places_left > 0
    %h3.payment-headline Bezahlung - Bar vor Ort
    %p.payment-info Die Bezahlung erfolgt während des Events in Bar direkt beim Koch.
    = render_cell :button, :default_button, 'Jetzt buchen', class: 'button active block'
  - else
    = render_cell :button, :default, 'Zurück zur Startseite', root_path, class: 'button block'
