= form_for @participation, url: internal_event_appointment_participation_path(@event_appointment), method: :post do |f|
  - if @participation.errors.any?
    .row
      .col-xs-12
        .alert.alert-danger
          = @participation.errors.full_messages.join('<br/>').html_safe
  .row
    = render(state: :head)
  .row
    = render(state: :main_content)
