- @images.each do |image|
  = image_tag image.file.url(:medium)
  %br
  = link_to 'Anzeigen', internal_image_path(image)
  = link_to 'Löschen', internal_image_path(image), method: :delete
  %br

= link_to 'Neu', new_internal_image_path
