%section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-photo
            Fotos hochladen

%section.container.image-upload
  .inside
    = render_cell(:image, :upload)
