.auth-form-box
  - if flash[:alert].present?
    .alert.alert-warning= flash[:alert]
  - if flash[:notice].present?
    .alert.alert-success= flash[:notice]

  .facebook
    = link_to '<i class="fa fa-facebook-square"></i> Mit Facebook anmelden'.html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-facebook btn-block'

  .or= t('public.base.or')

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email, required: false, autofocus: true, label_html: { class: 'is-visually-hidden' }, placeholder: t('simple_form.labels.user.email'), input_html: { autocomplete: 'off', autocorrect: 'off' }
    = f.input :password, required: false, label_html: { class: 'is-visually-hidden' }, placeholder: t('simple_form.labels.user.password')

    -# f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .buttons
      = render_cell :button, :default_button, t('sessions.new.button'), name: 'commit', type: 'submit', class: 'active block'

  .links= render "users/shared/links"