.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      = link_to image_tag('logo.png', size: '190x43'), root_path
    .modal-body
      = render partial: 'form', resource: resource, resource_name: resource_name

