%ul.nav.nav-pills
  - @event_states.each do |event_state|
    - if event_state == :separator
      %li.divider
    - else
      %li{class: active_class(event_state, @active_event_state)}
        = link_to t("backend.events.show.event_states.#{event_state}"), backend_events_path(state: event_state)
