%section.container#hero
  .top
    .pictures
      .picture.header-3
      .picture.header-2
      .picture.header-1
    .categories
      .sub-header
        .category-box.meeting-people
          .icon#meeting-people-icon
          .text
            %h3#meeting-people-text
              = t('public.event_appointments.index.box_left_headline')
            %p
              = t('public.event_appointments.index.box_left_text')
        .horizontal-spacer
        .category-box.dinner-date
          .icon#dating-dinner-icon
          .text
            %h3#dating-dinner-text
              = t('public.event_appointments.index.box_middle_headline')
            %p
              = t('public.event_appointments.index.box_middle_text')
        .horizontal-spacer
        .category-box.course
          .icon#cooking-course-icon
          .text
            %h3#cooking-course-text
              = t('public.event_appointments.index.box_right_headline')
            %p
              = t('public.event_appointments.index.box_right_text')
    .categories-bottom
  - unless user_signed_in?
    .social-wrapper
      .social-buttons-register
        = link_to "", user_omniauth_authorize_path(:facebook), id: "register-fb", title: "Facebook"
        = link_to "", new_user_registration_path, id: "register-email", title: "E-Mail", class: 'link-login-popup'

  .social-buttons-left
    = link_to '', facebook_url, title: "Facebook", class: 'facebook', target: '_blank'
    = link_to '', twitter_url, title: "Twitter", class: 'twitter', target: '_blank'
    = link_to '', google_plus_url, title: "Google+", class: 'google-plus', target: '_blank', rel: 'publisher'

  .inside
    .content-header
      .icon
        =image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'), size: "121x100")
      .headline
        %h2
          = t('public.event_appointments.index.headline')
        %h3
          = t('public.event_appointments.index.sub_headline')

      .dropdown-wrapper
        = form_for @search_request, url: root_path, method: :get do |f|
          = f.hidden_field :city, id: "city", name: 'city'
          = f.hidden_field :category, id: "category", name: 'category'
          = f.hidden_field :date, id: "date", name: 'date'

          = render_cell :event_appointment, :city_dropdown, @search_request.city, @cities
          = render_cell :event_appointment, :category_dropdown, @search_request.category, @categories
          .btn-group
            %a.btn.btn-default.dropdown-toggle{"data-toggle" => "datepicker", id: @id}
              %strong
                Wann?
              = @search_request.date.strftime("%d.%m.%Y")

          = render_cell :button, :normal_button, t('public.event_appointments.index.search_button'), name: 'commit', type: 'submit', class: 'active', id: 'search-button'
