- if !event_appointments.blank?
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            = headline.html_safe
  .inside
    .row
      - event_appointments.each_with_index do |ea, index|
        .col-xs-6
          = render_cell :event, :event_appointment_box, ea, false, true
        - if (index % 2 != 0)
          .clearfix
