- show_only ||= false
%section.container.event
  .inside
    - if flash.any?
      .row.flash
        .col-md-12
          - if flash[:alert].present?
            .alert.alert-warning= flash[:alert]
          - if flash[:error].present?
            .alert.alert-danger= flash[:error]

    .row.event-title
      .col-xs-12
        %h1
          = event.title
        .sex-direction
          - if event.dating?
            =render 'public/shared/sex_direction_icons', event: event, appending_class: "fa-3x"

    .row.event-wrapper
      .col-xs-7
        %article.event-box-detailed
          .image
            - if event.images.first
              = image_tag event.images.first.file.url(:show_large), class: 'main_image'
          .event-type{ class: event.category.try(:name) }
          .time
            %time{ datetime: "#{event_appointment.formatted_start_time}" }= "#{event_appointment.start_time_hours} <small>#{event_appointment.start_time_minutes}</small>".html_safe
            %time{ datetime: event_appointment.formatted_start_time_english, class: 'date' }= event_appointment.formatted_start_time_german
          .thumbnails
            .inside
              - event.images.each do |image|
                = image_tag image.file.url(:show_thumb_horizontal), data:{'url-large' => image.file.url(:show_large)}
          .arrow.next
          .arrow.prev
        .description-wrapper
          .description-box
            %h3
              = t('public.event_appointments.show.description')
            .description-text-wrapper
              .description-text
                = event.html_description
              .truncation-links
                = link_to 'mehr anzeigen >>', '#', class: 'readmore'
                = link_to '<< weniger anzeigen', '#', class: 'readless'

      .col-md-5
        .booking-box
          - if show_only == false
            .buttons
              - if event_appointment.event.owner?(current_user)
                - if event_appointment.closed?
                  .booked-out
                    Event kann nicht mehr bearbeitet werden
                - else
                  = render_cell :button, :medium, 'bearbeiten', edit_internal_event_appointment_path(event_appointment)
                  =# render_cell :button, :booking, edit_internal_event_appointment_path(event_appointment)
              - else
                - if current_user.present?
                  - if current_user.profile_completed?
                    = render_cell :button, :booking, new_internal_event_appointment_participation_path(event_appointment), class: "active load-ajax-popup"
                  - else
                    = render_cell :button, :booking, edit_internal_user_path(return_back: request.path), class: 'active'
                - else
                  = render_cell :button, :booking, new_user_session_path(return_back: request.path), class: "active link-login-popup"
          - else
            .buttons
          .free-places
            %h2
              = event_appointment.places_left || 0
            %p
              - if event_appointment.places_left == 1
                = t('public.event_appointments.show.free_place')
              - else
                = t('public.event_appointments.show.free_places')
          .timer-box
            - if event_appointment.past?
              .outdated
                = t('public.event_appointments.show.outdated')
            -else
              .small
                Zeit bis Buchungsende
              .time{'data-time' => event_appointment.participation_until}
                = event_appointment.participation_until_countdown
              .subtext
                Buchung möglich bis
                = l(event_appointment.participation_until_date, format: '%A, den %d %B %H:%M Uhr')
          .footer
            = link_to user_path(owner), class: 'user-image' do
              = image_tag owner.profile_image_thumb_medium, alt: owner.name
            .profile-name
              %h4.host
                = t('public.event_appointments.show.host')
              %h3.host-name
                = link_to owner.title, user_path(owner)
              .total-rating
                =render 'public/shared/rating_stars', title: '', appending_class: '', percentage: owner.aggregated_rating_total, reviews: "#{owner.ratings_description}"
            .clearfix
            .price
              = "#{price},-"

            %table.small
              %tr
                %td.bold
                  = t('public.event_appointments.show.where')
                %td
                  .truncate.rows-1
                    = event.full_city_name

              %tr
                %td.bold
                  = t('public.event_appointments.show.when')
                %td
                  = event_appointment.formatted_start_time_with_month

            %table
              %tr
                %td{colspan: 2}
                  %hr

              %tr
                %td.bold.details{colspan: 2}
                  = t('public.event_appointments.show.details')
              %tr
                %td
                  = t('public.event_appointments.show.category')
                %td
                  = t("public.categories.#{event.category.try(:name)}")
                  - if event.dating?
                    = "("
                    = render 'public/shared/sex_direction_icons', event: event, appending_class: ""
                    = ")"
              %tr
                %td
                  = t('public.event_appointments.show.courses_count')
                %td
                  = event.courses_count
              %tr
                %td
                  = t('public.event_appointments.show.duration')
                %td
                  = event.formatted_duration
              %tr
                %td
                  = t('public.event_appointments.show.drinks')
                %td
                  .truncate.rows-2
                    = event.drink_titles

              %tr
                %td.bold.about{colspan: 2}
                  = t('public.event_appointments.show.about_host')
              %tr
                %td
                  = t('public.event_appointments.show.home_town')
                %td
                  .truncate.rows-1
                    = owner.city
              %tr
                %td
                  = t('public.event_appointments.show.job')
                %td
                  .truncate.rows-1
                    = owner.job
              %tr
                %td
                  = t('public.event_appointments.show.status')
                %td
                  = I18n::t("internal.profile.show.relationships.#{owner.relationship}")
              %tr
                %td
                  = t('public.event_appointments.show.languages')
                %td
                  .truncate.rows-2
                    = owner.language_names
              %tr
                %td
                  = t('public.event_appointments.show.interests')
                %td
                  .truncate.rows-2
                    = owner.interests

              - if event_appointment.active_participant?(current_user)
                %tr
                  %td.bold.about{colspan: 2}
                    = t('public.event_appointments.show.contact')
                %tr
                  %td
                    = t('public.event_appointments.show.email')
                  %td
                    .truncate.rows-2
                      = owner.email
                %tr
                  %td
                    = t('public.event_appointments.show.phone')
                  %td
                    .truncate.rows-2
                      = owner.phone
                %tr
                  %td
                    = t('public.event_appointments.show.address')
                  %td
                    .truncate.rows-2
                      = event_appointment.event.full_address
