.section.container.events
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-clock
            - if date.to_date == Date.today
              = t('public.base.today')
              = '-'
              %small
                = l(date, :format => '%A den %d. %B %Y')
            - elsif date.to_date == Date.today + 1
              = t('public.base.tomorrow')
              = '-'
              %small
                = l(date, :format => '%A den %d. %B %Y')
            - else
              = l(date, :format => '%A')
              %small
                = l(date, :format => 'den %d. %B %Y')

