= render "index_hero", cities: @cities, categories: @categories, dates: @dates

= render "index_events", event_appointments: @events_today, headline: "<i class='headline-icons icon-clock'></i> #{t('public.base.today')} - <small>#{l(Time.now, :format => '%A den %d. %B %Y')}</small>", additional_class: "not-filtered"
= render "index_events", event_appointments: @events_tomorrow, headline: "<i class='headline-icons icon-clock'></i> #{t('public.base.tomorrow')} - <small>#{l(Time.now+1.day, :format => '%A den %d. %B %Y')}</small>", additional_class: "not-filtered"
