= render "index_hero", cities: @cities, categories: @categories, dates: @dates

%section#indexEventsContainer.container
  .inside
    .row
      - @view_array.each do |row|
        = row[:html]

- if @search_request.more_appointments?
  %section.container.load-more
    .inside
      = render_cell :button, :normal, 'Weitere Events laden', '#', class: 'block', id: 'more-events-button'


- content_for :modal do
  #newsletter-success-modal.modal.fade{ role: 'dialog', tabindex: "-1", aria: { hidden: 'true', labelledby: 'newsletter-success-modal-label' }}
  #newsletter-popup-modal.modal.fade.in{ role: 'dialog', tabindex: '-1', aria: { hidden: 'true', labelledby: 'newsletter-popup-modal-label' }, data: { success_url: success_newsletter_subscriptions_path } }
    .modal-dialog
      .modal-content
        .modal-body
          %h3.headline
            Nichts gefunden?
          %h4
            Verpasse in Zukunft kein Event mehr
            %br/
            in deiner Stadt.
          %p
            Wir informieren dich als erstes über die angesagtesten
            %br/
            Events in deiner Umgebung.
          .form-box
            = simple_form_for @newsletter_subscription, url: newsletter_subscriptions_path, method: :post do |f|
              = f.input :city_id, label: false, input_html: { placeholder: 'Deine Stadt', class: 'newsletter_city' }
              .btn-group.newsletter_city_select
                %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                  %span.label Deine Stadt
                  %span.content= @newsletter_subscription.city.name
                  %span.caret
                %ul.dropdown-menu
                  - @newsletter_cities.each do |data|
                    %li{data: {id: data.id}}
                      %a= data.name


              = f.input :name, label: false, input_html: { placeholder: 'Dein Name', class: 'newsletter_name' }
              = f.input :email, label: false, input_html: { placeholder: 'Deine E-Mail', class: 'newsletter_email' }

              %button Ja - informiert mich
