= render 'show_top', event: @event, event_appointment: @event_appointment, price: @price, owner: @owner

%section.container.event-details
  .headline-bar
    .inside
      .row
        .col-xs-8
          %h2
            %i.headline-icons.icon-location
            = "Location - "
            %small
              = @event.full_city_name

        .col-xs-4
          %h2
            - if @event_appointment.booked_places == 1
              %i.headline-icons.icon-person
              = "#{@event_appointment.booked_places} #{t('public.event_appointments.show.guest')} -"
              %small
                = t('public.event_appointments.show.guest_attending')
            - else
              %i.headline-icons.icon-person
              = "#{@event_appointment.booked_places} #{t('public.event_appointments.show.guests')} -"
              %small
                = t('public.event_appointments.show.guests_attending')

  .inside
    .row
      .col-xs-8.wrapper.location
        = render_cell :event, :google_map, @event, (@event_appointment.active_participant?(current_user) ? false : true)
        .event-infos
          .buttons
            = render_cell :event_information, :normal, @event, @event_infos

        .clearfix

      .col-xs-4.wrapper.guests
        - @event_appointment.sorted_guests.each do |person|
          - if person[:type] == :person
            .guest
              = link_to user_path(person[:id]) do
                = image_tag person[:image_url], alt: person[:name]
          - elsif person[:type] == :guest
            .guest.additional
              .overlay +1
              = image_tag person[:image_url], alt: "Gast von #{person[:name]}"
        - @event_appointment.places_left.times do
          .guest.free
            .placeholder
              %span
                frei

        .clearfix

%section.container.event-details
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-feedback
            = "Feedback - "
            %small
              = "für #{@owner.name}"
  .inside
    .row.rating
      .col-xs-12
        = render_cell :feedback, :user_ratings, @owner

  .inside.last
    = render_cell :feedback, :user_comments, @owner

- content_for :modal do
  #appointment-modal.modal.fade
