.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title 
        = t('public.participations.event_data.headline')
    .modal-body
      = render_cell :event, :event_data, @event 
    .modal-footer
      %button.btn.btn-success{ data: { dismiss: 'modal' } } OK