- if devise_mapping.registerable? && controller_name != 'registrations'
  .create= link_to t('devise.shared.sign_up'), new_registration_path(resource_name)

- if controller_name != 'sessions'
  = link_to t('devise.shared.sign_in'), new_session_path(resource_name)
  %br/

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('devise.shared.forgot_password'), new_password_path(resource_name)
  %br/

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t('devise.shared.confirmation_instructions'), new_confirmation_path(resource_name)
  %br/

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('devise.shared.unlock_instructions'), new_unlock_path(resource_name)
  %br/
