.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Jetzt buchen
    .modal-body
      #event-participation-booking-box
        = render_cell :participation, :show, @participation

