=# @participation.inspect

%section#event-created
  .logo
    = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'))
  .inside
    .background-white
    .container
      .inside
        %h1.headline.centered Vielen Dank für Deine Buchung
        %h2.subheadline.centered
          - if @participation.guests_sum == 1
            = t('public.participations.show.booked_for_one')
          - else
            = t('public.participations.show.booked_for_multiple', count: @participation.guests_sum)
        .event-box-outer-wrapper
          = render_cell :event, :event_appointment_box, @event_appointment, false, false
          = render_cell :event, :event_data, @event_appointment.event
          %hr
          .buttons
            = render_cell :button, :normal, t('public.participations.show.back_to_event'), event_appointment_path(@event_appointment), class: 'active'
            = render_cell :button, :normal, t('public.participations.show.back_to_startpage'), root_url
