// Slider

.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -ms-touch-action: none
  touch-action: none

.slick-list
  &:focus
    outline: none
  position: relative
  overflow: hidden
  display: block
  margin: 0px
  padding: 0px

.slick-slider .slick-list, .slick-track
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.slick-slide
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  img
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  left: 0px
  top: 0px
  display: table
  &:after
    content: ""
    display: table
    clear: both

.slick-slide
  float: left
  height: 100%
  min-height: 1px
  img
    display: block
  display: none

.slick-list.dragging img
  pointer-events: none

.slick-initialized .slick-slide
  display: table-cell

// Loading States

.slick-loading
  .slick-track
    visibility: hidden
  .slick-list
    background: white asset-data-url('ajax-loader.gif') center center no-repeat
  .slick-slide
    visibility: hidden

.slick-slide.loading
  background: asset-data-url('ajax-loader.gif') center center no-repeat
  position: relative

// Icons

@charset "UTF-8"

@font-face
  font-family: "slick"
  src: asset-url("slick.eot")
  src: asset-url("slick.eot?#iefix") format("embedded-opentype"), asset-url("slick.woff") format("woff"), asset-url("slick.ttf") format("truetype"), asset-url("slick.svg#slick") format("svg")
  font-weight: normal
  font-style: normal


// Vertical

.slick-vertical
  .slide-track
    display: block
  .slick-slide
    display: block
    height: auto
    border: 1px solid transparent

// Arrows

.slick-prev
  position: absolute
  display: block
  height: 20px
  width: 20px
  line-height: 0
  font-size: 0
  cursor: pointer
  background: transparent
  color: transparent
  top: 50%
  margin-top: -10px
  left: -25px
  padding: 0px
  border: none

.slick-next
  position: absolute
  display: block
  height: 20px
  width: 20px
  line-height: 0
  font-size: 0
  cursor: pointer
  background: transparent
  color: transparent
  top: 50%
  margin-top: -10px
  right: -25px
  padding: 0px
  border: none

.slick-prev:before
  content: '\8592'
  font-family: "slick"
  font-size: 20px
  line-height: 1
  color: white
  opacity: 0.85
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.slick-next:before
  content: '\8594'
  font-family: "slick"
  font-size: 20px
  line-height: 1
  color: white
  opacity: 0.85
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.slick-prev:focus, .slick-next:focus
  outline: none

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
  opacity: 0.25

// Dots

.slick-slider
  margin-bottom: 30px

.slick-dots
  position: absolute
  bottom: -45px
  list-style: none
  display: block
  text-align: center
  padding: 0px
  width: 100%
  li
    position: relative
    display: inline-block
    height: 20px
    width: 20px
    margin: 0px 5px
    padding: 0px
    a
      display: block
      height: 20px
      width: 20px
      outline: none
      line-height: 0
      font-size: 0
      color: transparent
      padding: 5px
      &:before
        content: '\8226'
        font-family: "slick"
        font-size: 6px
        line-height: 2
        color: black
        opacity: 0.25
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    &.slick-active a:before
      opacity: 0.75

// Draggable

.slick-list.dragging
  cursor: pointer
  cursor: hand