%section.gray-2
  .container.container-base-content
    .row
      .col-sm-6.col-sm-offset-3
        .well
          %h3= I18n::t('backend.devise.sessions.headline')
          %hr/
          = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
            = f.input :email, required: false, autofocus: true, input_html: { class: 'input-lg' }, label: t('backend.devise.sessions.email')
            = f.input :password, required: false, input_html: { class: 'input-lg' }, label: t('backend.devise.sessions.password')
            %hr/
            .form-actions
              %button.btn.btn-primary{ type: 'submit' }
                %i.fa.fa-unlock
                = I18n::t('backend.devise.sessions.submit')

        .links
          = link_to I18n::t('backend.devise.links.password'), new_password_path(resource_name)
