.container
  .row
    .col-md-8.col-md-offset-2
      %h3
        = edit ? 'Bild bearbeiten' : 'Bild hinzufügen'
      = simple_form_for element, url: url, method: method, as: :blog_element, html: { class: 'form-horizontal', multipart: true } do |f|
        - unless edit
          = f.input :type, as: :hidden
        = f.input :headline, label: t('backend.blog_elements.form.headline')
        .spacer
        = f.input :image, as: :file, label: t('backend.blog_elements.form.image')

        .spacer
        - if element.image_file_name != nil
          .control-group
            .controls
              = image_tag element.image.url(:large)
        %hr
        .spacer
        .form-actions
          = link_to edit_backend_blog_entry_path(element.blog_entry), :class => "btn #{edit ? 'btn-default' : 'btn-danger'}" do
            - if edit
              %i.fa.fa-chevron-left
              = t('backend.blog_elements.form.back')
            - else
              %i.fa.fa-ban
              = t('backend.blog_elements.form.cancel')

          = button_tag(type: 'submit', class: "btn #{edit ? 'btn-primary' : 'btn-success'}") do
            %i.fa.fa-save
            #{edit ? t('backend.blog_elements.form.save') : t('backend.blog_elements.form.create')}