.container
  .row
    .col-md-10.col-md-offset-1
      %h3
        = edit ? 'Bild bearbeiten' : 'Bild hinzufügen'
      = simple_form_for element, url: url, method: method, as: :blog_element do |f|
        - unless edit
          = f.input :type, as: :hidden
        = f.input :headline, label: t('backend.blog_elements.form.headline')
        = f.input :text, as: :text, label: t('backend.blog_elements.form.text'), :input_html => {:rows => 5, :class => "tinymce"}
        %hr
        .spacer
        .form-actions
          = link_to edit_backend_blog_entry_path(element.blog_entry), :class => "btn #{edit ? 'btn-default' : 'btn-danger'}" do
            - if edit
              %i.fa.fa-chevron-left
              = t('backend.blog_elements.form.back')
            - else
              %i.fa.fa-ban
              = t('backend.blog_elements.form.cancel')

          = button_tag(type: 'submit', class: "btn #{edit ? 'btn-primary' : 'btn-success'}") do
            %i.fa.fa-save
            #{edit ? t('backend.blog_elements.form.save') : t('backend.blog_elements.form.create')}