- if @blog_element.is_a?(BlogElement::Text)
  = render 'form_text', edit: true, method: :put, element: @blog_element, url: backend_blog_element_path(@blog_element)

- elsif @blog_element.is_a?(BlogElement::Image)
  = render 'form_image', edit: true, method: :put, element: @blog_element, url: backend_blog_element_path(@blog_element)