- if @blog_element.is_a?(BlogElement::Text)
  = render 'form_text', edit: false, method: :post, element: @blog_element, url: backend_blog_entry_blog_elements_path

- elsif @blog_element.is_a?(BlogElement::Image)
  = render 'form_image', edit: false, method: :post, element: @blog_element, url: backend_blog_entry_blog_elements_path