<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="row template-download fade">
      {% if (file.error) { %}
        <div class="col-xs-4 preview">
          <i class="fa fa-times"></i>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 name">
              <h5>{%=file.name%}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 error">
              <p>{%=file.error%}</p>
            </div>
          </div>
        </div>
      {% } else { %}
        <div class="col-xs-4 preview">
          {% if (file.thumbnail_url) { %}
            <img src="{%=file.thumbnail_url%}">
          {% } %}
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 name">
              <h5>{%=file.name%}</h5>
            </div>
          <div>
        </div>
        <div class="col-xs-2 ok">
          <i class="fa fa-check"></i>
        </div>
      {% } %}
    </div>
    {% } %}
</script>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="row template-upload fade">
    <div class="col-xs-4 preview">
      <span class="fade"></span>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 name">
          <h5>{%=file.name%}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 size">
          <span>{%=o.formatFileSize(file.size)%}</span>
        </div>
      </div>
      {% if (o.files.valid && !i) { %}
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag 'spinner.gif', class: 'spinner'%>
        </div>
      </div>
      {% } else if (file.error) { %}
      <div class="row">
        <div class="col-xs-12 error">
          <span class="label label-important">
            {%=locale.fileupload.error%}
          </span>
          {%=locale.fileupload.errors[file.error] || file.error%}
        </div>
      </div>
      {% } %}
    </div>
    <div class="col-xs-1 start" style="display:none">
      <button class="btn btn-success">
        <i class="icon-ban-circle icon-white"></i>
        <span>Start</span>
      </button>
    </div>
  </div>
{% } %}
</script>
