.row
  .col-xs-12
    = render(state: :js_templates)

    = form_for :image, url: internal_images_path(@path_param), :html => { :multipart => true, :id => "fileupload" } do |f|
      .fileupload-buttonbar.pull-right
        / The fileinput-button span is used to style the file input field as button
        %span.btn.btn-success.fileinput-button
          %i.fa.fa-plus
          %span Hinzufügen
          = f.file_field :file, multiple: true
        / The global progress bar
        .progress.progress-success.progress-striped.active.fade
          .bar{style: "width:0%;"}
      / The loading indicator is shown during image processing
      .fileupload-loading
      %br/
      / The table listing the files available for upload/download
      .row
        .col-xs-12
          .files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}

      %span#image-upload-btn-ready.btn.btn-success.pull-right{'data-dismiss' => 'modal'}
        %i.fa.fa-check
        %span Fertig
