.row.comment
  .col-xs-1
    .guest{title:"#{@user.try(:name)}", data: {toggle:'tooltip'}}
      = link_to (image_tag @image_url, alt: @user.name), user_path(@user)
      %p
        = @user.try(:name)
  .col-xs-11
    .text
      %p
        = @comment