=render 'public/shared/rating_stars', title: t('public.event_appointments.show.total'), appending_class: 'green', percentage: @total_percentage, reviews: ''
=render 'public/shared/rating_stars', title: t('public.event_appointments.show.location'), appending_class: '', percentage: @meal_percentage, reviews: ''
=render 'public/shared/rating_stars', title: t('public.event_appointments.show.meal'), appending_class: '', percentage: @location_percentage, reviews: ''
=render 'public/shared/rating_stars', title: t('public.event_appointments.show.atmosphere'), appending_class: '', percentage: @atmosphere_percentage, reviews: ''
=render 'public/shared/rating_stars', title: t('public.event_appointments.show.price_performance'), appending_class: '', percentage: @price_performance_percentage, reviews: ''