%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Angaben zur Person

  .inside
    .row
      .col-xs-8.form
        .location-image
        .form-group
          = form.input :person_name, required: true, hint: t('simple_form.labels.event.owner_name_hint')
          = form.input :address_street, required: true, label: t('simple_form.labels.event.address_street')
    .row
      .col-xs-2.form
        = form.input :address_zip, required: true, input_html:{ class: 'small inline' }
      .col-xs-6.form
        = form.input :address_city, required: true, input_html:{ class: 'medium' }
    .row
      .col-xs-8.form
        = form.input :address_district, required: true, label: t('simple_form.labels.event.address_district')
    .row
      .col-xs-8.form
        .form-group
          = form.input :phone
    .row
      .col-xs-5.form
        .form-group
          %label
            = t('simple_form.labels.event.map')
          #event-create-google-map
          = form.input :latitude, as: :hidden, type: :float, input_html: { value: @event.latitude }
          = form.input :longitude, as: :hidden, type: :float, input_html: { value: @event.longitude }
      .col-xs-3.form
        .form-group.address_details
          = form.input :ring_at, input_html:{ class: 'small' }
          = form.input :floor, input_html:{ class: 'small' }
          = form.input :address_addition, as: :text, label: t('simple_form.labels.event.address_details'), input_html:{ class: 'small' }

    .row
      .col-xs-12.form
        .form-group.event_informations
          .buttons
            = render_cell :form, :checkboxes, form, :event_information_ids, collection: @event.informations, input_html: {class: 'fbtn-square-info hover'}, label: t('simple_form.labels.event.event_informations')

%section.container.event
  .inside
    .row
      .col-xs-12.next-button
        = render_cell :button, :medium, t('simple_form.labels.event.back_to_step_1'), back_internal_event_path(@event), {class: 'active left', type: 'submit'}
        = render_cell :button, :medium_button, t('simple_form.labels.event.go_to_step_3'), class: 'active right'
