%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-price
            Preis | Datum
  .inside
    .row.form
      .price-date-image
      .col-xs-12
        = form.simple_fields_for :event_appointments, @event.event_appointments.present? ? @event.event_appointments : EventAppointment.new do |sub_form|
          = render_cell(:form, :repetition_inputs, sub_form)

    .row
      .col-xs-12.repetitions

    .row
      .col-xs-3.col-xs-offset-1
        = render_cell(:form, :add_repetition, form)

    .row
      .col-xs-6.form
        = render_cell :form, :radios, form, :participation_until_hours, collection: @event.participation_until_hours_steps, required: true, label: t('simple_form.labels.event.participation_until_hours')
        %strong{ style: 'margin-top: -20px; display: block;' } vorher
    .row
      .col-xs-3.form
    .row
      .col-xs-3.form
        = form.input :float_price, as: :string, input_html:{ class: 'price', id: 'input', maxlength: '3', type: "number", min:"0", max:"999", step:"1"}, label: t('simple_form.labels.event.price'), value: "0", required: true

    .row
      .col-xs-5.form
        .form-group.text
          %p.bold
            = t('simple_form.labels.event.more_info')
            =link_to t('simple_form.labels.event.agb'), agb_path
        = render_cell :form, :boolean, form, :agb_confirmation, input_html: {'data-btn-type' => 'boolean hover'}

%section.container.event
  .inside
    .row
      .col-xs-12.next-button
        = render_cell :button, :medium, t('simple_form.labels.event.back_to_step_2'), back_internal_event_path(@event), {class: 'active left', type: 'submit'}
        = render_cell :button, :medium_button, t('simple_form.labels.event.create_event'), {class: 'active right', type: 'submit'}
