%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-meal
            Das Essen

  .inside
    .row
      .col-xs-12.form.eat{'data-owner-gender' => @event.owner.gender}
        .meal-image
        = form.input :title, placeholder: t('simple_form.labels.event.title_placeholder'), required: true

        = render_cell :form, :radios, form, :category_id, collection: @event.categories, required: true

        = render_cell :form, :radios, form, :sex_direction, collection: @event.sex_directions, required: true

        = render_cell :form, :radios, form, :self_participation, collection: @event.self_participations, required: true

        .row#guest-count
          .col-xs-12
            = render_cell :form, :radios, form, :max_guest_count, collection: @event.max_guest_counts, required: true
            = form.input :own_max_guest_count, label: false

        = render_cell :form, :radios, form, :courses_count, collection: @event.course_counts, required: true
        .row
          .col-xs-4
            = render_cell :form, :radios, form, :duration, collection: @event.durations, required: true
            .open-end
              = render_cell :form, :checkboxes, form, :open_ends, collection: @event.open_ends, required: true, show_label: false, input_html: {class: 'fbtn hover', label: ''}

        = render_cell :form, :checkboxes, form, :drink_ids, collection: @event.possible_drinks, input_html: {class: 'fbtn hover', label: t('simple_form.labels.event.drink_ids')}

        = form.input :description, required: true

%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-photo
            Fotos hinzufügen

  .inside
    .row
      .col-xs-12.photo.form
        = form.input :images, placeholder: t('simple_form.labels.event.title_placeholder'), label: false
        = render_cell :gallery, :show, @event, :event

  .inside
    .row
      .col-xs-12.next-button
        = render_cell :button, :medium_button, t('simple_form.labels.event.go_to_step_2'), {type: 'submit', class: 'active right'}
