%section.container.event
  .inside
    .row
      .col-xs-4.steps
        .step-container{class: ("active" if @event.state?(:started))}
          #step1.step
          %p
            Das Essen
      .col-xs-4.steps
        .step-container{class: ("active" if @event.state?(:create_1))}
          #step2.step
          %p
            Die Location
      .col-xs-4.steps
        .step-container{class: ("active" if @event.state?(:create_2))}
          #step3.step
          %p
            Preis | Datum

= simple_form_for @event, url: internal_events_path, method: :post, html: { class: "standard-form" } do |f|
  - if @event.state?(:started)
    = render 'new_step_1', event: @event, form: f
  - elsif @event.state?(:create_1)
    = render 'new_step_2', event: @event, form: f
  - elsif @event.state?(:create_2)
    = render 'new_step_3', event: @event, form: f

- content_for :modal do
  #image-upload-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", 'data-ajax-reload-url' => gallery_internal_event_path(@event), 'data-ajax-reload-container' => '#gallery', 'data-gallery-type' => 'vertical'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title Bilderupload
        .modal-body
          = render_cell(:image, :upload, @event)
