%section.container.event-created
  .inside
    .wrapper
      %h1.headline.centered
        = t('internal.event.created.headline')
      %h2.subheadline.centered
        = t('internal.event.created.subheadline')
      %p.text.centered
        = t('internal.event.created.info')
        = link_to t('internal.event.created.email'), '#'
      .buttons
        = render_cell :button, :normal, t('internal.event.created.startpage_link'), root_url, class: 'active'
        = render_cell :button, :normal, t('internal.event.created.event_link'), event_appointment_path(@event_appointment)
      .logo
        = image_tag('home-header-icon.png', alt: t('public.event_appointments.index.logo_img_alt'))