- edit = params[:action] == "edit" || params[:action] == "update" ? true : false

- path = edit ? backend_blog_entry_path(@blog_entry) : backend_blog_entries_path
- method = edit ? :put : :post
.row
  .col-md-12
    = simple_form_for @blog_entry, url: path, method: method, html: { id: 'blog_entry_form', multipart: true } do |f|
      .row
        .col-md-4= f.input :name, label: t('backend.blog_entries.form.name')
        .col-md-4= f.input :alias, label:t('backend.blog_entries.form.alias')
        .col-md-4
          .form-inline
            = f.input :date, label: t('backend.blog_entries.form.date'), input_html: { class: "datepicker" }
          %div
            %br/
            = f.input :published, :as => :boolean, label: false, :inline_label => t('backend.blog_entries.form.publish')

      .row.blog-entry
        .col-xs-1
          .date
            .month
              %p
                =localize @blog_entry.date, format: '%B' if @blog_entry.date
            .day
              %p
                =localize @blog_entry.date, format: '%d' if @blog_entry.date
            .year
              %p
                =localize @blog_entry.date, format: '%Y' if @blog_entry.date
        .col-xs-4
          .image
            - if @blog_entry.teaser_image_file_name
              = image_tag @blog_entry.teaser_image.url(:medium), alt: @blog_entry.teaser_image_file_name
        .col-xs-7
          .text
            %h2.headline= @blog_entry.name || 'Überschrift'
            .teaser-text= @blog_entry.teaser_text.html_safe rescue 'Der Teaser Text'
          .socials
            = link_to '', facebook_url, class: 'facebook'
            = link_to '', twitter_url, class: 'google'
            = link_to '', google_plus_url, class: 'twitter'
            = link_to '', '#', class: 'mail'



      .row
        .col-xs-5= f.input :teaser_image, as: :file, label: t('backend.blog_entries.form.teaser_image')
        .col-xs-7= f.input :teaser_text, :as => :text, label: t('backend.blog_entries.form.teaser_text'), :input_html => {:rows => 5, :class => "tinymce"}

      .form-actions{ style: 'text-align: right;' }
        = link_to backend_blog_entries_path, :class => "btn #{edit ? 'btn-default' : 'btn-danger'}" do
          - if edit
            %i.fa.fa-chevron-left
            = t('backend.blog_entries.form.back')
          - else
            %i.fa.fa-ban
            = t('backend.blog_entries.form.cancel')
        &nbsp;
        = button_tag(type: 'submit', class: "btn btn-success") do
          %i.fa.fa-save
          #{edit ? t('backend.blog_entries.form.save') : t('backend.blog_entries.form.create')}

      .row
        .col-xs-11.col-xs-offset-1
          - if @blog_entry.elements.any?
            - @blog_entry.elements.each do |element|
              .element
                %hr/
                .row
                  .col-xs-12.element-actions
                    Element:
                    = link_to edit_backend_blog_element_path(element), class: 'btn btn-default btn-xs' do
                      %i.fa.fa-pencil
                    &nbsp;&nbsp;
                    = link_to position_up_backend_blog_element_path(element), method: :put, class: 'btn btn-default btn-xs' do
                      %i.fa.fa-chevron-up
                    = link_to position_down_backend_blog_element_path(element), method: :put, class: 'btn btn-default btn-xs' do
                      %i.fa.fa-chevron-down
                    &nbsp;&nbsp;
                    = link_to backend_blog_element_path(element), method: :delete, class: 'btn btn-default btn-xs btn-danger', confirm: 'Soll dieses Element wirklich gelöscht werden?' do
                      %i.fa.fa-times
                = render_cell :blog, :element, element


      %hr/

      .form-actions
        = button_tag(type: 'submit', name: 'add_element', value: 'text', class: "btn btn-primary btn-lg") do
          %i.fa.fa-file-text
          = t('backend.blog_entries.form.text')
        &nbsp;
        = button_tag(type: 'submit', name: 'add_element', value: 'image', class: "btn btn-primary btn-lg") do
          %i.fa.fa-camera
          = t('backend.blog_entries.form.image')



