.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-comments'></i> Blogeinträge".html_safe, "#", class: "navbar-brand"
      .navbar-form.navbar-right
        = link_to new_backend_blog_entry_path, class: 'btn btn-default' do
          %i.fa.fa-plus
          = t('backend.blog_entries.index.new')

.row
  .col-xs-12
    %table.table.table-condensed.blog-entries
      %thead
        %tr
          %th.col-xs-1.centered
            %i.fa.fa-eye
          %th.col-xs-1.centered

          %th.col-xs-1
            = t('backend.blog_entries.index.date')
          %th.col-xs-7
            = t('backend.blog_entries.index.name')
          %th.col-xs-2

      - @blog_entries.each do |blog_entry|
        %tbody
          %tr{class: "#{'active' unless blog_entry.published}"}
            %td.centered
              = link_to toggle_published_backend_blog_entry_path(blog_entry), :class => "btn fixed-witdh small #{blog_entry.published ? 'btn-success' : 'btn-danger'}", :method => :post do
                - if blog_entry.published
                  %i.fa.fa-check
                - else
                  %i.fa.fa-times
            %td.centered
              - if blog_entry.teaser_image_file_name
                = image_tag blog_entry.teaser_image.url(:thumb)
            %td
              = localize blog_entry.date, format: '%d.%m.%Y' if blog_entry.date
            %td
              = blog_entry.name
            %td
              .pull-right
                = link_to edit_backend_blog_entry_path(blog_entry), class: 'btn btn-default' do
                  %i.fa.fa-edit
                  
                = link_to backend_blog_entry_path(blog_entry), method: :delete, confirm: t('backend.blog_entries.index.confirm'), class: 'btn btn-danger confirm' do
                  %i.fa.fa-trash-o