%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-meal
            Vom Newsletter abmelden

  .inside
    .row
      .col-xs-8.col-xs-offset-2.form
        = simple_form_for 'newsletter_subscription', url: newsletter_subscriptions_path, method: :put do |f|
          = f.input :email
          = render_cell :button, :small_button, "Abmelden", {type: 'submit', class: 'active pull-right'}
