.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title Newsletter
    .modal-body
      %p.success
        Du hast dich erfolgreich für den Foodoo-Newsletter angemeldet.
      %p
        Dadurch erhälst du die interessante Informationen rund um Events und Essen von uns.
