%section.container.event
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-meal
            Vom Newsletter abmelden

  .inside
    .row
      .col-xs-8.success
        %p
          Ihre Emailadresse
          = @email
          wurde erfolgreich von unserem Newsletter entfernt.
