- url = action == :edit ? backend_backend_user_path(backend_user) : backend_backend_users_path
- method = action == :edit ? :patch : :post

%nav.navbar.navbar-default
  .navbar-header
    = link_to action == :new ? 'Neuer Backend-Benutzer' : "#{backend_user.email} bearbeiten", "#", class: "navbar-brand"

= simple_form_for(backend_user, url: url, method: method) do |f|
  .row
    .col-xs-6
      %h3
        Daten
      = f.input :email
      - if action == :new
        = f.input :password
        = f.input :password_confirmation
    .col-xs-6
      %h3
        Rechte

      - collection = BackendUser.values_for_access_rights.inject({}) { |r,v| r[t("activerecord.attributes.backend_users.access_right_entries.#{v}")] = v; r }
      = f.input :access_rights, as: :check_boxes, collection: collection
  .row
    .col-xs-12
      = f.submit action == :new ? 'Speichern' : 'Ändern', class: 'btn btn-block btn-success'