%nav.navbar.navbar-default
  .navbar-header
    = link_to title, "#", class: "navbar-brand"
  .navbar-form.navbar-right
    = link_to new_backend_backend_user_path, class: 'btn btn-default' do
      %i.fa.fa-plus
      Benutzer anlegen