.row
  .col-xs-12
    = render partial: "menu", locals: {title: "<i class='fa fa-user'></i> Backend-Benutzer".html_safe}

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th
            = '#'
          %th
            E-Mail
          %th
            Fehlgeschlagene Logins
          %th
            Rechte
          %th
            &nbsp;
      %tbody
        - @backend_users.each do |user|
          %tr
            %td
              = user.id
            %td
              = user.email
            %td
              = user.failed_attempts
            %td
              %ul
                - user.access_rights.each do |right|
                  %li
                    = t("activerecord.attributes.backend_users.access_right_entries.#{right.to_s}")
            %td
              .pull-right
                = link_to edit_backend_backend_user_path(user), class: 'btn btn-default' do
                  %i.fa.fa-pencil
                = link_to backend_backend_user_path(user), method: :delete, class: 'btn btn-danger', confirm: "#{user.email} löschen?" do
                  %i.fa.fa-trash-o

.row
  .col-xs-12.text-center
    = paginate @backend_users
