%nav.navbar.navbar-default
  .navbar-header
    = link_to @administrator.email, '#', class: 'navbar-brand'

.row
  .col-xs-6
    %h3
      Daten
    %table.table.table-bordered
      %tbody
        %tr
          %th
            = '#'
          %td
            = @administrator.id
        %tr
          %th
            = t('activerecord.attributes.administrator.email')
          %td
            = @administrator.email
        %tr
          %th
            = t('activerecord.attributes.administrator.failed_attempts')
          %td
            = @administrator.failed_attempts
        %tr
          %th
            = t('activerecord.attributes.administrator.last_login')
          %td
            = @administrator.last_sign_in_at
        %tr
          %th
            = t('activerecord.attributes.administrator.is_signed_in')
          %td
            = '<i class="fa fa-check"></i>'.html_safe unless @administrator.current_sign_in_ip.nil?

  .col-xs-6
    %h3
      Rechte
    %table.table.table-bordered
      %tbody
        - Administrator::RIGHTS_DESCRIPTIONS.each do |k, v|
          %tr
            %th
              = t(v)
            %td
              = '<i class="fa fa-check-square"></i>'.html_safe if @administrator.can_access?(k)
