%table
  %tbody
    - @languages.each_with_index do |language,index|
      %tr.language
        %td.title= I18n::t(language.iso_639_1, scope: :languages)
        %td.strength
          = hidden_field_tag "user[languages_attributes][#{index}][id]", language.id
          = select_tag "user[languages_attributes][#{index}][strength]", options_for_select(language.options_collection, language.strength),  include_blank: false, class: 'form-control'
        %td.actions
          = link_to 'Sprache löschen', internal_user_user_language_path(language), method: :delete, confirm: 'Möchtest du die Sprachen wieder aus deinem Profil entfernen?', class: 'button-delete'
