.col-xs-3
  .thumbnail-slider-horizontal
    - @images.each do |image|
      .image= image_tag image.file.url(:show_thumb_vertical), class: 'thumb', data:{'url-large' => image.file.url(:show_large)}

