%section.container.users
  .headline-bar.profile
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Profil
  .inside
    - if @flash.notice.present?
      .row.flash-message
        .col-xs-12
          .alert.alert-success
            = @flash.notice

  .inside.profile-infos
    .row
      .col-xs-4.main-image
        = render(state: :main_image)

      .col-xs-5
        .row
          .col-xs-12
            %h2
              = @user.title
        .row
          .col-xs-12
            %table.table
              %tbody
                %tr
                  %th
                    Wohnort:
                  %td
                    = @user.city
                %tr
                  %th
                    Beziehung:
                  %td
                    = I18n::t("internal.profile.show.relationships.#{@user.relationship}") unless @user.relationship.empty?
                %tr
                  %th
                    Job:
                  %td
                    = @user.job
                %tr
                  %th
                    Interessen:
                  %td
                    = @user.interests
                %tr
                  %th
                    Sprachen:
                  %td
                    = @user.language_names

                %tr.about-me
                  %th
                    Über mich:
                  %td
                    .content= @user.description
                    .truncation-links
                      = link_to 'mehr anzeigen >>', '#', class: 'readmore'
                      = link_to '<< weniger anzeigen', '#', class: 'readless'

        .row
          .col-xs-12
            = render(state: :horizontal_image_slider)

      .col-xs-3
        - if profile_editable?(@user)
          = render_cell :button, :large, 'Bearbeiten', edit_internal_user_path

- if profile_editable?(@user) && @user.has_events?
  %section.container.users
    .headline-bar.profile
      .inside
        .row
          .col-xs-6
            %h2
              %i.headline-icons.icon-person
              = "Events an denen ich teilnehme"
          .col-xs-6
            %h2
              %i.headline-icons.icon-meal
              = "Events die ich veranstalte"
    .inside
      .row
        .col-xs-6
          - if @user.participated_events.count > 0
            .event-switches
              = render_cell :button, :normal, 'Zukünftige Events', "#", id: 'upcoming_participated_events', class: 'active'
              = render_cell :button, :normal, 'Vergangene Events', "#", id: 'past_participated_events'
            %hr
            .upcoming.participated-events
              - @user.upcoming_participated_events.each do |ea|
                = render_cell :event, :participated_event_appointment_box, ea, true

            .past.participated-events
              - @user.past_participated_events.each do |ea|
                = render_cell :event, :participated_event_appointment_box, ea, true

        .col-xs-6
          - if @user.organized_events.count > 0
            .event-switches
              = render_cell :button, :normal, 'Zukünftige Events', "#", id: 'upcoming_organized_events', class: 'active'
              = render_cell :button, :normal, 'Vergangene Events', "#", id: 'past_organized_events'
            %hr
            .upcoming.organized-events
              - @user.upcoming_organized_events.each do |ea|
                = render_cell :event, :event_appointment_box, ea, true, true

            .past.organized-events
              - @user.past_organized_events.each do |ea|
                = render_cell :event, :event_appointment_box, ea, true, true

.container
  .headline-bar
    .inside
      .row
        .col-lg-12
          %h2
            %i.headline-icons.icon-feedback
            = "Feedback - "
            %small
              = "für #{@user.name}"
  .inside
    .row.rating
      .col-xs-12
        = render_cell :feedback, :user_ratings, @user

  .inside.last
    = render_cell :feedback, :user_comments, @user
