.row
	.col-xs-12
		%nav.navbar.navbar-default
			.navbar-header
				= link_to "<i class='fa fa-tachometer'></i> Dashboard".html_safe, "#", class: "navbar-brand"

.row
	- if can?(:manage, BackendUser) || can?(:manage, BlogEntry)
		- if can?(:manage, BackendUser)
			= render 'backend/dashboards/box', path: backend_backend_users_path, icon_class: "fa-user", title: "Backend-Benutzer"
		- if can?(:manage, BlogEntry)
			= render 'backend/dashboards/box', path: backend_blog_entries_path, icon_class: "fa-comments", title: "Blogeinträge"

	- if can?(:manage, Event) || can?(:manage, User)
		- if can?(:manage, User)
			= render 'backend/dashboards/box', path: backend_users_path, icon_class: "fa-group", title: "Benutzer"
		- if can?(:manage, Event)
			= render 'backend/dashboards/box', path: backend_events_path, icon_class: "fa-cutlery", title: "Events"


	- if can?(:manage, City) || can?(:view, :background_jobs)
		- if can?(:manage, City)
			= render 'backend/dashboards/box', path: backend_cities_path, icon_class: "fa-globe", title: "Städte"
		- if can?(:view, :background_jobs)
			= render 'backend/dashboards/box', path: backend_background_jobs_path, icon_class: "fa-tasks", title: "Hintergrund-Jobs"

	- if can?(:manage, Csv)
		- if can?(:manage, Csv)
			= render 'backend/dashboards/box', path: backend_user_exports_path, icon_class: "fa-arrow-down", title: "Nutzer Export"
