.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-tasks'></i> Background Jobs".html_safe, "#", class: "navbar-brand"
.row
  .col-xs-12
    %iframe{align: "center", name: "sidekiq_web", src: sidekiq_path, id: "job_stats"}