%section.container.blog-footer
  .bg-image
  .inside
    %h1
      ="Blog"
    .logo

%section.container.blog
  .inside
    #blog-entries
      - @blog_entries.each do |blog_entry|
        = render_cell :blog, :blog_entry_teaser, blog_entry
    - if @more_entries == true
      .more_linking{ data: { url: blog_entries_path } }
        %hr/
        = render_cell :button, :normal, 'Weitere Beiträge laden', '#', class: 'block', id: 'more-blog-entries-button'


    -#- if @blog_entries_count > 5
    -#  .blog-archiv
    -#    = render_cell :button, :default, "Archiv", blog_entries_archive_index_path
