%section.container.blog
  .inside
    = render_cell :blog, :blog_entry_teaser_show, @blog_entry
    .row.blog-entry-content
      .col-xs-11.col-xs-offset-1
        - @blog_entry.elements.each do |element|
          = render_cell :blog, :element, element