#gallery
  = render_cell :button, :normal, "Fotos hinzufügen (#{@object.images.try(:size)})", '#', class: 'active add-photo', "data-target" => "#image-upload-modal", "data-toggle" => "modal"

  %article.event-box-detailed
    .image.main-image
      = image_tag @object.main_image_path, class: 'main_image'
    .thumbnails
      .inside
        - @object.images.each do |image|
          .single-image
            = image_tag image.file.url(:show_thumb_horizontal), data:{'url-large' => image.file.url(:show_large)}
            = link_to internal_image_path(image, event_id: @object), class: 'delete btn btn-danger', data: @data_attributes_delete do
              %i.fa.fa-times
    .arrow.next
    .arrow.prev
