#image-upload-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", 'data-ajax-reload' => gallery_internal_event_path(@event), 'data-ajax-reload-container' => '#gallery', 'data-gallery-type' => 'verticle'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Bilderupload
      .modal-body
        = render_cell(:image, :upload, @event)
