.image_container.image{data: {'image-id' => @image.id}}
  = image_tag @image.file.url(:edit_thumb_vertical), class: 'thumb', data:{'url-large' => @image.file.url(:edit_large)}

  .hover-background.hover-element

  = link_to internal_image_path(@image), class: 'delete btn btn-danger hover-element', data: @data_attributes_delete do
    %i.fa.fa-times
  = link_to '#', class: "to-main-image btn btn-default hover-element #{@additional_class}", data: @data_attributes do
    %i.fa.fa-star