%aside.col-xs-5
  .main-image= image_tag @object.profile_image_edit, class: 'main_image', style: "background-color: #eee;"
  #checkmark
    %i.fa.fa-check.fa-lg.fa-5x
  %br/
  = render_cell :button, :medium_button, 'Speichern', type: 'submit', class: 'block active'
.col-xs-2
  .thumbnail-slider-vertical.portrait.thumbnails
    .inside
      - @object.images.each do |image|
        = render({state: :image_container}, image)


  -#.thumbnails
  -#  .inside
  -#    - @object.images.each do |image|
  -#      = render({state: :image_container}, image)

  .arrow.next
  .arrow.prev



  = render_cell :button, :medium, '<i class="fa fa-plus"></i>'.html_safe, '#', class: 'add-image', "data-target" => "#image-upload-modal", "data-toggle" => "modal"
  %p=t('internal.profile.edit.add_images')