
%hr/

.row
  .col-xs-12
    %h3 Bilder hochladen
    %h4= @event.title

%hr/

.row
  .col-xs-6.col-xs-offset-3
    = simple_form_for @event, url: backend_event_images_path(@event), method: :post, html: { multipart: true } do |f|

      = simple_fields_for :images do |ff|
        = ff.input :file, as: :file, input_html: { name: 'event[images][][file]' }

      = simple_fields_for :images do |ff|
        = ff.input :file, as: :file, input_html: { name: 'event[images][][file]' }

      = simple_fields_for :images do |ff|
        = ff.input :file, as: :file, input_html: { name: 'event[images][][file]' }

      = simple_fields_for :images do |ff|
        = ff.input :file, as: :file, input_html: { name: 'event[images][][file]' }

      = simple_fields_for :images do |ff|
        = ff.input :file, as: :file, input_html: { name: 'event[images][][file]' }

      = f.submit 'Upload', class: 'btn btn-success'
