= render 'public/event_appointments/show_top', event: @event, event_appointment: @event_appointment, price: @price, owner: @owner, total_rating: @total_rating, show_only: true


%section.container.event-details
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-feedback
            = "Deine Bewertung "

  .inside
    %br/
    = simple_form_for @rating, url: internal_event_appointment_rating_path, method: :post do |f|
      .row
        .col-xs-7
          %table.ratings-table
            %tbody
              %tr
                %td.title Gesamt
                %td.rating
                  = render_cell :form, :radios, f, :total, collection: @rating_collection, label: false
              %tr
                %td.title Location
                %td.rating
                  = render_cell :form, :radios, f, :meal, collection: @rating_collection, label: false
              %tr
                %td.title Essen
                %td.rating
                  = render_cell :form, :radios, f, :atmosphere, collection: @rating_collection, label: false
              %tr
                %td.title Atmosphäre
                %td.rating
                  = render_cell :form, :radios, f, :location, collection: @rating_collection, label: false
              %tr
                %td.title Preis|Leistung
                %td.rating
                  = render_cell :form, :radios, f, :price_performance_ratio, collection: @rating_collection, label: false


        .col-xs-5
          = f.input :message, as: :text, label: 'Nachricht'


          = render_cell :button, :medium_button, 'Event bewerten', type: 'submit', name: 'commit', class: 'block active'
