= render 'public/event_appointments/show_top', event: @event, event_appointment: @event_appointment, price: @price, owner: @owner, total_rating: @total_rating, show_only: true


%section.container.event-details
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-feedback
            = "Deine Bewertung "

  .inside
    .row.rating
      .col-xs-12
        = render 'public/shared/rating_stars', title: t('public.event_appointments.show.total'), appending_class: 'green', percentage: (@rating.total/5.0), reviews: ''
        = render 'public/shared/rating_stars', title: t('public.event_appointments.show.location'), appending_class: '', percentage: (@rating.meal/5.0), reviews: ''
        = render 'public/shared/rating_stars', title: t('public.event_appointments.show.meal'), appending_class: '', percentage: (@rating.atmosphere/5.0), reviews: ''
        = render 'public/shared/rating_stars', title: t('public.event_appointments.show.atmosphere'), appending_class: '', percentage: (@rating.location/5.0), reviews: ''
        = render 'public/shared/rating_stars', title: t('public.event_appointments.show.price_performance'), appending_class: '', percentage: (@rating.price_performance_ratio/5.0), reviews: ''

  .inside.last
    = render_cell :feedback, :comment, @rating


