%section.container
  .inside

    .box{ style: 'width: 400px; margin: 0 auto;' }
      %h2 404 Fehler

      %hr/

      %p
        Das tut uns Leid!

      %p
        Die von Dir angeforderte Seite konnte leider nicht gefunden werden. Bitte überprüfe die URL und versuche es noch einmal. Alternativ kannst du auf den unteren Knopf drücken, um viele tolle Events von Foodoo zu finden.

      %hr/

      = render_cell 'button', :small, 'Alle Events', root_path, class: 'block'
