%section.container
  .inside

    .box{ style: 'width: 400px; margin: 0 auto;' }
      %h2 Fehler bei Anmeldung

      %hr/

      %p
        Du konntest Dich leider nicht mit Facebook anmelden.

      %p
        Du musst bei der Anmeldung mit Facebook der Freigabe der geforderten Daten zustimmen. Wir verstehen, wenn Du dem nicht zustimmen möchtest. Registriere dich in diesem Fall direkt mit deiner E-Mail-Adresse bei uns.

      %hr/

      = render_cell 'button', :small, 'Kostenlos registrieren', new_user_registration_path, class: 'block link-login-popup'
