.col-xs-12.newsletter.index_show_element{ data: { success_url: success_newsletter_subscriptions_path } }
  .left-pull
  .right-pull
  .content
    .logo
    %h3.headline
      Verpasse nicht unseren Newsletter!
      %br/
      Jede Woche die tollsten Events
      %br/
      in deiner Stadt.
    .cta
      Melde Dich jetzt an.
    .form-box
      = simple_form_for @newsletter_subscription, url: newsletter_subscriptions_path, method: :post do |f|
        = f.input :city_id, label: false, input_html: { placeholder: 'Deine Stadt', class: 'newsletter_city' }
        .btn-group.newsletter_city_select
          %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.label Deine Stadt
            %span.content= @newsletter_subscription.city.name
            %span.caret
          %ul.dropdown-menu
            - @cities.each do |data|
              %li{data: {id: data.id}}
                %a= data.name


        = f.input :name, label: false, input_html: { placeholder: 'Dein Name', class: 'newsletter_name' }
        = f.input :email, label: false, input_html: { placeholder: 'Deine E-Mail', class: 'newsletter_email' }

        %button Ja - informiert mich
