//
//= require pdf/bootstrap_and_overrides
//
//= require_self
//
//= require pdf/header
//= require pdf/content
//= require pdf/footer
//

*
  font-family: 'Open Sans'
  font-size: 13px
  line-height: 1.25
  color: #000

// ------------------------------------------------
// header first page
.first-page-header
  display: none
  #first_logo
    width: 300px

// ------------------------------------------------
// header
.header
  padding-bottom: 30px
  img#logo
    width: 200px
    height: auto
    margin-right: -10px
  .pagination
    margin-top: 10px
    font-size: 13px
    text-align: left
    color: #666
    span
      font-size: 13px
      color: #666


// text-justify: inter-word

// page-break-before: always