// address block
.address-block
  margin-top: 0.5cm
  min-height: 6cm
  .return-address
    margin-bottom: 0.2cm
    padding-bottom: 0.1cm
    padding-right: 2cm
    font-size: 8px
    border-bottom: 1px solid #ddd
    color: #333
  .address
    font-size: 12px
    line-height: 1.5

// service info
.foodoo-contact-table,
.service-info-table
  margin-left: 1.2cm
  font-size: 12px
  td
    padding-bottom: 0.2cm
    text-align: left
    font-size: 12px
  td.title
    width: 3.2cm
  tr.service_date
    td.value.small
      font-size: 10px
.foodoo-contact-table
  margin-top: 1cm
.service-info-table
  margin-top: 0.5cm
  td
    font-weight: bold

// headline / content
.introduction
  p.headline
    margin-bottom: 0.8cm
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
  .introduction-text
    p
      font-size: 13px
      color: #000

// disclaimer texts
.disclaimer
  margin-top: 1cm
  p
    text-align: justify
    font-size: 10px
    color: #777
    line-height: 1.5
    page-break-inside: avoid
    &.first
      border-top: 0.03cm solid #eee
      padding-top: 0.3cm

// ---------------------------------

table,
tr,
td,
th,
tbody,
thead,
tfoot
  page-break-inside: avoid !important

// items / invoice items
.positions-table
  width: 100%
  margin: 0.8cm 0 0 0
  page-break-after: auto
  th
    vertical-align: middle
    font-size: 0.3cm
  tr
    page-break-inside: avoid
    page-break-after: auto
    th,
    td
      page-break-inside: avoid
      padding-top: 0.3cm
      padding-bottom: 0.4cm
      border-bottom: 1px solid #ddd
    &.page-break-after
      page-break-after: always !important
      page-break-before: always !important
  td.amount,
  td.provision,
  td.price
    font-weight: bold
  th.amount,
  td.amount
    width: 1.5cm
  th.price_single,
  td.price_single
    width: 2.2cm
  th.provision,
  td.provision
    width: 2.6cm
  th.ust,
  td.ust
    width: 1cm
  th.price,
  td.price
    text-align: right
    width: 3cm

.positions-result-table
  width: 100%
  margin: 0 0 0.8cm 0
  page-break-inside: avoid
  page-break-after: auto
  tr
    border: none
    page-break-inside: avoid
    page-break-before: avoid
    page-break-after: avoid
    td
      page-break-inside: avoid
      page-break-before: avoid
      page-break-after: avoid
      padding-top: 0.2cm
      padding-bottom: 0.2cm
  td
    border: none
    font-size: 12px
  td.spacer
    width: 10cm
  td.title
    text-align: right
    font-weight: bold
  td.price
    width: 3cm
    text-align: right
  tr.small
    td.price
      color: #333
  tr.large
    td
      font-size: 15px
      font-weight: bold
    td.title,
    td.price
      border-top: 1px solid #ddd






