.footer
  margin-top: 50px
  .floated
    float: left
    &.icon
      width: 10.8%
    &.data-1
      width: 27.4%
    &.data-2
      width: 36.4%
    &.data-3
      width: 25.48%

  .footer-image
    width: 0.9cm
    height: auto
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    margin: 0
    padding: 0
    font-size: 9px
    color: #777
  .content
    margin-bottom: 0px
  .pagination
    width: 100%
    margin-top: 0.2cm
    text-align: right
    font-size: 12px
    color: #666
