#logo-col
  text-align: right
  img
    width: 2.5cm
    margin-bottom: 0.6cm
    height: auto

.header
  h1,
  .address
    text-align: center
  h1
    margin: 0 0 0.1cm 0
    font-size: 0.4cm
    color: #aad542
    span
      font-size: inherit
      color: #999
  .address
    margin-bottom: 0.3cm
    font-size: 0.35cm
    line-height: 0.4cm
    color: #666