.modal-dialog
  .modal-content
    .modal-header
      %h3 Sprache hinzufügen
    .modal-body
      = simple_form_for @language, url: internal_user_user_languages_path, method: :post, html: { id: 'create-language-modal-form' } do |f|
        = f.input :iso_639_1, as: :select, collection: @iso_639_1_options, include_blank: false, input_html: { data: { live_search: "true", style: "btn-default btn-block", size: 10 } }, label: 'Sprache wählen'
    .modal-footer
      %button.btn.btn-default{ data: { dismiss: 'modal' } } Zurück
      %button.btn.btn-success#create-btn Sprache hinzufügen
