.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-group'></i> Benutzer".html_safe, "#", class: "navbar-brand"

.row 
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-xs-1.centered
          %th.col-xs-2
            = "Name"  
          %th.col-xs-5
            = t('backend.controls.email')
          %th.col-xs-2
      %tbody
        - @users.each do |user|
          %tr
            %td
              = image_tag user.profile_image_thumb_small
            %td
              = user.name
            %td
              = user.email
            %td
              .pull-right
                = link_to 'Anzeigen', backend_user_path(user), class: 'btn btn-default'
