.row
  .col-xs-12
    %nav.navbar.navbar-default
      .navbar-header
        = link_to "<i class='fa fa-group'></i> #{@user.name} (#{@user.email})".html_safe, "#", class: "navbar-brand"

%h3
  = t('backend.users.show.general_data')

%table.table.table-bordered
  %tbody
    %tr
      %td.col-xs-3{rowspan: 10}
        = image_tag @user.profile_image
      %td.col-xs-2.headline
        = t('activerecord.attributes.user.email')
      %td.col-xs-7
        = @user.email
    %tr
      %td.headline
        = t('activerecord.attributes.user.name')
      %td
        = @user.name
    %tr
      %td.headline
        = t('activerecord.attributes.user.city')
      %td
        = @user.city
    %tr
      %td.headline
        = t('activerecord.attributes.user.phone')
      %td
        = @user.phone
    %tr
      %td.headline
        = t('activerecord.attributes.user.date_of_birth')
      %td
        = @user.date_of_birth
    %tr
      %td.headline
        = t('activerecord.attributes.user.job')
      %td
        = @user.job
    %tr
      %td.headline
        = t('activerecord.attributes.user.relationship')
      %td
        = @user.relationship
    %tr
      %td.headline
        = t('activerecord.attributes.user.languages')
      %td
        = @user.language_names
    %tr
      %td.headline
        = t('activerecord.attributes.user.interests')
      %td
        = @user.interests
    %tr
      %td.headline
        = t('activerecord.attributes.user.description')
      %td
        = @user.description

%h3
  = t('backend.users.show.addresses')

- @user.addresses.each do |address|
  %table.table.table-bordered.addresses
    %tbody
      %tr
        %td.col-xs-2.headline
          = t('activerecord.attributes.address.company')
        %td.col-xs-9
          = address.company
      %tr
        %td.headline
          = t('activerecord.attributes.address.firstname')
        %td
          = address.firstname
      %tr
        %td.headline
          = t('activerecord.attributes.address.lastname')
        %td
          = address.lastname
      %tr
        %td.headline
          = t('activerecord.attributes.address.salutation')
        %td
          = address.salutation
      %tr
        %td.headline
          = t('activerecord.attributes.address.addition')
        %td
          = address.addition
      %tr
        %td.headline
          = t('activerecord.attributes.address.city')
        %td
          = address.city
      %tr
        %td.headline
          = t('activerecord.attributes.address.country')
        %td
          = address.country
      %tr
        %td.headline
          = t('activerecord.attributes.address.street')
        %td
          = address.street
      %tr
        %td.headline
          = t('activerecord.attributes.address.zip')
        %td
          = address.zip

%h3
  = t('backend.users.show.images')

.row.images
  - @user.images.each do |img|
    .col-xs-1
      = image_tag img.file.url(:show_thumb_vertical)
