- @events.each do |event_appointment|
  .col-xs-6.event_appointment_box.event.index_show_element{'data-id' => event_appointment.id}
    = render_cell :event, :event_appointment_box, event_appointment, false, true, event_appointment.sold?