body.backend-accountbalances
  .account-balance
    font-size: 16px
    color: #AAAAAA
    &:hover
      text-decoration: none
    .balance
      font-size: 26px
  .transactions
    a
      color: #333333
    .result
      td
        text-decoration: underline
        font-size: 20px
  .add-balance
    margin-top: 15px
