.backend-backgroundjobs
  #job_stats
    float: left
    width: 100%
    height: 1000px
    border: none
    -moz-box-shadow: 0px 0px 4px #666
    -webkit-box-shadow: 0px 0px 4px #666
    box-shadow: 0px 0px 4px #666