//
//= require public/bootstrap_and_overrides
//= require jquery-ui
//= require nprogress
//
//= require_self
//= require backend/user
//= require backend/account_balances
//= require backend/user_invoices
//= require backend/dashboard
//= require backend/blog_entries
//= require backend/background_jobs
//= require backend/events

// color for a negative or positive transaction or balance value
.positive
  color: #2ECC40
.negative
  color: #FF4136

.navbar-form
  &.navbar-right:last-child
    margin-right: -5px

.nav.nav-pills
  li.active
    a
      background-color: #aad542
      color: white
      &:hover
        background-color: #aad542
  li
    a
      color: #aad542
      &:hover
        background-color: #fff
