.backend-blogentries
  .spacer
    margin: 15px 0
  .form-actions
    text-align: center
    margin-bottom: 30px
  .form-group.date
    #blog_entry_date_3i
      // width: 100px
      float: left
      margin-right: 10px
    #blog_entry_date_2i
      // width: 150px
      float: left
      margin-right: 10px
    #blog_entry_date_1i
      // width: 100px
      float: left
      margin-right: 10px
    label
      float: left
      margin-right: 20px

  table.blog-entries
    tbody
      tr
        height: 95px
    td
      vertical-align: middle
    .centered
      text-align: center
    img
      width: 80px
      height: 80px
    a.fixed-witdh
      &.small
        width: 38px
      &.medium
        width: 120px
  .element
    width: 844px
    padding-bottom: 25px
    &:hover
      background-color: #f5f5f5
    > hr
      margin-top: 0
    .image
      img
        width: 100%
        height: auto
  .element-actions
    text-align: right
    margin-bottom: 15px

#blog_entry_form
  width: 1000px
  margin: 0 auto

  .blog_entry_teaser_text
    .mce-toolbar-grp
      button
        padding: 4px 7px 3px 7px
      i
        font-size: 11px
  .blog-entry
    margin-top: 20px
    margin-bottom: 20px
    background-color: #f5f5f5
    padding: 30px 0
    .date
      width: 70px
      height: 110px
      overflow: hidden
      .month
        width: 70px
        height: 25px
        background-color: #d5ec9d
        p
          text-align: center
          font-size: 11px
          font-weight: 700
          color: #000
          padding-top: 5px

      .day
        width: 70px
        height: 50px
        background-color: #aad542
        p
          line-height: 1.2
          text-align: center
          font-size: 40px
          font-weight: 700
          color: #fff
          text-shadow: 1px 1px 1px #212121

      .year
        width: 70px
        height: 35px
        p
          color: #e5e5e5
          text-align: center
          font-size: 30px
          font-weight: 100

    .image
      background-color: #eee
      width: 330px
      height: 230px
      img
        width: 330px
        height: 230px

    .text
      .headline
        color: #1d1d1d
        font-size: 22px
        margin-top: 10px
        width: 500px
      .teaser-text
        color: #4e4e4e
        font-size: 14px
        width: 500px
        height: 125px
        &.large
          height: 170px

      .read-more
        width: 500px
        position: absolute
        top: 185px
    .socials
      position: absolute
      width: 30px
      left: 540px
      top: 45px
      a
        display: block
        width: 30px
        height: 30px
        margin: 3px 0
        background-color: red
        background-image: asset-data-url('links-sprite.png')
        &.facebook
          background-position: 0 0
        &.google
          background-position: 0 -31px
        &.twitter
          background-position: 0 -62px
        &.mail
          background-position: 0 -93px