a.navbar-brand.green
  color: #aad542
  &:hover
    color: #aad542

.backend-dashboards.show
  .dashboard-box
    text-align: center

  a.green
    color: #aad542
    &:hover
      text-decoration: none
      color: #83a633
      h4
        color: #535353
    h4
      color: #7f7f7f