.backend-events.index
  .navbar
    .divider
      width: 20px
      height: 40px
      margin-left: 20px
      border-left: 1px solid #ccc
  td.price
    span
      font-size: 12px
      color: #666
      &.no-invoice
        color: #bbb



.backend-events.show,
.backend-events.edit,
.backend-events.update
  h3
    margin-top: 5px
    margin-bottom: 0
  .state
    text-align: right
    font-size: 23px
    a
      color: #ccc
      &.approved
        color: #1dab39
      &.waiting_for_approval
        color: #cab426
  table.data,
  table.desc,
  table.owner
    font-size: 12px
