@import compass/css3/border-radius

body.backend-users
  .payment-data, .addresses
    .index
      vertical-align: middle
      text-align: center
      max-width: 20px
      font-size: 20px
      font-weight: bold
      .main_addrees
        font-size: 13px

  .account-balance
    font-size: 16px
    color: #AAAAAA
    &:hover
      text-decoration: none
      .balance
        text-decoration: underline
    .balance
      font-size: 26px


  &.show
    table
      td.headline
        font-weight: 800
        text-align: right

    .row.images
      img
        +border-radius(10px)
        padding-right: 5px
      margin-bottom: 50px
