.internal-ratings.new,
.internal-ratings.create
  textarea[name="event_rating[message]"]
    height: 190px
  .ratings-table
    td
      padding-bottom: 5px
    td.title
      width: 150px
      font-weight: bold
      text-align: right
    td.rating
      padding-left: 20px
    .button-radios
      margin-bottom: 0
      label.fbtn
        margin-bottom: 0