%section.container
  .inside
    .row
      .col-xs-6.col-xs-offset-3
        %h1= t('passwords.edit.headline')
      .clearfix
      .col-xs-6.col-xs-offset-3
        .auth-form-box
          - if flash[:alert].present?
            .alert.alert-warning= flash[:alert]
          = simple_form_for(resource, as: resource_name, url: edit_user_password_path, method: :put) do |f|
            = f.input :reset_password_token, as: :hidden, value: params[:reset_password_token]
            = f.input :password, required: false, label_html: { class: 'is-visually-hidden' }, placeholder: t('simple_form.labels.user.password')
            = f.input :password_confirmation, required: false, label_html: { class: 'is-visually-hidden' }, placeholder: t('simple_form.labels.user.password_confirmation')
            .buttons
              = render_cell :button, :default_button, t('passwords.edit.button'), name: 'commit', type: 'submit', class: 'active block'

          .links= render "users/shared/links"