%section.container
  .inside
    .row
      .col-xs-6.col-xs-offset-3
        %h1= t('passwords.new.headline')
      .clearfix
      .col-xs-6.col-xs-offset-3
        .auth-form-box
          - if flash[:alert].present?
            .alert.alert-warning= flash[:alert]
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
            = f.input :email, required: false, autofocus: true, label_html: { class: 'is-visually-hidden' }, placeholder: t('simple_form.labels.user.email'), input_html: { autocomplete: 'off', autocorrect: 'off' }
            .buttons
              = render_cell :button, :default_button, t('passwords.new.button'), name: 'commit', type: 'submit', class: 'active block'

          .links= render "users/shared/links"