.btn-group
  %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", id: @id}
    %strong
      = @strong_text
    - if @search_attribute.present?
      = @button_text
    - else
      = @button_default_text

    %span.caret
  %ul.dropdown-menu
    - @data.each do |data|
      %li{data: {id: data[1]}}
        %a
          =data[0]