%tr.bordered
  %td{rowspan: 2}
    = link_to user_path(@participation.user) do
      = image_tag @participation.user.main_image.file.url(:image_thumb_small), size: '55x60'
  %td{colspan: 2}
    %h4
      = @participation.user.name
      - if @participation.guests_count > 0
        (+
        = @participation.guests_count
        )
  %td{rowspan: 2}
    - if @participation.uninvited?
      Wurde ausgeladen
    - elsif @participation.canceled?
      Hat abgesagt
    - elsif @participation.not_appeared?
      Nicht erschienen
    - elsif @participation.accepted? && !@event_appointment.past?
      = link_to 'Ausladen', internal_event_appointment_uninvite_path(@event_appointment, @participation), method: 'delete', confirm: 'Möchten Sie diesen Nutzer wirklich ausladen?', class: 'btn btn-default'

    - elsif @participation.mark_as_not_appeared_possible? && !@event_appointment.closing_possible?
      = link_to 'Nicht erschienen', internal_event_appointment_not_appear_path(@event_appointment, @participation), method: 'delete', confirm: 'Ist dieser Nutzer wirklich nicht erschienen?', class: 'btn btn-default'
    - elsif !@participation.mark_as_not_appeared_possible?
      Gast wurde ausgeladen
    - elsif @event_appointment.closing_possible?
      Gast wurde verbucht
%tr
  %td.email
    %h5
      - if @participation.user.email?
        %i.fa.fa-envelope
        = @participation.user.email
  %td.phone
    %h5
      - if @participation.user.phone?
        %i.fa.fa-phone
        = @participation.user.phone
