- if @participations.active_ones.present?
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Teilnehmer
  .inside
    .row
      .col-xs-8.participations
        %table.table
          - @participations.active_ones.each do |participation|
            = render({state: :participation}, participation)

- if @participations.not_appeared_ones.present?
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Nicht erschienen
  .inside
    .row
      .col-xs-8.participations
        %table.table
          - @participations.not_appeared_ones.each do |participation|
            = render({state: :participation}, participation)

- if @participations.canceled_ones.present?
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Abgesagt
  .inside
    .row
      .col-xs-8.participations
        %table.table
          - @participations.canceled_ones.each do |participation|
            = render({state: :participation}, participation)

- if @participations.uninvited_ones.present?
  .headline-bar
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            Ausgeladen
  .inside
    .row
      .col-xs-8.participations
        %table.table
          - @participations.uninvited_ones.each do |participation|
            = render({state: :participation}, participation)
