.row
  .col-xs-12
    %h1
      Nutzer Export
    = link_to 'Export starten', backend_user_exports_path, method: :post, class: 'btn btn-success pull-right'

.row
  .col-xs-12
    %table.table
      %thead
        %tr
          %th
            Name
          %th
            Termin
          %th
            Download
      - @csvs.each do |csv|
        %tr
          %td
            = csv.filename
          %td
            = l csv.created_at
          %td
            = link_to 'Download', backend_user_export_path(csv, format: :csv), class: 'btn btn-default'
