%h1
  Modertation: Neues Events

%p
  Es wurde ein neues Event angelegt.

%table.button
  %tr
    %td.text-pad
      %center
        = link_to('Zum Event im Backend', backend_event_url(@event))

%p.small
  Sollte der oben stehende Button nicht funktionieren, rufe #{link_to(backend_event_url(@event), backend_event_url(@event))} in deinem Browser auf.

%hr/

%p
  Titel: "#{@event.title}"

%hr/

%br/

%p
  %b Event-Termine im Frontend

- @event.event_appointments.each do |appointment|
  %table.button.secondary
    %tr
      %td.text-pad
        %center
          = link_to event_appointment_url(appointment) do
            Termin am
            #{I18n::l(appointment.start_time)}
