%h1
  - if @guests_count_all == 1
    Ein neuer Gast
  - else
    #{@guests_count_all} neue Gäste

%p
  - if @guests_count_all == 1
    Folgender Gast hat sich bei deinem Event angemeldet.
  - else
    Folgende Gäste haben sich bei deinem Event angemeldet.
%ul
  %li
    = link_to user_url(@participation.user) do
      - if @guests_count_all == 1
        %strong= @participation.user.name
      - elsif @guests_count_all == 2
        %strong= @participation.user.name
        mit einem weiterem Gast
      - else
        %strong= @participation.user.name
        mit #{@guest_count} weiteren Gästen

%p
  = link_to event_appointment_url(@appointment), style: 'color: #333 !important;' do
    %strong Event:
    #{@event.title} am #{I18n::l(@appointment.start_time, format: :default)}



%br/
%hr/
%br/

%p.small
  Möchtest du dir deine Events anschauen? #{link_to('Deine Foodoo-Events', internal_user_url)}

