%h1 Deine Eventteilnahme wurde abgelehnt

%p
  Leider müssen wir dir mitteilen, dass deine Teilnahme am Event
%p

%ul
  %li
    %strong #{@event.title}
    am #{I18n::l(@appointment.start_time, format: :default)}

%p
  abgelehnt wurde.

%br/
%hr/
%br/

%p.small
  Möchtest du dir weitere Events anschauen? #{link_to('Heutige Foodoo-Events', root_url)}