%h1
  - if @guests_count_all == 1
    Ein Gast hat abgesagt
  - else
    #{@guests_count_all} Gäste haben abgesagt

%p
  Leider müssen wir dir mitteilen,
  - if @guests_count_all == 1
    dass folgender Gast leider abgesagt hat:
  - else
    dass folgende Gäste leider abgesagt haben:
%ul
  %li
    = link_to user_url(@participation.user) do
      - if @guests_count_all == 1
        %strong= @participation.user.name
      - elsif @guests_count_all == 2
        %strong= @participation.user.name
        mit einem weiterem Gast
      - else
        %strong= @participation.user.name
        mit #{@guest_count} weiteren Gästen

%p
  %strong Event:
  #{@event.title} am #{I18n::l(@appointment.start_time, format: :default)}



%br/
%hr/
%br/

%p.small
  Möchtest du dir deine Events anschauen? #{link_to('Deine Foodoo-Events', internal_user_url)}

