%h1 Eventinformationen bearbeitet

%p
  Du nimmst an einem Event teil, welches gerade vom Veranstalter aktualisiert wurde:
%ul
  %li
    = link_to event_appointment_url(@appointment) do
      %strong #{@event.title}
      am #{I18n::l(@appointment.start_time, format: :default)}

%br/
%hr/
%br/

%p.small
  Möchtest du dir weitere Events anschauen? #{link_to('Heutige Foodoo-Events', root_url)}