%h1 Event wurde abgesagt

%p
  Leider müssen wir dir mitteilen, dass folgendes Event vom Veranstalter abgesagt wurde:
%ul
  %li
    %strong #{@event.title}
    am #{I18n::l(@appointment.start_time, format: :default)}

%br/
%hr/
%br/

%p.small
  Möchtest du dir weitere Events anschauen? #{link_to('Heutige Foodoo-Events', root_url)}