%h1 Event bewerten

%p
  Du hast an folgendem Event teilgenommen:
%ul
  %li
    = link_to event_appointment_url(@appointment) do
      %strong #{@event.title}
      am #{I18n::l(@appointment.start_time, format: :default)}

%p
  Bewerte das Event schreibe einen Kommentar an die Pinnwand des Veranstalters.

%table.button
  %tr
    %td.text-pad
      %center
        = link_to('Event jetzt bewerten', new_internal_event_appointment_rating_url(@appointment))

%p.small
  Sollte der oben stehende Button nicht funktionieren, rufe #{link_to(new_internal_event_appointment_rating_url(@appointment), new_internal_event_appointment_rating_url(@appointment))} in deinem Browser auf.