%h1
  Neue Bewertung

%p
  Einer deiner Gäste hat dein Event bewertet. Schau dir die Meinung an:
  %br/
  %br/


%table.button
  %tr
    %td.text-pad
      %center
        = link_to('Zum Event', event_appointment_url(@appointment))

%hr/
%br/

%p.small
  Möchtest du dir deine Events anschauen? #{link_to('Deine Foodoo-Events', internal_user_url)}

