= @form.simple_fields_for :event_appointments, @event_appointment, child_index: @index do |sub_form|
  = link_to '#', class: 'btn btn-default add-repetition', data: {index: @index, form: CGI::escapeHTML(render_cell(:form, :repetition_inputs, sub_form, @event_appointment, @index))} do
    %i.fa.fa-plus
    = t('internal.event.create.repeat_event')
