.row
  .col-xs-2.form
    = @form.input :start_time_date, as: :date_picker, input_html:{ class: 'small inline' }, label: t('simple_form.labels.event.date')
  .col-xs-2.form
    = @form.input :start_time_time, as: :time_picker, input_html:{ class: 'small inline' }, label: t('simple_form.labels.event.time')
  .col-xs-2.form
    = @form.input :_destroy, as: :hidden
    %button.btn.btn-default.destroy
      %i.fa.fa-trash-o
