.form-group.button-radios{class: @css_class}
  - if @show_label
    = @form.label @name
    %br
  = @form.collection_radio_buttons(@name, @attributes[:collection], :last, :first) do |b|
    = b.label class: "#{@attributes[:input_html][:class]}" do
      = b.radio_button
      .left
      .content
        = b.text
      .right
  = @error

