.form-group{class: @css_class}
  - if @show_label
    = @form.label @name
  %br
  = @form.collection_check_boxes(@name, @attributes[:collection], :last, :first) do |b|
    = b.label class: "#{@attributes[:input_html][:class]}" do
      = b.check_box
      .left
      .content
        = b.text
      .right
  = @error

