@import public/definitions
@import compass/css3/transition

#event-gallery-editor
  .single-image
    position: relative
  .thumbnails
    position: relative
    img
      +transition-property(opacity)
      +transition-duration(0.5s)
    a.delete, a.to-main-image
      +transition-property(opacity)
      +transition-duration(0.5s)
      position: absolute
      opacity: 0.0
      top: 25px
      &.delete
        left: 42px
      &.to-main-image
        &.highlight
          color: #add648
        left: 62px
    &:hover img
      opacity: 0.1
    &:hover a
      opacity: 1.0
  .add-photo
    margin-top: 15px
  .event-box-detailed
    position: relative
    z-index: 20
    margin: 20px 0 30px 0
    padding-top: 4px
    padding-left: 8px
    height: 360px
    .image
      position: relative
      float: left
      z-index: 20
      width: 450px
      max-width: 450px
      height: 292px
      max-height: 292px
      overflow: hidden
      background-color: #eee
      img
        position: absolute
  .thumbnails
    position: relative
    float: left
    z-index: 20
    margin-left: 15px
    width: 120px
    height: 292px
    max-height: 320px
    overflow: hidden
    background-color: #eee
    img
      height: 79px
      overflow: hidden
      margin-bottom: 2px
    .inside
      position: relative
      top: -1px
  .arrow
    position: absolute
    width: 24px
    height: 8px
    left: 522px
    cursor: pointer
    top: 300px
    &.next
      background: asset-url('thumbnail-arrow-top.png') 0 0 no-repeat
      margin-top: -309px
    &.prev
      background: asset-url('thumbnail-arrow-bottom.png') 0 0 no-repeat
