%section.container.users
  .headline-bar.profile
    .inside
      .row
        .col-xs-12
          %h2
            %i.headline-icons.icon-person
            = t('internal.profile.edit.title')
  .inside.form
    - if flash.notice.present?
      .row.flash-message
        .col-xs-12
          .alert.alert-success
            = flash.notice
    - if @user.errors.any?
      .row.flash-message
        .col-xs-12
          .alert.alert-warning
            = @user.full_error_messages

    = simple_form_for @user, url: internal_user_path, html: { id: 'edit_user_form' } do |f|
      .row
        #gallery{data: {'image-delete-tooltip' => I18n::t('internal.profile.edit.delete_image'), 'image-is-main-image-tooltip' => I18n::t('internal.profile.edit.is_main_image'), 'image-set-main-image-tooltip' => I18n::t('internal.profile.edit.set_as_main_image')}}
          = render_cell :gallery, :show, @user, :user
          = f.input :main_image_id, as: :hidden
        .col-xs-5
          = render_cell :form, :radios, f, :gender, collection: @user.genders, required: true
          = f.input :name, hint: t('internal.profile.edit.name_hint')
          = f.input :date_of_birth, end_year: Time.now.year - 100, start_year: Time.now.year - 18, include_blank: true

          = render_cell :form, :radios, f, :newsletter_city_id, collection: @user.cities, input_html: {class: 'fbtn-square-info hover'}, label: t('simple_form.labels.user.newsletter_cities')

          = f.input :job
          = f.input :city
          = f.input :phone
          = f.input :relationship, collection: @user.possible_relationships, include_blank: false
        .clearfix
        .col-xs-12
          %hr/
        .clearfix
        .col-xs-6
          = f.input :interests
        .col-xs-6
          = f.input :description
        .clearfix
        .col-xs-12
          %hr/
        .clearfix
        .col-xs-8.col-xs-offset-4
          %label Sprachen
        .clearfix
        .col-xs-4
          = link_to 'Weitere Sprache hinzufügen', new_internal_user_user_language_path, class: 'btn btn-default btn-block', id: 'add-language-button'
        .col-xs-8
          .languages{ data: { url: internal_user_user_languages_path } }
            = render_cell :user, :edit_languages_index, @user.languages
        .clearfix
        .col-xs-12
          %hr/
        .clearfix
        .col-xs-12
          = f.input :newsletter_subscription, as: :boolean


- content_for :modal do
  #add-language-modal.modal.fade{ role: 'dialog', tabindex: '-1', aria: { hidden: true, labelledby: 'add-info-language-label' } }
  #image-upload-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", 'data-ajax-reload-url' => gallery_internal_user_path, 'data-ajax-reload-container' => '#gallery', 'data-gallery-type' => 'vertical'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title
            = t('internal.profile.edit.image_upload')
        .modal-body
          = render_cell(:image, :upload)
