= render_cell(:user, :profile, @user)

- content_for :modal do
  #contact-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contact-modal", :role => "dialog", :tabindex => "-1", data: { show: "true" }}