%article.event-box{ class: @state_css_class }
  .event-date-wrapper
    - if @extended_view
      .social-sharing
        = render_cell :social, :facebook_share, @appointment
  .event-box-wrapper
    %header
      .rating
        =render 'public/shared/rating_stars', percentage: @percentage, appending_class: '', title: '', reviews: @reviews
      .sex-direction
        - if @event.dating?
          =render 'public/shared/sex_direction_icons', event: @event, appending_class: "fa-lg"

      .text-wrapper
        = link_to event_appointment_path(@appointment), class: 'headline' do
          %h2= @event.title
          %p= @description
        .gradient

    = link_to event_appointment_path(@appointment) do
      .image
        .sold-overlayer
          .stamp
        .done-overlayer
          .stamp
        = image_tag @event.main_image_path
    = link_to event_appointment_path(@appointment) do
      .event-type{ class: @event.category.try(:name) }

    .time
      %time.clock{ time: "#{@appointment.formatted_start_time}" }
        = "#{@appointment.start_time_hours}:#{@appointment.start_time_minutes}"
      %time.month
        = @appointment.formatted_start_month
      %time.day
        = @appointment.formatted_start_day
      %time.weekday
        = @appointment.formatted_start_time_weekday

    .meta.clearfix
      .price= "#{@price},-"
      .author-icon
        = link_to image_tag(@owner.profile_image_thumb_small), event_appointment_path(@appointment)
      = link_to @owner.truncated_title, event_appointment_path(@appointment), class: 'author', rel: 'author'
      .city
        %p= @event.truncated_full_city_name

      - if @appointment.places_left == 1
        .free-places= "<strong>#{@appointment.places_left}</strong> #{t('public.event_appointments.show.free_place')}".html_safe
      - else
        .free-places= "<strong>#{@appointment.places_left}</strong> #{t('public.event_appointments.show.free_places')}".html_safe

    %footer
      - if @extended_view
        .controls
          - if @cancellation
            = render_cell :button, :normal, 'Teilnahme absagen', internal_event_appointment_participation_path(@appointment), method: :delete, class: 'active', confirm: 'Wollen Sie das Event wirklich absagen?'
          - else
            - unless @appointment.past?
              = render_cell :button, :normal, 'Event absagen', internal_event_appointment_destroy_path(@appointment), method: :delete, confirm: 'Wollen Sie das Event wirklich absagen?'
              = render_cell :button, :normal, 'Event bearbeiten', edit_internal_event_appointment_path(@appointment), class: 'active'

          - if @contactable
            = link_to "Kontaktdaten ansehen", internal_event_event_data_path(@appointment.event), class: "btn btn-warning #{"offset" if @cancellation}", id: "contact-btn"
      - if @show_participations
        %ul.clearfix
          - @appointment.sorted_guests_index.each do |element|
            - if element[:type] == :person
              %li
                = link_to event_appointment_path(@appointment) do
                  = image_tag element[:image_url], size: '55x60', alt: element[:name]
            - elsif element[:type] == :guest
              %li.visitor
                .overlay +1
                = link_to event_appointment_path(@appointment) do
                  = image_tag element[:image_url], size: '55x60', alt: element[:name]
            - elsif element[:type] == :free
              %li.free
            - elsif element[:type] == :more
              %li.more
                %i.fa.fa-plus
