#event-data
  .row.center
    .col-xs-12
      %h3
        = t('public.participations.event_data.location')
  .row
    .col-xs-3.divider
      %h4
        = t('public.participations.event_data.address')
      %p
        = @event.person_name
        %br/
        = @event.full_address
    .col-xs-3.divider
      %h4
        = t('public.participations.event_data.ring_at')
      %p
        = @event.ring_at
    .col-xs-3.divider
      %h4
        = t('public.participations.event_data.floor')
      %p
        = @event.floor
    .col-xs-3
      %h4
        = t('public.participations.event_data.address_details')
      %p
        = @event.address_addition

  .row.center
    .col-xs-12
      %p.green
        = t('public.participations.event_data.cook-contact')
      %p.green
        - if @event.phone
          = "#{@event.phone} bzw. "

        = "#{@event.owner.email}"