- if @display_circle
  .map#google-map{class: "undetailed", data: {latitude: @latitude, longitude: @longitude}}
- else
  .map#google-map{class: "detailed", data: {latitude: @latitude, longitude: @longitude}}