!!! 5
:plain
  <!--[if lt IE 7]>      <html lang="#{I18n.locale.to_s}" class="no-js lt-ie9 lt-ie8 lt-ie7" data-placeholder-focus="false"> <![endif]-->
  <!--[if IE 7]>         <html lang="#{I18n.locale.to_s}" class="no-js lt-ie9 lt-ie8" data-placeholder-focus="false"> <![endif]-->
  <!--[if IE 8]>         <html lang="#{I18n.locale.to_s}" class="no-js lt-ie9" data-placeholder-focus="false"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="#{I18n.locale.to_s}" class="no-js" data-placeholder-focus="false"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ content: 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=-100%' }
  %meta{ name: 'description', content: view_config.page_meta_description }
  %meta{ name: 'robots', content: view_config.page_meta_robots }
  %meta{ property: 'fb:app_id', content: '752277944802771' }
  %meta{ property: 'og:title', content: view_config.page_title }
  %meta{ property: 'og:url', content: view_config.page_meta_canonical || request.original_url }
  %meta{ property: 'og:description', content: view_config.page_meta_description }
  %meta{ property: 'og:locale', content: 'de_DE' }
  %meta{ property: 'og:site_name', content: 'Foodoo' }
  %meta{ name: 'twitter:site', content: 'foodoo_DE' }
  %meta{ name: 'twitter:title', content: view_config.page_title }
  %meta{ name: 'twitter:description', content: view_config.page_meta_description }
  - if view_config.page_meta_canonical.present?
    %link{ rel: 'canonical', href: view_config.page_meta_canonical }
  %link{ rel: 'icon', href: "/favicon.ico" }
  %link{ rel: 'apple-touch-icon', href: image_url('apple-touch-icon.png') }
  %title= view_config.page_title


  = "<!--[if lt IE 9]>#{javascript_include_tag('html5shiv')}<![endif]-->".html_safe
  = csrf_meta_tags

  :javascript
    document.documentElement.className = 'js-available';

  - if content_for?(:stylesheet_libs)
    = stylesheet_link_tag yield(:stylesheet_libs), media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag yield(:stylesheet), media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag yield(:javascript), 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false

  = yield :header_tags
%body{ class: view_config.body_classes, data: { google_maps_api_key: Settings.google_maps_api_key } }
  = yield :content
  = render_cell(:page, :debug)
  = #javascript_include_tag yield(:javascript), :'data-turbolinks-eval' => false
  = yield :bottom_js

:plain
  </html>
