- content_for :stylesheet, "backend/base"
- content_for :javascript, "backend/base"

- content_for :header_tags do
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %link{ href: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css' }

- content_for :content do
  #wrapper
    = render_cell('backend/page', :navigation, current_backend_user)
    .container
      = render_cell('backend/page', :flash_messages)
      = yield
    .push

= render :template => 'layouts/application'
