- content_for :stylesheet_libs, 'public/base_libs'
- content_for :stylesheet, "public/base"
- content_for :javascript, "public/base"

- content_for :header_tags do
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %link{ href: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css' }

- content_for :content do
  #wrapper
    = yield
    .push

= render :template => 'layouts/application'
