!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title PDF
    = wicked_pdf_stylesheet_link_tag 'pdf/base'
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
  %body
    = yield
