- content_for :stylesheet_libs, 'public/base_libs'
- content_for :stylesheet, 'public/base'
- content_for :javascript, 'public/base'

- content_for :header_tags do
  %link{ href: 'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css' }

- content_for :content do
  #wrapper
    = render partial: 'public/shared/header'
    = yield
    .push
  = render partial: 'public/shared/footer'
  = yield :modal
  #login-modal.modal.fade{ role: 'dialog', tabindex: "-1", data: { show: "true" }, aria: { hidden: 'true', labelledby: 'login-modal-label' }}

- content_for :bottom_js do
  - if Rails.env.production?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50814466-1', 'foodoo.de');
      ga('send', 'pageview');

= render :template => 'layouts/application'
