!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %link{href: "/assets/public_mailer/base.css", rel: "stylesheet", type: "text/css"}/
  %body
    %table.body
      %tr
        %td.center{ align: :center, valign: :top }
          %center

            / header
            %table.row.header
              %tr
                %td.center{ align: :center }
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.four.sub-columns.logo
                                %img{ src: "#{Settings.asset_host}/mailing_assets/logo.png", id: 'logo', size: '190x43', alt: 'fooodoo' }
                              %td.eight.sub-columns.last.headline
                                %h1= yield :headline

            / content
            %table.container#content-container
              %tr
                %td
                  #content
                    %table.row
                      %tr
                        %td.wrapper.last.first-element
                          = yield

            / footer
            %table.row.footer-1
              %tr
                %td.wrapper.center{ align: :center }
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.six.sub-columns.left
                                %p.copyright
                                  = I18n::t('mailer.layout.copyright', current_year: Time.now.year).html_safe
                                %p.url= link_to I18n::t('mailer.layout.url_text'), root_url
                              %td.six.sub-columns.right
                                %p.links
                                  = link_to I18n::t('mailer.layout.links.blog'), blog_entries_url
                                  = "|"
                                  = link_to I18n::t('mailer.layout.links.imprint'), imprint_url
                                  = "|"
                                  = link_to I18n::t('mailer.layout.links.contact'), contact_url
