%h1 Willkommen bei foodoo

%p
  Die Gültigkeit deiner E-Mail-Adresse muss bestätigt werden. Klicke hierfür auf den unten stehenden Button:

%table.button
  %tr
    %td.text-pad
      %center
        = link_to('E-Mail-Adresse bestätigen', confirmation_url(@resource, :confirmation_token => @token))

%p.small
  Sollte der oben stehende Button nicht funktionieren, rufe #{link_to(confirmation_url(@resource, :confirmation_token => @token), confirmation_url(@resource, :confirmation_token => @token))} in deinem Browser auf.