%h1 Passwort zurücksetzen

%p
  Es wurde eine Passwortänderung beantragt. Du kannst dein Passwort über den unten stehenden Button ändern:

%table.button
  %tr
    %td.text-pad
      %center
        = link_to('Passwort ändern', edit_password_url(@resource, :reset_password_token => @token))

%p.small
  Wenn du diese E-Mail nicht angefordert hast, ignoriere sie. Dein Passwort wird nicht geändert, bis der obige Link
  aufgerufen und ein neues Passwort gesetzt wurde.
%p.small
  Sollte der oben stehende Button nicht funktionieren, rufe #{link_to(edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token))} in deinem Browser auf.
