%h1 Konto gesperrt

%p
  Beim Login wurden zu oft falsche Daten eingetragen. Deshalb ist dein Konto jetzt gesperrt.

%p
  Um das Konto wieder freizuschalten, klicke auf den unten stehenden Button:

%table.button
  %tr
    %td.text-pad
      %center
        = link_to('Konto entsperren', unlock_url(@resource, :unlock_token => @token))

%p.small
  Sollte der oben stehende Button nicht funktionieren, rufe #{link_to(unlock_url(@resource, :unlock_token => @token), unlock_url(@resource, :unlock_token => @token))} in deinem Browser auf.