%section.container
  .inside
    .row
      .col-xs-6.col-xs-offset-3
        %h1= t('registrations.new.headline')
      .clearfix
      .col-xs-6.col-xs-offset-3
        = render partial: 'form', resource: resource, resource_name: resource_name
